<!--_meta 作为公共模版分离出去-->
{include file="Common/meta" /}
	<!--/meta 作为公共模版分离出去-->
	<title>新增轮播图 - 轮播图新增 </title>
	<meta name="keywords" content="h-ui.admin.pro v1.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="h-ui.admin.pro v1.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
    
</head>
<body>
	<article class="clearfix pd-20" id="edit">
        <el-form :model="dataForm" label-width="130px" :rules="rules">
            <el-form-item label="标题；">
                <el-input v-model="dataForm.title"></el-input>
            </el-form-item>
            <el-form-item label="跳转链接：">
                <el-input v-model="dataForm.link"></el-input>
            </el-form-item>
            <el-form-item label="图片 (nnn*mmm px)：">
                <el-image :src="src" fit="cover"></el-image>
            </el-form-item>
            <el-form-item label="排序：">
                <el-input-number v-model="dataForm.sort" controls-position="right" :min="0" :max="100"></el-input-number>
            </el-form-item>
            <el-form-item label="状态：">
                <el-switch v-model="dataForm.status" :active-text="dataForm.status? '启用':'禁用'"></el-switch>
              </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm(dataForm)">立即创建</el-button>
                <el-button @click="resetForm('dataForm')">重置</el-button>
            </el-form-item>
        </el-form>
    </article>

	<!--_footer 作为公共模版分离出去-->
	{include file="Common/footer" /}

	<!--/_footer /作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#edit',
            data: function() {
                return {
                    dataForm: {
                        title: '',
                        webno:{$webno},
                        link: '',
                        imageUrl: '',
                        sort: '',
                        status: true
                    },
                    src: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg',
                    rules: {
                        title: [

                        ],
                        link: [
                            
                        ],
                        imageUrl: [
                            
                        ],
                        sort: [
                            
                        ],
                        status: [
                            
                        ]
                    }

                }
            }
        })
    </script>
	<script type="text/javascript">
		$(function () {
			$('#adminadd').click(function () {
				$.ajax({
					url:"{:url('admin/gallery/add')}",
					type:"post",
					data:$('form').serialize(),
					dataType:'json',
					success:function (data) {
						if(data.code==1){
						    layer.msg(data.msg,{
						        icon:6,
								time:2000
							},function () {
								layer_close();
                                parent.location.href=data.url;
                            });
						}else{
						    layer.open({
								title:'管理员添加失败',
								content:data.msg,
								icon:5,
								anim:6
							});
						}
                    }
				});
				return false;
            });
        });
	</script>
	<script type="text/javascript">
		$(function(){
			/* 通过iCheck插件，美化checkbox */
			$('.skin-minimal input').iCheck({
				checkboxClass: 'icheckbox-blue',
				radioClass: 'iradio-blue',
				increaseArea: '20%'
			});

			/* 表单验证，提交 */
			$("#form-admin-add").validate({
				rules:{
					username:{
						required:true,
						minlength:4,
						maxlength:16
					},
					nickname:{
                        required:true,
                        maxlength:16
                    },
					password:{
						required:true,
					},
					password2:{
						required:true,
						equalTo: "#password"
					},
					phone:{
						required:true,
						isPhone:true,
					},
					email:{
						required:true,
						email:true,
					},
					is_super:{
						required:true,
					},
				},
				onkeyup:false,
				focusCleanup:true,
				success:"valid",
				submitHandler:function(form){
					$(form).ajaxSubmit();
					var index = parent.layer.getFrameIndex(window.name);
					parent.location.replace(parent.location.href)
					parent.layer.close(index);
				}
			});
		});
	</script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
