<!DOCTYPE HTML>
<html>

<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> <title>首页 创合汇资本</title>
<meta name='keywords' content="创合汇资本" />
<meta name='description' content="创合汇资本" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="__CAP__/js/38140b16f439477eb94e1669fddd5866.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
 gtag('config', 'UA-82489432-2');
  gtag('config', 'UA-82489432-7');
</script> <!-- Apple iOS and Android stuff -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="/public/__CAP__/images/icon.png"/>
<link rel="apple-touch-icon-precomposed" href="/public/__CAP__/images/icon.png" />
<link rel="apple-touch-startup-image" media="screen and (orientation: portrait)" href="__CAP__/images/startup.png" />
<link rel="apple-touch-startup-image" media="screen and (orientation: landscape)" href="__CAP__/images/startupL.png" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1" /> <link rel="stylesheet" href="__CAP__/css/reset.css" type="text/css" />
<link rel="stylesheet" href="__CAP__/css/layout.css" type="text/css" />
<link rel="stylesheet" href="__CAP__/css/common.css" type="text/css" />
<link rel="stylesheet" href="__CAP__/css/index.css" type="text/css" />
<link href="__CAP__/css/page.css" type="text/css" rel="stylesheet" />
<!--[if IE]><script src="__CAP__/js/html5.js"></script><![endif]-->
<!--[if lt IE 10]><script type="text/javascript" src="__CAP__/js/pie.js"></script><![endif]-->
<script type="text/javascript" src="__CAP__/js/jquery.min.js"></script>
<script type="text/javascript" src="__CAP__/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="__CAP__/js/jquery-powerswitch.js"></script>
<script type="text/javascript" src="__CAP__/js/banner.js"></script>


    <link rel="stylesheet" href="__CAP__/css/index_1.css" type="text/css" />
    <script type="text/javascript">
        $(function() {
            $.fn.banner(".index_kv_body", 4000);

            $(".scroll_body a.btn").powerSwitch({
                container: $(".scroll_body .scroll_in"),
                number: 5
            });




            $(".index_body_3 ul li").hover(
                function() {

                    $(".index_body_3 ul li .bg").stop(false, true);
                    $(this).find(".bg").fadeIn();

                },
                function() {

                    $(".index01 .content ul li .bg").stop(false, true);
                    $(this).find(".bg").fadeOut();

                }
            );

            $("#zj li").each(function() {
                var i = $(this).index();
                if (i == 1) {
                    $(this).addClass('cur');
                }
            });

            $("#hhl li").each(function() {
                var i = $(this).index();
                if (i == 1) {
                    $(this).addClass('cur');
                }
            });

        });
    </script>
</head>

<body>

    <!--头部-->
    <header>
{include file="public/cap_header" /}
</header>
<script type="text/javascript">

function browserRedirect() {
    var sUserAgent = navigator.userAgent.toLowerCase();
    var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
    var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
    var bIsMidp = sUserAgent.match(/midp/i) == "midp";
    var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
    var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
    var bIsAndroid = sUserAgent.match(/android/i) == "android";
    var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
    var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
    if ((bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM)){
        window.location.href='/mobile/';
    }
}
browserRedirect();

 function searchAll(){
	   var str = $("#keys").val();
	   if(str=="")
		   alert("请输入要搜索的关键词");
	   else
		   location.href="/index/search/index.html?q="+str;
   }
</script>

    <!---->

    <!--首页正文-->
    <div class="index_kv_body">
                <a href="#" class="kv" style="background-image:url(__CAP__/images/20180626094722.jpg);"></a>
                <a href="javascript:;" class="btn prev_btn"></a>
        <a href="javascript:;" class="btn next_btn"></a>
    </div>

    <div class="index_body_1">
        <div class="cw">
            <h3 class="comm_tit"><i></i><span>创合汇基金</span><i></i></h3>
            <p>创合汇基金是由教育机构、投资机构以及上海交通大学等国内外知名院校的校友共同发起设立，专注于投资优质的高成长型企业的私募股权投资基金。<br /> 创合汇基金凭借创合汇资本平台的优质资源，对所投项目除了提供资金支持外，还将提供专家咨询、人才资源、品牌宣传以及整合产业上下游资源等系统性支持。
            </p>
            <ul class="list">
                <li>
                    <i class="ico_1"></i>
                    <h6>强大的创新创业生态系统</h6>
                </li>
                <li>
                    <i class="ico_2"></i>
                    <h6>深度整合跨商学院资源</h6>
                </li>
                <li>
                    <i class="ico_3"></i>
                    <h6>专业的运营管理团队<br />及资深专家顾问团队</h6>
                </li>
            </ul>
        </div>
    </div>

    <div class="index_body_2">
        <div class="cw">
            <h3 class="comm_tit s_1"><i></i><span>我们寻找并协助有潜力的企业家</span><i></i></h3>
            <!--<ul class="list clearfix">
            	<li><i class="ico_1"></i><span>高科技</span></li>
				<li><i class="ico_2"></i><span>高成长</span></li>
				<li><i class="ico_3"></i><span>新技术</span></li>
                <li><i class="ico_4"></i><span>新模式</span></li>
                <li><i class="ico_5"></i><span>新服务</span></li>
                <li><i class="ico_6"></i><span>新制造</span></li>
				<li><i class="ico_7"></i><span>新能源</span></li>
				
				
				
				
				<li><i class="ico_8"></i><span>大文化</span></li>
				<li><i class="ico_9"></i><span>新材料</span></li>
			</ul>-->
            <div class="list01">
                <ul>
                    <li>
                        <span class="s_1">高科技</span>
                    </li>
                    <li>
                        <span class="s_2">高成长</span>
                    </li>
                </ul>
            </div>
            <div class="list02">
                <ul>
                    <li><i class="icon1"></i>
                        <p>新技术</p>
                    </li>
                    <li><i class="icon2"></i>
                        <p>新模式</p>
                    </li>
                    <li><i class="icon3"></i>
                        <p>新服务</p>
                    </li>
                    <li><i class="icon4"></i>
                        <p>新制造</p>
                    </li>
                    <li class="last"><i class="icon5"></i>
                        <p>新能源</p>
                    </li>
                </ul>
            </div>
            <h4>如果这正是你的创业项目，请投递商业计划书至</h4>
            <h5><i></i><a href="mailto:bp@chuanghehui.cn">bp@chuanghehui.cn</a></h5>
            <img src="__CAP__/picture/body_2_ico_11.png" class="btm_img" />
        </div>
    </div>

    <div class="index_body_3">
        <div class="cw">
            <h3 class="comm_tit"><i></i><span>管理团队（部分）</span><i></i></h3>
            <h4 class="tit">管理合伙人</h4>
            <ul class="clearfix" id="hhl">
                                <li>
                    <div class="txt">
                        <!-- <img src="__CAP__/picture/timthumb.php" class="fl" /> -->
                        <img src="__CAP__/picture/20180314150233.jpg" class="fl" width="127" height="127" />
                        <div class="fl">
                            <h3>邵钧</h3>
                            <p>创合汇基金发起人、管理合伙人</p>

                        </div>
                    </div>
                    <div class="bg">
                        <h3>邵钧</h3>
                        <p>北京大学国家发展研究院金融管理博士、上海交通大学SIPA经济与管理培训中心主任、荷兰商学院（BSN）上海中心主任、上海交大太平洋区域经济发展研究会理事、副研究员、亚布力中国企业家论坛成员。</p>
                    </div>
                </li>
                                <li>
                    <div class="txt">
                        <!-- <img src="__CAP__/picture/timthumb.php" class="fl" /> -->
                        <img src="__CAP__/picture/20180314150445.jpg" class="fl" width="127" height="127" />
                        <div class="fl">
                            <h3>王一</h3>
                            <p>创合汇基金管理合伙人</p>

                        </div>
                    </div>
                    <div class="bg">
                        <h3>王一</h3>
                        <p>经济学博士、欧源资本董事长；曾任职于华夏证券有限公司、中国证监会上海证监局、中欧国际工商学院、英国美宝国际。</p>
                    </div>
                </li>
                                <li>
                    <div class="txt">
                        <!-- <img src="__CAP__/picture/timthumb.php" class="fl" /> -->
                        <img src="__CAP__/picture/20180314150337.jpg" class="fl" width="127" height="127" />
                        <div class="fl">
                            <h3>沙立明</h3>
                            <p>创合汇基金总经理、管理合伙人</p>

                        </div>
                    </div>
                    <div class="bg">
                        <h3>沙立明</h3>
                        <p>北京大学学士、中国科学院硕士；
曾任职于复星集团复星产业投资公司、上海复星创业投资管理有限公司。</p>
                    </div>
                </li>
                
            </ul>
            <h4 class="tit">专家顾问</h4>
            <ul class="clearfix" id="zj">
                                <li>
                    <div class="txt">
                        <!-- <img src="__CAP__/picture/timthumb.php" class="fl" /> -->
                        <img src="__CAP__/picture/20180314150601.jpg" class="fl" width="127" height="127" />
                        <div class="fl">
                            <h3>马龙官</h3>
                            <p>创合汇基金投委会专家</p>

                        </div>
                    </div>
                    <div class="bg">
                        <h3>马龙官</h3>
                        <p>经济学博士，享受国务院政府特殊津贴；
现任申银万国投资有限公司总经理，兼申万宏源证券有限公司博士后工作站站长。</p>
                    </div>
                </li>
                                <li>
                    <div class="txt">
                        <!-- <img src="__CAP__/picture/timthumb.php" class="fl" /> -->
                        <img src="__CAP__/picture/20180314150753.jpg" class="fl" width="127" height="127" />
                        <div class="fl">
                            <h3>王汉齐</h3>
                            <p>创合汇基金投委会专家</p>

                        </div>
                    </div>
                    <div class="bg">
                        <h3>王汉齐</h3>
                        <p>大成Dentons全球董事局董事，中国区管理委员会副主任，资本市场业务主要合伙人。</p>
                    </div>
                </li>
                                <li>
                    <div class="txt">
                        <!-- <img src="__CAP__/picture/timthumb.php" class="fl" /> -->
                        <img src="__CAP__/picture/20171221180214.jpg" class="fl" width="127" height="127" />
                        <div class="fl">
                            <h3>余颖</h3>
                            <p>创合汇基金投委会专家</p>

                        </div>
                    </div>
                    <div class="bg">
                        <h3>余颖</h3>
                        <p>上海交通大学安泰经管学院创新与战略系副教授，博士毕业于上海交通大学管理学院；
主要研究方向为战略管理和兼并收购，担任多家公司的外部咨询顾问。</p>
                    </div>
                </li>
                            </ul>
            <img src="__CAP__/picture/body_2_img_1.jpg" class="btm_img" />
        </div>
    </div>

    <div class="index_body_4">
        <div class="cw">
            <h3 class="comm_tit"><i></i><span>创合汇投顾</span><i></i></h3>
            <ul>
                <li>
                    <i class="ico_1"></i>
                    <h3>投融资服务</h3>
                    <p>凭借创合汇资本平台的专业优势及资源优势，根据企业的实际需要，为其提供融资顾问、投融资咨询、并购咨询、募投项目可行性研究、细分市场研究等服务。</p>
                </li>
                <li>
                    <i class="ico_2"></i>
                    <h3>投行服务</h3>
                    <p>创合汇资本平台通过联合优质的券商、投行、律师事务所、会计师事务所等机构，对于有挂牌和上市潜质的企业提供全方位的挂牌和上市辅导。</p>
                </li>
                <li>
                    <i class="ico_3"></i>
                    <h3>其他创业服务</h3>
                    <p>法律顾问服务、商标注册与知识产权服务、财务税务咨询服务、企划宣传服务、品牌营销服务、人才输送服务、产学研对接服务、创业孵化器</p>
                </li>
            </ul>
        </div>
    </div>


    <div class="index_body_5">
        <div class="cw">
            <ul class="list clearfix">

                <li>
                    <h3><a href="/index/news/index.html"><em>查看更多</em><i>+</i></a><span>新闻动态</span></h3>
                    <dl>
                                                <dd>
                            <a href="/index/news/details/id/13.html">
                                <!-- <img class="fl" src="__CAP__/picture/timthumb.php" /> -->
                                <img class="fl" src="__CAP__/picture/20180321154337.jpg" width="195" height="145" />
                                <div class="fl">
                                    <h4 title="「创合汇」三期基金—申毅创合基金首次全体合伙人会议">「创合汇」三期基金—申毅创合基金首次全体合伙人会议</h4>
                                    <h5>2018-03-18</h5>
                                    <p>3月18日上午，创合汇三期基金—申毅创合基金首次全体合伙人会议于赤兔创业咖啡成功举办。申毅创合基金管理合伙人、创合汇基金专家顾问委员会代表及...</p>
                                </div>
                            </a>
                        </dd>
                                                <dd>
                            <a href="/index/news/details/id/12.html">
                                <!-- <img class="fl" src="__CAP__/picture/timthumb.php" /> -->
                                <img class="fl" src="__CAP__/picture/20180319160214.jpg" width="195" height="145" />
                                <div class="fl">
                                    <h4 title="安防视频监控的格局或将生变，安科迪获创合汇资本等机构4000万元A1轮投资">安防视频监控的格局或将生变，安科迪获创合汇资本等机构4000万元A1轮投资</h4>
                                    <h5>2018-02-14</h5>
                                    <p>日前，全球阵列计算成像技术的代表性企业“安科迪”近日对外宣布已经获得4000万元A1轮融资，投资方为创合汇资本、深圳国仪、中科创星。</p>
                                </div>
                            </a>
                        </dd>
                                            </dl>
                </li>

                <li>
                    <h3><a href="/index/road/index.html"><em>查看更多</em><i>+</i></a><span>项目路演会</span></h3>
                    <dl>
                                                <dd>
                            <a href="/index/road/details/id/14.html">
                                <!-- <img class="fl" src="__CAP__/picture/timthumb.php" /> -->
                                <img class="fl" src="__CAP__/picture/20190426155025.jpg" width="195" width="145" />
                                <div class="fl">
                                    <h4 title="活动报道 | 聚力前行，火力全开：「创合汇」第十一期路演会暨战略合作签约仪式成功举行">活动报道 | 聚力前行，火力全开：「创合汇」第十一期路演会暨战略合作签约仪式成功举行</h4>
                                    <h5>2019-04-26</h5>
                                    <p>2019年4月13日，创合汇“商学院好项目”第十一期路演会暨创合汇·中化集团金茂资本战略合作签约仪式成功举办。</p>
                                </div>
                            </a>
                        </dd>
                                                <dd>
                            <a href="/index/road/details/id/13.html">
                                <!-- <img class="fl" src="__CAP__/picture/timthumb.php" /> -->
                                <img class="fl" src="__CAP__/picture/20190426144418.jpg" width="195" width="145" />
                                <div class="fl">
                                    <h4 title="活动报道 | 年度巨献，创领未来：2018“商学院好项目”第十期路演会圆满落幕">活动报道 | 年度巨献，创领未来：2018“商学院好项目”第十期路演会圆满落幕</h4>
                                    <h5>2019-04-26</h5>
                                    <p>2018年12月9日，由创合汇资本、创合汇创业服务中心主办，上海银行、紫竹创投、上海创业投资行业协会、迈科技、WE+酷窝联合办公联合主办，赤...</p>
                                </div>
                            </a>
                        </dd>
                                            </dl>
                </li>

            </ul>
        </div>
    </div>

    <div class="index_body_6">
        <div class="cw">
            <h3 class="comm_tit"><i></i><span>已投项目</span><i></i></h3>
            <div class="scroll_body">
                <a href="javascript:;" class="btn" data-rel="scroll_it">&lt;</a>
                <div class="scroll_in fl">
                    <ul>
                                                <li class="scroll_it">
                            <a href="#" target="_blank">
                                <!-- <img src="__CAP__/picture/timthumb.php" /> -->
                                <img src="__CAP__/picture/20180309155420.png" width="158" height="80" />
                            </a>
                        </li>
                                                <li class="scroll_it">
                            <a href="#" target="_blank">
                                <!-- <img src="__CAP__/picture/timthumb.php" /> -->
                                <img src="__CAP__/picture/20180309154819.png" width="158" height="80" />
                            </a>
                        </li>
                                                <li class="scroll_it">
                            <a href="#" target="_blank">
                                <!-- <img src="__CAP__/picture/timthumb.php" /> -->
                                <img src="__CAP__/picture/20180309155927.png" width="158" height="80" />
                            </a>
                        </li>
                                                <li class="scroll_it">
                            <a href="#" target="_blank">
                                <!-- <img src="__CAP__/picture/timthumb.php" /> -->
                                <img src="__CAP__/picture/20180309161040.png" width="158" height="80" />
                            </a>
                        </li>
                                                <li class="scroll_it">
                            <a href="#" target="_blank">
                                <!-- <img src="__CAP__/picture/timthumb.php" /> -->
                                <img src="__CAP__/picture/20180309160745.jpg" width="158" height="80" />
                            </a>
                        </li>
                                                <li class="scroll_it">
                            <a href="#" target="_blank">
                                <!-- <img src="__CAP__/picture/timthumb.php" /> -->
                                <img src="__CAP__/picture/20180309161315.png" width="158" height="80" />
                            </a>
                        </li>
                                                <li class="scroll_it">
                            <a href="#" target="_blank">
                                <!-- <img src="__CAP__/picture/timthumb.php" /> -->
                                <img src="__CAP__/picture/20180224173937.png" width="158" height="80" />
                            </a>
                        </li>
                                                <li class="scroll_it">
                            <a href="#" target="_blank">
                                <!-- <img src="__CAP__/picture/timthumb.php" /> -->
                                <img src="__CAP__/picture/20180309162301.png" width="158" height="80" />
                            </a>
                        </li>
                                                <li class="scroll_it">
                            <a href="#" target="_blank">
                                <!-- <img src="__CAP__/picture/timthumb.php" /> -->
                                <img src="__CAP__/picture/20180309161752.png" width="158" height="80" />
                            </a>
                        </li>
                                            </ul>
                </div>
                <a href="javascript:;" class="btn" data-rel="scroll_it">&gt;</a>
            </div>
        </div>
    </div>
    <footer>
 {include file="public/cap_footer" /}
</footer>
    <!---->
</body>

</html>