<!DOCTYPE HTML>
<html>

<head runat="server">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="baidu-site-verification" content="NMQr6HHR2U" />
  <title>华创胡杨大学-公益免费的创新创业大学</title>

  {include file="public/head" /}
  <link rel="stylesheet" href="__COLL__/plugins/swiper5/swiper.min.css">
  <link rel="stylesheet" href="__COLL__/plugins/swiper5/animate.min.css">
  <link rel="stylesheet" href="__COLL__/css/hx_home.css">
</head>

<body>

  {include file="public/home_header" /}

  <!-- 原来的首页背景图样式 -->
  <!-- <div class="index_kv_body">
    {volist name="gallery" id="vo"}
    <a href="{$vo.src}" class="kv" style="background-image:url({$vo.path});"></a>
    {/volist}
  </div> -->

  <div class="hx_home_banner hx_default">
    <!-- 置顶空间 -->
    <div class="hx_home_top"></div>
    <!-- 培训报名 -->
    <div class="hx_container hx_college">
      <h3 class="hx_container_title hx_container_title_before"
        data-scroll-reveal="wait 0.3s, then enter top and move 40px over 1s">学院<span>介绍</span></h3>
      <ul class="hx_school_list" data-scroll-reveal="wait 0.3s, then enter bottom and move 40px over 1s">
        <li class="hx_school_item"><a href="{:url('index/college',['seriesID'=>1])}" target="_blank"><i
              style="background-image: url(__COLL__/images/hx_hy_icon.png)"></i>
            <p class="hx_text_ellipsis">创业CEO学院</p>
          </a>
        </li>
        <li class="hx_school_item"><a href="{:url('index/college',['seriesID'=>15])}" target="_blank"><i
              style="background-image: url(__COLL__/images/hx_hy_icon2.png)"></i>
            <p class="hx_text_ellipsis">国学创意学院</p>
          </a>
        </li>
        <li class="hx_school_item"><a href="{:url('index/college',['seriesID'=>14])}" target="_blank"><i
              style="background-image: url(__COLL__/images/hx_hy_icon3.png)"></i>
            <p class="hx_text_ellipsis">电商学院</p>
          </a>
        </li>
        <li class="hx_school_item"><a href="{:url('index/college',['seriesID'=>8])}" target="_blank"><i
              style="background-image: url(__COLL__/images/hx_hy_icon4.png)"></i>
            <p class="hx_text_ellipsis">女性创意学院</p>
          </a>
        </li>
        <li class="hx_school_item"><a href="{:url('index/college',['seriesID'=>3])}" target="_blank"><i
              style="background-image: url(__COLL__/images/hx_hy_icon5.png)"></i>
            <p class="hx_text_ellipsis">个人品牌学院</p>
          </a>
        </li>
        <li class="hx_school_item"><a href="{:url('index/college',['seriesID'=>9])}" target="_blank"><i
              style="background-image: url(__COLL__/images/hx_hy_icon6.png)"></i>
            <p class="hx_text_ellipsis">人工智能学院</p>
          </a>
        </li>
        <li class="hx_school_item"><a href="{:url('index/college',['seriesID'=>12])}" target="_blank"><i
              style="background-image: url(__COLL__/images/hx_hy_icon7.png)"></i>
            <p class="hx_text_ellipsis">经理人学院</p>
          </a>
        </li>
        <li class="hx_school_item"><a href="{:url('index/college',['seriesID'=>6])}" target="_blank"><i
              style="background-image: url(__COLL__/images/hx_hy_icon8.png)"></i>
            <p class="hx_text_ellipsis">法商学院</p>
          </a>
        </li>
        <li class="hx_school_item"><a href="{:url('index/college',['seriesID'=>2])}" target="_blank"><i
              style="background-image: url(__COLL__/images/hx_hy_icon9.png)"></i>
            <p class="hx_text_ellipsis">新零售学院</p>
          </a>
        </li>
        <li class="hx_school_item"><a href="{:url('index/introduction')}" target="_blank"><i
              style="background-image: url(__COLL__/images/hx_hy_icon_more.png)"></i>
            <p class="hx_text_ellipsis">更多</p>
          </a>
        </li>
      </ul>
    </div>
    <!-- 师资力量 -->
    <div class="hx_container hx_szll" data-scroll-reveal="wait 0.3s, then enter bottom and move 40px over 1s">
      <div class="swiper-container hx_szllSwiper-container">
        <div class="swiper-wrapper hx_szllSwiper-wrapper">

          <div class="swiper-slide hx_szllSwiper-slide hx_szllSwiper_single">
            <div class="hx_szll_title_container ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1.2s"
              swiper-animate-delay="0.3s">
              <h3 class="hx_container_title hx_container_title_after"><span>师资</span>力量</h3>
              <p class="hx_szll_more"><a href="{:url('index/szll',['seriesNO'=>0])}">查看更多</a></p>
            </div>
            {volist name="teachers" k="key" id="vo" offset="0" length="4"}
            <div class="hx_szll_item hx_szll_item{$key%4} hx_box_shadow ani"
              swiper-animate-effect="{if $key%2 == 0} bounceInLeft {else /} bounceInRight {/if}"
              swiper-animate-duration="1.2s" swiper-animate-delay="0.1s"
              style="background-image: url('{$vo.teacherphoto}');">
              <p class="hx_szll_name">{$vo.teachername}</p>
              <p class="hx_szll_label hx_text_ellipsis">{$vo.teacherlevel}</p>
              <div class="hx_szll_mask">
              </div>
              <div class="hx_szll_mask_content">
                <p class="hx_szll_mask_name">{$vo.teachername}</p>
                <p class="hx_szll_mask_label hx_text_ellipsis">{$vo.teacherlevel}</p>
                <p class="hx_szll_mask_desc">{$vo.teacherdescription}</p>
              </div>
            </div>
            {/volist}
          </div>

          <div class="swiper-slide hx_szllSwiper-slide hx_szllSwiper_plural">
            <!-- 标题 -->
            <div class="hx_szll_title_container ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1.2s"
              swiper-animate-delay="0.3s">
              <h3 class="hx_container_title hx_container_title_after"><span>师资</span>力量</h3>
              <p class="hx_szll_more"><a href="{:url('index/szll',['seriesNO'=>0])}">查看更多</a></p>
            </div>
            {volist name="teachers" k="key" id="vo" offset="4" length="4"}
            <div class="hx_szll_item hx_szll_item{$key%4} hx_box_shadow ani"
              swiper-animate-effect="{if $key%2 == 0} bounceInLeft {else /} bounceInRight {/if}"
              swiper-animate-duration="1.2s" swiper-animate-delay="0.1s"
              style="background-image: url('{$vo.teacherphoto}');">
              <p class="hx_szll_name">{$vo.teachername}</p>
              <p class="hx_szll_label hx_text_ellipsis">{$vo.teacherlevel}</p>
              <div class="hx_szll_mask">
              </div>
              <div class="hx_szll_mask_content">
                <p class="hx_szll_mask_name">{$vo.teachername}</p>
                <p class="hx_szll_mask_label hx_text_ellipsis">{$vo.teacherlevel}</p>
                <p class="hx_szll_mask_desc">{$vo.teacherdescription}</p>
              </div>
            </div>
            {/volist}
          </div>

        </div>

      </div>
      <!-- 如果需要分页器 -->
      <div class="swiper-pagination hx_szllSwiper-pagination"></div>
    </div>
  </div>

  <!--  -->

  <div class="hx_middle_banner" data-scroll-reveal="wait 0.3s, then enter right and move 40px over 1s"></div>

  <!-- 简介 -->
  <div class="hx_container hx_default" data-scroll-reveal="wait 0.3s, then enter bottom and move 40px over 1s">
    <h3 class="hx_container_title hx_container_title_before hx_container_title_before2">
      创造<span>价值</span>，回报<span>社会</span></h3>
    <p class="hx_container_desc">华创胡杨大学，是一所不设门槛的创新创业大学，是一所终身公益免费培养企业家的学校，是一所所有导师无私奉献的学校。
      <br />学校致力于系统性的培养企业家及其管理团队，打造最有价值的学习与发展平台，为中国创新创业事业和实业发展贡献力量。</p>

    <ul class="hx_label_list">
      <li class="hx_label_item hx_box_creative">
        <i class="hx_label_item_icon1"></i>
        <p class="hx_label_item_title">互动教学</p>
        <p class="hx_label_item_desc">胡杨大学给学员培养的不仅仅是知识和能力</p>
      </li>
      <li class="hx_label_item hx_box_creative">
        <i class="hx_label_item_icon2"></i>
        <p class="hx_label_item_title">咨询辅导</p>
        <p class="hx_label_item_desc">更重要的是社会责任感和核心价值观</p>
      </li>
      <li class="hx_label_item hx_box_creative">
        <i class="hx_label_item_icon3"></i>
        <p class="hx_label_item_title">融资路演</p>
        <p class="hx_label_item_desc">鼓励所有学员奉献和担当</p>
      </li>
      <li class="hx_label_item hx_box_creative">
        <i class="hx_label_item_icon4"></i>
        <p class="hx_label_item_title">综合服务</p>
        <p class="hx_label_item_desc">通过持续创造价值来成就自己的事业</p>
      </li>
    </ul>
  </div>

  <!--  -->

  <div class="hx_middle_banner hx_middle_banner2" data-scroll-reveal="wait 0.3s, then enter left and move 40px over 1s">
  </div>

  <!-- 新闻动态 -->
  <div class="hx_container hx_default">
    <h3 class="hx_container_title hx_container_title_after"
      data-scroll-reveal="wait 0.3s, then enter top and move 40px over 1s"><span>新闻</span>动态</h3>
    <div style="overflow: hidden; position: relative;">
      <div class="fL hx_news_swiper" style="margin-top: 12px"
        data-scroll-reveal="wait 0.3s, then enter left and move 40px over 1s">
        <div class="swiper-container newsSwiper-container">
          <div class="swiper-wrapper">
            {volist name="news" id="vo"}
            <div class="swiper-slide">
              <a href="{:url('index/news_detail',['newsid'=>$vo['newsid']])}" target="_blank">
                <img class="hx_news_img" src="{$vo.newspicture}" alt="{$vo.newstitle | raw}">
                <div class="hx_news_info">
                  <p class="hx_news_swiper_time"><span class="hx_news_time_mouth">{$vo.time_month | raw}</span><span
                      class="hx_news_time_cut">/</span><span class="hx_news_time_day">{$vo.time_day | raw}</span></p>
                  <div class="hx_news_cut_line"></div>
                  <div class="hx_news_swiper_Info">
                    <p class="hx_news_swiper_title"><span class="hx_text_clamp_ellipsis">{$vo.newstitle |
                        raw}</span></p>
                  </div>
                </div>
              </a>
            </div>
            {/volist}
          </div>
          <div class="swiper-button-prev newsSwiper-prev"></div>
          <div class="swiper-button-next newsSwiper-next"></div>
        </div>
      </div>
      <div class="fR hx_news_list" id="newsList" data-scroll-reveal="wait 0.3s, then enter right and move 40px over 1s">
        <ul class="roll__list hx_news_itemList">
          {volist name="news" id="vo"}
          <li class="hx_news_item hx_bottom_dashed">
            <a href="{:url('index/news_detail',['newsid'=>$vo['newsid']])}" target="_blank"
              class="hx_text hx_flex_justify">
              <p class="hx_news_item_title"><span class="hx_text_ellipsis"
                  style="display: inline-block;width: 335px;">{$vo.newstitle | raw}</span>
                <span>
                  <!-- <i class="hx_stick">置顶</i>
                  <i class="hx_top_line">头条</i>
                  <i class="hx_recommend">推荐</i></span> -->
              </p>
              <time class="hx_news_item_time">{$vo.createTime | raw}</time>
            </a>
          </li>
          {/volist}
        </ul>
        <p class="hx_news_list_more"><a href="javascript:void(0);" onclick="postNewsMore();">查看更多</a></p>
      </div>
    </div>
  </div>

  <footer>
    {include file="public/coll_footer" /}
  </footer>
  <!-- 请在此处下方写此页面业务相关的脚本 -->
  <!-- <script src="__COLL__/plugins/swiper5/swiper.min.js"></script> -->
  <script src="__COLL__/plugins/swiper5/swiper.js"></script>
  <script src="__COLL__/plugins/swiper5/swiper.animate1.0.3.min.js"></script>
  <script>
    (function () {
      var topHeight = (document.documentElement.clientWidth || document.body.clientWidth) * 1150 / 1920;
      $('.hx_home_top').css('margin-top', topHeight + 'px')
    }());
    function layerTeacher() {
      data = event.currentTarget.dataset;
      layer.open({
        type: 1,
        title: data.name,
        skin: 'layer-bg-color', //样式类名
        closeBtn: 1, //不显示关闭按钮
        anim: 2,
        shadeClose: true, //开启遮罩关闭
        area: ['620px', '500px'], //宽高
        content: '<div class="layer-teacher"><img src="' +
          data.photo + '" />' + '<div class="des"><h3>' +
          data.name + '</h3><h4>' + data.level +
          '</h4></div></div><p class="layer-teacher-desc">' +
          data.description + '</p>'
      });
    }
  </script>
  <script>
    var szllSwiper = new Swiper('.hx_szllSwiper-container', {
      // loop: true, // 循环模式选项
      effect: 'fade',
      // 如果需要分页器
      pagination: {
        el: '.hx_szllSwiper-pagination',
        clickable: true,
      },
      autoplay: {
        delay: 10000,
        // stopOnLastSlide: false,
        disableOnInteraction: false,
      },
      on: {
        init: function () {
          swiperAnimateCache(this); //隐藏动画元素 
          swiperAnimate(this); //初始化完成开始动画
        },
        slideChangeTransitionEnd: function () {
          swiperAnimate(this); //每个slide切换结束时也运行当前slide动画
          //this.slides.eq(this.activeIndex).find('.ani').removeClass('ani'); 动画只展现一次，去除ani类名
        }
      }
    })
    //鼠标覆盖停止自动切换与隐藏前进后退按钮
    szllSwiper.el.onmouseover = function () {
      szllSwiper.autoplay.stop();
    }
    //鼠标覆盖停止自动切换与隐藏前进后退按钮
    szllSwiper.el.onmouseout = function () {
      szllSwiper.autoplay.start();
    }     
  </script>
  <!-- 新闻轮播 -->
  <script>
    var newsSwiper = new Swiper('.newsSwiper-container', {
      // loop: true, // 循环模式选项

      // 如果需要分页器
      pagination: {
        el: '.newsSwiper-pagination',
      },

      autoplay: {
        delay: 3000,
        // stopOnLastSlide: false,
        disableOnInteraction: false,
      },

      // 如果需要前进后退按钮
      navigation: {
        nextEl: '.newsSwiper-next',
        prevEl: '.newsSwiper-prev',
      },
    })
    //鼠标覆盖停止自动切换与隐藏前进后退按钮
    newsSwiper.el.onmouseover = function () {
      newsSwiper.autoplay.stop();
      newsSwiper.navigation.$nextEl.css('display', 'block');
      newsSwiper.navigation.$prevEl.css('display', 'block');
    }
    //鼠标覆盖停止自动切换与隐藏前进后退按钮
    newsSwiper.el.onmouseout = function () {
      newsSwiper.autoplay.start();
      newsSwiper.navigation.$nextEl.css('display', 'none');
      newsSwiper.navigation.$prevEl.css('display', 'none');
    }
  </script>
  <!-- 请在此处上方写此页面业务相关的脚本 -->
</body>

</html>