<!DOCTYPE HTML>
<html>

<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{$act_id.title}</title>
    <meta name='keywords' content="胡杨大学商学院——全球开放式平台型商学院" />
    <meta name='description' content="2019年3月23日，胡杨大学「独角兽」创业成长计划三期的学员们开启了他们学习、成长、蜕变的新征程。此次学习之旅让创业者携手同行，在创业征途中成为时代的主角！" />

    {include file="public/head" /}
</head>

<body>
<header>
    {include file="public/coll_header" /}
</header>
<div id="app" class="pc" v-cloak>

    <div class="activity-detail g-width-100">
        <section>
            <div class="head" ref="activity-detail-head">
                <div class="wrapper g-width alignCenter" >
                    <img class="cover" :src="'http://test.v7mall.com/attachment/'+activityInfo.thumb">
                    <div class="info flexColumn justifyCenter flex_1">
                        <p class="title fs22 line-clamp2">{{activityInfo.title}}</p>
                        <p class="time fs16 mb15">
                            <i class="icon"></i>
                            <span v-if="activityInfo.isOver == 0">未开始</span>
                            <span v-if="activityInfo.isOver == 1">进行中</span>
                            <span v-if="activityInfo.isOver == 2">已结束</span>
                             ·
                            <span>{{activityInfo.startTime}} - {{activityInfo.endTime}}</span>
                        </p>
                        <p class="address fs16 mb15">
                            <i class="icon"></i>
                            {{activityInfo.address}}
                        </p>
                        <p class="num fs16 mb15">
                            <i class="icon"></i>
                            {{activityInfo.joinNum}}人已报名
                        </p>
                        <div style="position: relative;">
                            <div class="btn float-left">
                                <span class="item" :class="{disabled: !activityInfo.isOver==0}" v-if="activityInfo.isOver==0"
                                @mouseenter="qrCodeShow=true" @mouseleave="qrCodeShow=false">去报名</span>
                                <!-- <span class="item" :class="{disabled: !activityInfo.isOver==1}" v-if="activityInfo.isOver==1" 
                                    @click="offlineClick()">
                                    看直播</span>
                                <span class="item" :class="{disabled: !activityInfo.isOver==2}" v-if="activityInfo.isOver==2" 
                                    @click="onlineClick()">
                                    看回放</span> -->
                            </div>
                            <div class="weChatRQcode" id="qrcode" v-show="qrCodeShow">
                                <p>请使用微信扫码报名</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body g-width-100">
                <div class="wrapper g-width float-clear">
                    <div class="detail-content float-left">
                        <p class="title fs22">活动详情</p>
                        <div class="info flexColumnCenter" v-html="activityInfo.introduce">
                            
                        </div>
                    </div>
                    <div class="hot float-right">
                        <p class="title fs22">热门活动</p>
                        <div class="info">
                            <p class="item" v-for="(item, index) in recommendActivity" :key="index" @click="toActivityDetail(item)">
                                <img class="g-width-100" :src="'http://test.v7mall.com/attachment/'+item.thumb" alt="">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <g-message ref="g-message"></g-message>
    <footer v-show="loading">
        {include file="public/coll_footer" /}
    </footer>
</div>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                activityInfo: {
                    thumb: '{$act_id.thumb | raw}',
                    title: "{$act_id.title | raw}",
                    address: '{$act_id.address | raw}',
                    joinNum: '{$act_id.gnum | raw}',
                    introduce: '{$act_id.detail | raw}',
                    qrCode: '{$act_id.qrCode | raw}',
                    startTime: '{$act_id.starttime | raw}',
                    endTime: '{$act_id.endtime | raw}',
                    isOver: 0

                }, 
                recommendActivity: '',
                qrCodeShow: false,
                loading: false,
            }
        },
        methods: {
            getQrcode: function () {
                var qrcode = new QRCode('qrcode', {
                    width : 128,
                    height : 128
                });
                qrcode.makeCode(this.activityInfo.qrCode);
            },
            toActivityDetail: function (item) {
                var url = 'act_detail?activityId=' + item.id;
                common.toPage(url);
            },

            getRecommendActivity() {
                http_post('getRecommend').then(res=>{
                    this.recommendActivity = res.data;
                });
            },
     
        },
        mounted: function () {
            // window.addEventListener('scroll', this.handleScroll);
            let timeStart = DateUtil.getDate(this.activityInfo.startTime);
            let timeEnd = DateUtil.getDate(this.activityInfo.endTime);
            let newTime = new Date();
            if( timeStart > newTime ) this.activityInfo.isOver = 0;
            else if (newTime > timeEnd ) this.activityInfo.isOver = 1;
            else this.activityInfo.isOver = 2;
            this.activityInfo.startTime = DateUtil.formatDateTime(timeStart,"MM月dd日 HH:mm" );
            this.activityInfo.endTime = DateUtil.formatDateTime(timeEnd,"MM月dd日 HH:mm" );
            this.getQrcode();
            this.getRecommendActivity();
            this.loading=true;
        }
    });
</script>
</body>

</html>