<!DOCTYPE HTML>
<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>近期活动</title>
    <meta name='keywords' content="——全球开放式平台型商学院"/>
    <meta name='description' content="——全球开放式平台型商学院"/>

    {include file="public/head" /}
</head>

<body>
<header>
    {include file="public/coll_header" /}
</header>
<script type="text/javascript">
    function searchAll() {
        var str = $("#keys").val();
        if (str == "")
            alert("请输入要搜索的关键词");
        else
            location.href = "/index/search/index.html?q=" + str;
    }

    $(function () {
        $("ul.nav_list li").hover(function () {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeIn();
        }, function () {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeOut();
        });
    });
</script>
<div class="pageBanner">
    <div class="roll flexslider">
        <ul class="slides">
            <li><img src="__COLL__/picture/20190923163925.jpg"></li>
        </ul>
    </div>
    <div class="txt">
        <div class="cw">
            <h3></h3>
        </div>
    </div>
    <div class="line"></div>
    <div class="btn">
        <div class="cw"><a href="/index/contact/message.html" class="act" target="_blank">在线报名</a></div>
    </div>
</div>
<div class="page">
    <div class="cw">
        <div class="pageBody clearfix">
            <!--left start-->
            <div class="leftBy fl">
                <div class="tit">
                    <h3>新闻动态</h3>
                    <h4>News</h4>
                </div>
                {include file="public/coll_leftBy" /}
            </div>
            <!--left End-->
            <!--right start-->
            <div class="rightBy fr">
                <div class="tool clearfix">
                    <div class="fl">
                        <h3> 平台<span>活动</span></h3>
                    </div>
                    <div class="fr"><a href="{:url('index/index')}" target="_blank">首页</a><span class="cur">></span><a
                            href="javascript:;" class="cur">平台活动</a></div>
                </div>
                <div class="activity">
                    <ul class="ullist">
                        {volist name="all_activity" id="vo"}
                        <li>
                            <div class="item">
                                <a href="{:url('index/act_detail',['activityId'=>$vo['activityId']])}" class="pic"><img
                                        src="{$vo.activity_pic}"></a>
                                <h3>{$vo.activityTitle}</h3>
                                <p>{$vo.articleContent |raw}</p>
                                <i>{$vo.createTime}</i>
                            </div>
                        </li>
                        {/volist}
                    </ul>
                    <div class="Pagers">
                        <ul class="pagination">
                        {$all_activity|raw}
                        </ul>
                    </div>
                </div>
            </div>
            <!--right End-->
        </div>
    </div>
    <div class="right_extend"></div>
</div>
<div class="color_blank s_1"></div>
<footer>
    {include file="public/coll_footer" /}
</footer>
</body>

</html>