<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>胡杨大学</title>
    <meta name='keywords' content="胡杨大学，商学院，商学院课程"/>
    <meta name='description'
          content="华创胡杨大学，是一所不设门槛的创新创业大学，是一所终身公益免费培养企业家的学校，是一所所有导师无私奉献的学校。学校致力于系统性的培养企业家及其管理团队，打造最有价值的学习与发展平台，为中国创新创业事业和实业发展贡献力量。"/>
    <!-- 引用 css 引用列表 -->
    {include file="common/meta" /}
</head>
<body>
    <div id="app">
        <!-- 引用 头部组件 -->
        {include file="common/header" /}
        <content class="content nav-top">
            <!-- 背景轮播 -->
            <van-swipe :autoplay="1000">
                <van-swipe-item v-for="(item,index) in gallery" :key="index">
                    <img class="banner" :src="item.path" />
                </van-swipe-item>
            </van-swipe>
            <!-- 文字介绍 -->
            <div class="home-title">
                <span>创造价值，回报社会</span>
            </div>
            <p class="text-indent2 p-line-height pl-r20">华创胡杨大学，是一所不设门槛的创新创业大学，是一所终身公益免费培养企业家的学校，是一所所有导师无私奉献的学校。</p>
            <p class="text-indent2 p-line-height pl-r20">学校致力于系统性的培养企业家及其管理团队，打造最有价值的学习与发展平台，为中国创新创业事业和实业发展贡献力量。</p>
            <ul class="flex-space-between flex-wrap pl-r20 home-list">
                <li class="home-list-item flex-plumb-center ico_10">
                    <i><img src="__MOBILE__/images/ico_10.png" /></i>
                    <p>工商管理</p>
                </li>
                <li class="home-list-item flex-plumb-center ico_7">
                    <i><img src="__MOBILE__/images/ico_7.png" /></i>
                    <p>工商管理</p>
                </li>
                <li class="home-list-item flex-plumb-center ico_8">
                    <i><img src="__MOBILE__/images/ico_8.png" /></i>
                    <p>工商管理</p>
                </li>
                <li class="home-list-item flex-plumb-center ico_9">
                    <i><img src="__MOBILE__/images/ico_9.png" /></i>
                    <p>工商管理</p>
                </li>
            </ul>
            <p class="text-indent2 p-line-height pl-r20">胡杨大学给学员培养的不仅仅是知识和能力，更重要的是社会责任感和核心价值观。鼓励所有学员奉献和担当，通过持续创造价值来成就自己的事业。
                胡杨大学不仅仅是一所学校，而是助力创业者成长和企业发展的全方位服务生态，是创业者的加油站和休息站。
            </p>

            <!-- 师资力量 -->
            <div class="home-title">
                <span>师资力量</span>
            </div>
            <div class="flex-space-between teach-card" >
                <div class="card-item" v-for="(item,index) in teacherInfo" :key="index" @click="item.teachMask = !item.teachMask">
                    <van-image class="teach-image" :src="item.teacherphoto"></van-image>
                    <h3 class="text-line-clamp2">{{item.teachername + ' | ' + item.teacherlevel}}</h3>
                    <h3 class="job">{{item.job}}</h3>
                    <div class="mask" v-show="item.teachMask">
                        {{item.teacherdescription}}
                    </div>
                </div>
                <div class="card-item"></div>
            </div>
            <!-- 培训报名 -->
            <div class="home-title">
                <span>培训报名</span>
            </div>
            <ul>
                <li class="flex-space-between flex-plumb-center pl-r20" style="margin-bottom: 0.2rem;"
                    v-for="(item,index) in activity" :key="index"
                    @click="goPage('act_detail',item.id,0)">
                    <van-image class="home-signUp-image"
                    :src="'http://test.v7mall.com/attachment/'+item.thumb"></van-image>
                    <div class="home-signUp-content">
                        <h4 class="text-nowrap">{{item.title}}</h4>
                        <p class="text-line-clamp3">{{item.intro}}</p>
                    </div>
                </li>
            </ul>
            <!-- 新闻动态 -->
            <div class="home-title">
                <span>新闻动态</span>
            </div>
            <ul>
                <li class="flex-space-between flex-plumb-center pl-r20" style="margin-bottom: 0.2rem;"
                v-for="(item,index) in news" :key="index"
                @click="goPage('news_detail',item.newsid,1)">
                    <van-image class="home-signUp-image"
                    :src="item.newspicture"></van-image>
                    <div class="home-signUp-content">
                        <h4 class="text-line-clamp2">{{item.newstitle}}</h4>
                        <p>作者：{{item.writer}}</p>
                        <time :datetime="item.createTime">{{item.createTime}}</time>
                    </div>
                </li>
            </ul>
        </content>
        
        <!-- 引用 尾部组件 -->
        {include file="common/footer" /}
    </div>
</body>
<!-- 引用 js 脚本引用列表 -->
{include file="common/script" /}
<!-- 在此下方编写脚本 -->
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                headerActive: false, // header 列表显示-true 隐藏-false
                headerId: 0, //首页id==0
                gallery: [], // 首页轮播
                teacherInfo: [], //教师
                activity: [], //活动
                news: [], //新闻
            }
        },
        mounted: function() {
            http.get('index/index').then(res=>{
                console.log(res)
                this.gallery = res.data.data.gallery;
                this.teacherInfo = res.data.data.teacherInfo;
                this.activity = res.data.data.activity;
                this.news = res.data.data.news;
                this.teacherInfo.forEach(item => {
                    this.$set(item,'teachMask',false)
                });
            });
        },
        methods: {
            goPage(url,param,index) {
                if(index == 0) window.location.href= 'https://test.v7mall.com/app/index.php?i=2&c=entry&m=fx_activity&do=activity&ac=detail&op=display&activityid='+param;
                else window.location.href= '/mobile/index/'+url+'?newsid='+param;
            }
        }
    });

    // 调用函数组件，弹出一个 Toast
    // vant.Toast('提示');
</script>
<!-- 在此上方编写脚本 -->
</html>