<!DOCTYPE HTML>
<html>

<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> <title>项目路演会 创合汇资本</title>
<meta name='keywords' content="创合汇资本" />
<meta name='description' content="创合汇资本" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="__CAP__/js/bddef09eddfb4443bc1e226d36fa4027.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
 gtag('config', 'UA-82489432-2');
  gtag('config', 'UA-82489432-7');
</script> <!-- Apple iOS and Android stuff -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="__CAP__/images/icon.png"/>
<link rel="apple-touch-icon-precomposed" href="__CAP__/images/icon.png" />
<link rel="apple-touch-startup-image" media="screen and (orientation: portrait)" href="__CAP__/images/startup.png" />
<link rel="apple-touch-startup-image" media="screen and (orientation: landscape)" href="__CAP__/images/startupL.png" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1" /> <link rel="stylesheet" href="__CAP__/css/reset.css" type="text/css" />
<link rel="stylesheet" href="__CAP__/css/layout.css" type="text/css" />
<link rel="stylesheet" href="__CAP__/css/common.css" type="text/css" />
<link rel="stylesheet" href="__CAP__/css/index.css" type="text/css" />
<link href="__CAP__/css/page.css" type="text/css" rel="stylesheet" />
<!--[if IE]><script src="__CAP__/js/html5.js"></script><![endif]-->
<!--[if lt IE 10]><script type="text/javascript" src="__CAP__/js/pie.js"></script><![endif]-->
<script type="text/javascript" src="__CAP__/js/jquery.min.js"></script>
<script type="text/javascript" src="__CAP__/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="__CAP__/js/jquery-powerswitch.js"></script>
<script type="text/javascript" src="__CAP__/js/banner.js"></script>


</head>

<body>
<header>
    {include file="public/cap_header"/}
</header>
<script type="text/javascript">

function browserRedirect() {
    var sUserAgent = navigator.userAgent.toLowerCase();
    var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
    var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
    var bIsMidp = sUserAgent.match(/midp/i) == "midp";
    var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
    var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
    var bIsAndroid = sUserAgent.match(/android/i) == "android";
    var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
    var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
    if ((bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM)){
        window.location.href='/mobile/';
    }
}
browserRedirect();

 function searchAll(){
	   var str = $("#keys").val();
	   if(str=="")
		   alert("请输入要搜索的关键词");
	   else
		   location.href="/index/search/index.html?q="+str;
   }
</script>
 <div class="inner_kv" style="background-image:url(__CAP__/images/20171221163557.jpg);">
	<h3></h3>
</div>

    <div class="main">

        <div class="roadshow_body">
            <div class="cw">

                <ul class="list clearfix">
                                        <li>
                        <a href="/index/road/details/id/14.html">
                            <!-- <img src="__CAP__/picture/timthumb.php" /> -->
                            <img src="__CAP__/picture/20190426155025.jpg" width="340" height="225" />
                            <h3>活动报道 | 聚力前行，火力全开：「创合汇」第十一期路演会暨战略合作签约仪式成功举行</h3>
                            <p>2019年4月13日，创合汇“商学院好项目”第十一期路演会暨创合汇·中化集团金茂资本战略合作签约仪式成功举办。</p>
                            <div class="more_body">
                                <span>2019.04.26</span>
                                <em><code>查看更多</code><i>&gt;</i></em>
                            </div>
                        </a>
                    </li>
                                        <li>
                        <a href="/index/road/details/id/13.html">
                            <!-- <img src="__CAP__/picture/timthumb.php" /> -->
                            <img src="__CAP__/picture/20190426144418.jpg" width="340" height="225" />
                            <h3>活动报道 | 年度巨献，创领未来：2018“商学院好项目”第十期路演会圆满落幕</h3>
                            <p>2018年12月9日，由创合汇资本、创合汇创业服务中心主办，上海银行、紫竹创投、上海创业投资行业协会、迈科技、WE+酷窝联合办公联合主办，赤兔创业咖啡、优客工场、华东EMBA联盟协办的2018创合汇“商学院好项目”路演会第十期圆满落下帷幕。

</p>
                            <div class="more_body">
                                <span>2019.04.26</span>
                                <em><code>查看更多</code><i>&gt;</i></em>
                            </div>
                        </a>
                    </li>
                                        <li>
                        <a href="/index/road/details/id/12.html">
                            <!-- <img src="__CAP__/picture/timthumb.php" /> -->
                            <img src="__CAP__/picture/20180814111122.jpg" width="340" height="225" />
                            <h3>2018“商学院好项目”第九期路演会圆满落幕，"律家保"拔得头筹</h3>
                            <p>8个来自于国内外知名商学院、创合汇社群、上海银行的优秀创业项目参与角逐，涉及保险科技、智能制造、智能零售、建筑咨询服务、法律风险管理服务、物联网等领域。</p>
                            <div class="more_body">
                                <span>2018.08.11</span>
                                <em><code>查看更多</code><i>&gt;</i></em>
                            </div>
                        </a>
                    </li>
                                        <li>
                        <a href="/index/road/details/id/11.html">
                            <!-- <img src="__CAP__/picture/timthumb.php" /> -->
                            <img src="__CAP__/picture/20180424112023.jpg" width="340" height="225" />
                            <h3>2018“商学院好项目”第八期路演会圆满落幕，创合汇资本A轮投资企业“安科迪”拔得头筹</h3>
                            <p>4月22日下午，由创合汇资本、创合汇创业服务中心主办，上海银行、微链、上海市创业投资行业协会联合主办，赤兔创业咖啡、优客工场与华东E盟共同协办的2018创合汇“商学院好项目”第八期路演会在赤兔创业咖啡成功举办。</p>
                            <div class="more_body">
                                <span>2018.04.22</span>
                                <em><code>查看更多</code><i>&gt;</i></em>
                            </div>
                        </a>
                    </li>
                                        <li>
                        <a href="/index/road/details/id/4.html">
                            <!-- <img src="__CAP__/picture/timthumb.php" /> -->
                            <img src="__CAP__/picture/20171228173955.jpg" width="340" height="225" />
                            <h3>“商学院好项目”第七期路演会暨全球商学院董秘俱乐部启动仪式成功举办</h3>
                            <p>12月9日下午，由创合汇资本、创合汇创业服务中心主办，赤兔创业咖啡、华东EMBA联盟、申能诚毅投资协办的创合汇“商学院好项目”第七期路演会在上海交通大学徐汇校区成功举办。</p>
                            <div class="more_body">
                                <span>2017.12.19</span>
                                <em><code>查看更多</code><i>&gt;</i></em>
                            </div>
                        </a>
                    </li>
                                        <li>
                        <a href="/index/road/details/id/5.html">
                            <!-- <img src="__CAP__/picture/timthumb.php" /> -->
                            <img src="__CAP__/picture/20171228174315.jpg" width="340" height="225" />
                            <h3>2017年度【创合汇】“商学院好项目”上海赛区路演会成功举办</h3>
                            <p>6月25日下午，2017年度【创合汇】“商学院好项目”上海赛区路演会成功举办，本次路演会由创合汇资本与优客工场联合主办，赤兔咖啡与华东EMBA联盟共同协办。八个来自于国内外知名商学院、优客工场和创合汇社群的创新项目参与了本次路演会的角逐。</p>
                            <div class="more_body">
                                <span>2017.06.25</span>
                                <em><code>查看更多</code><i>&gt;</i></em>
                            </div>
                        </a>
                    </li>
                    
                </ul>
                <div class="pager">
                    <ul class="pagination"><li class="disabled"><span>上一页</span></li> <li class="active"><span>1</span></li><li><a href="/index/road/index.html?page=2">2</a></li> <li><a href="/index/road/index.html?page=2">下一页</a></li></ul>                </div>
                <div class="pager" style="display:none">
                    <a href="#">首页</a>
                    <a href="#">&lt;&lt;</a>
                    <a href="#" class="cur">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <span>...</span>
                    <a href="#">&gt;&gt;</a>
                    <a href="#">末页</a>
                </div>


            </div>
        </div>

    </div>
<footer>
    {include file="public/cap_footer"/}
</footer>
    <!--footer End-->

</body>

</html>