<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>师资力量</title>
    <!-- 引用 css 引用列表 -->
    {include file="common/meta" /}
</head>
<body>
    <div id="app">
        <!-- 引用 头部组件 -->
        {include file="common/header" /}
        <content class="szll nav-top">
            <!-- 背景轮播 -->
            <van-swipe :autoplay="1000">
                <van-swipe-item v-for="(item, index) in gallery" :key="index">
                    <img class="banner" :src="item.path" />
                </van-swipe-item>
            </van-swipe>
            <!-- 学院 -->
            <van-tabs sticky animated swipeable lazy-render color="#C17A41" title-active-color="#C17A41"
            line-width="1.2rem" line-height="0.06rem" :offset-top="offsetTop"@change="handlerChange">
                <van-tab class="tabs pl-r20" v-for="item in series" :title="item.series">
                    <div class="card" v-for="itemList in teacherInfo">
                        <van-image class="teach-image" :src="itemList.teacherphoto"></van-image>
                        <van-collapse v-model="itemList.active" :border="false">
                            <van-collapse-item :title="itemList.teachername +' | ' + itemList.teacherlevel" name="1">
                                {{itemList.teacherdescription}}
                            </van-collapse-item>
                        </van-collapse>
                    </div>
                </van-tab>
            </van-tabs>
        </content>
        
        <!-- 引用 尾部组件 -->
        {include file="common/footer" /}
    </div>
</body>
<!-- 引用 js 脚本引用列表 -->
{include file="common/script" /}
<!-- 在此下方编写脚本 -->
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                headerActive: false, // header 列表显示-true 隐藏-false
                headerId: 2, //胡杨概况id==2
                offsetTop: 0,
                activeNames: ['1'],
                gallery: [],
                series: [],
                seriesID: '',
                page: {
                    per_page: 10,
                    current_page: 1,
                    total: 0
                },
                teacherInfo:[],
                loadMore: false,
                finished: 0
            }
        },
        mounted: function() {
            
            // 设置导航吸顶距离 监听滚动
            window.addEventListener('scroll', this.handleScroll);
            // 设置导航吸顶距离
            this.offsetTop = this.$refs.header.offsetHeight-1;
            this.getSeries();
        },
        methods: {
            handleScroll: function () {
                var scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
                var winHeight = document.documentElement.clientHeight || document.body.clientHeight;// 浏览器视口高度
                var scrollHeight = document.documentElement.scrollHeight || document.body.scrollHeight;
                var footerHeight = this.$refs.footer.offsetHeight; // 底部的高度

                // 加载 - 判断 数据有
                if (!this.loadMore) return;
                if (this.finished == 0) {
                    if (scrollTop + winHeight + footerHeight >scrollHeight -50 ) {
                        this.finished = 1;
                        this.page.current_page ++;
                        this.getUserInfo(true);
                    }
                }
            },
            async getSeries() {
                await http.get('/api/index/shizi',{platform: 1}).then(res=>{
                    if (res.data.data == null) return;
                    this.gallery = res.data.data.gallery;
                    this.series = res.data.data.series;
                });
                this.series.unshift({series: '全部', seriesID: ''});
                this.getUserInfo()
            },
            getUserInfo(load) {
                if (!load) {this.teacherInfo=[]; this.page.current_page=1}
                let params = {
                    seriesNO: this.seriesID,
                    number: this.page.per_page,
                    page: this.page.current_page
                }
                http.get('/api/index/shiziInfo',params).then(res => {
                    this.finished = 0;
                    if (res.data.data == null) return;
                    if (res.data.data.shiziInfo.length < this.page.per_page) this.loadMore = false;
                    else this.loadMore = true;
                    res.data.data.shiziInfo.forEach(item => {
                        this.teacherInfo.push(item);
                        this.$set(item,'active',['0']);
                    });
                });
            },
            handlerChange(index, value) {
                this.seriesID = this.series[index].seriesID;
                this.getUserInfo();
            }
        }
    });

    // 调用函数组件，弹出一个 Toast
    // vant.Toast('提示');
</script>
<!-- 在此上方编写脚本 -->
</html>