<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>培训课程</title>
    <!-- 引用 css 引用列表 -->
    {include file="common/meta" /}
</head>
<body>
    <div id="app">
        <!-- 引用 头部组件 -->
        {include file="common/header" /}
        <content class="course nav-top">
            <!-- 背景轮播 -->
            <van-swipe :autoplay="3000">
                <van-swipe-item v-for="(image, index) in images" :key="index">
                    <img class="banner" :src="image" />
                </van-swipe-item>
            </van-swipe>
            <!-- 培训报名 -->
            <div class="nav-tabs pl-r20" ref="tab" :style="{position: navPosition}">
                <div class="flex-plumb-center" :class="index!='type' ? 'bottom-dashed':''" v-for="(item, index) in tabs" :key="index">
                    <span class="tab-title">{{item.label}}:</span>
                    <van-tabs sticky animated swipeable lazy-render color="#C17A41" title-active-color="#C17A41"
                    line-width="0" line-height="0" class="tab-item">
                        <van-tab class="tabs" v-for="item2 in item.data" :title="item2.label"></van-tab>
                    </van-tabs>
                </div>
            </div>
            <!-- 这个div是用来填充的(nav-tab 切换状态脱落文档流) -->
            <div style="height: 1.78rem;" v-show="navPosition=='fixed'"></div>
            
            <ul class="pl-r20">
                <li class="flex-plumb-center card" v-for="item in 5">
                    <img class="news-image" src="https://img.yzcdn.cn/vant/cat.jpeg"/>
                    <div class="info">
                        <p class="title text-line-clamp2">「创合汇」第二届全球商学院DBA共创论坛： 聚势谋远，赋能未来！| 论坛直击</p>
                        <p class="liulan"><span>免费</span> | 有20人浏览</p>
                    </div>
                </li>
            </ul>
        </content>
        
        <!-- 引用 尾部组件 -->
        {include file="common/footer" /}
    </div>
</body>
<!-- 引用 js 脚本引用列表 -->
{include file="common/script" /}
<!-- 在此下方编写脚本 -->
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                headerActive: false, // header 列表显示-true 隐藏-false
                headerId: 4, //培训课程id==4
                offsetTop: 0, // 元素距离文档大偏移值（记录初始状态的值-状态变更值会改变）
                navPosition: 'static',
                activeNames: ['1'],
                images: [
                    'https://img.yzcdn.cn/vant/apple-1.jpg',
                    'https://img.yzcdn.cn/vant/apple-2.jpg'
                ],
                tabs: {
                    column: {
                        label: '专栏',
                        value: 0,
                        data: [
                            {
                                label: '胡杨大学官网同步',
                                value: 0
                            },
                            {
                                label: '胡杨大学官网同步驿站·云课堂',
                                value: 1
                            }
                        ]
                    },
                    type: {
                        label: '类型',
                        value: 1,
                        data: [
                            {
                                label: '直播',
                                value: 0
                            },
                            {
                                label: '视频',
                                value: 1
                            }
                        ]
                    }
                }
            }
        },
        mounted: function() {
            // 设置导航吸顶距离 监听滚动
            window.addEventListener('scroll', this.handleScroll);
            this.offsetTop = this.$refs.tab.offsetTop; // 元素距离文档顶端偏移值
        },
        methods: {
            handleScroll: function () {
                var scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
                var offsetHeight = this.$refs.header.offsetHeight; // 导航栏的高度
                var distance = this.offsetTop - scrollTop + offsetHeight; // 页面元素距离浏览器工作区顶端的距离
                if ( distance < offsetHeight ) {
                    this.navPosition = 'fixed';
                } else {
                    this.navPosition = 'static';
                }
            }
        }
    });

    // 调用函数组件，弹出一个 Toast
    // vant.Toast('提示');
</script>
<!-- 在此上方编写脚本 -->
</html>