.cw{width:1220px;margin:0 auto;min-width:1220px;}

header{background-color:#fff;height:115px;}
header .logo{background:url(../images/logo1.png) no-repeat;width:300px;height:80px;margin-top:30px;}
header .tools_bar .tools_top{width:860px;}

header .tools_bar .tools_top{border-bottom:1px solid #e5e5e5;height:60px;line-height:60px;text-align:right;}
header .tools_bar .tools_top .search_bar , header .tools_bar .tools_top .website_change , 
header .tools_bar .tools_top .wechat{display:inline-block;vertical-align: middle;    position: relative;z-index: 999999;}

header .tools_bar .tools_top .search_bar{width:160px;height:32px;line-height:32px;
	border-radius:32px;margin-right:10px;}
header .tools_bar .tools_top .search_bar input , header .tools_bar .tools_top .search_bar a{vertical-align:middle;}
header .tools_bar .tools_top .search_bar input{height:28px;line-height:28px;text-indent:10px;border:0;
	background-color:transparent;width:125px;font-size:14px;color:#c0b8a8;}
header .tools_bar .tools_top .search_bar a{display:inline-block;width:28px;height:28px;
	background:#9f9fa0 url(../images/search_ico.png) center no-repeat;border-radius:100%;}

header .tools_bar .tools_top .website_change{width:98px;height:32px;line-height:32px;cursor:pointer;position:relative; z-index:9999999;
	border:1px solid #fff;border-bottom:0;text-align:left;}
header .tools_bar .tools_top .website_change:hover{border:1px solid #ccc;border-bottom:0;}
header .tools_bar .tools_top .website_change:hover ul{display:block;}
header .tools_bar .tools_top .website_change span , header .tools_bar .tools_top .website_change i{vertical-align:middle;display:inline-block;}
header .tools_bar .tools_top .website_change span{width:80px;height:32px;line-height:32px;font-size:14px;color:#727272;padding-left:5px;text-align:left;position:relative; z-index:9999999;}
header .tools_bar .tools_top .website_change i{background:url(../images/change_ico.png) no-repeat;width:9px;height:9px;
	transition:all ease 0.3s;margin-top:5px;}
header .tools_bar .tools_top .website_change ul{position:absolute;top:31px;left:-1px;width:98px;background-color:#fff;
	border:1px solid #ccc;border-bottom:0;border-top:0;display:none;}
header .tools_bar .tools_top .website_change ul li{height:30px;line-height:30px;border-bottom:1px solid #ccc;text-indent:5px;text-align:left;}
header .tools_bar .tools_top .website_change ul li a{color:#666;text-decoration:none;font-size:14px;}
header .tools_bar .tools_top .website_change ul li a:hover{color:#333;}

header .wechat{display:inline-block;background:url(../images/wechat_ico.png) no-repeat;
	width:33px;height:33px;margin:0 0 0 10px;cursor:pointer;position:relative;z-index:1000;}
header .wechat span{position:absolute;top:35px;left:50%;margin-left:-75px;display:none;}
header .wechat span img{width:150px;height:150px;}
header .wechat:hover span{display:block;}

header .nav_list{height:54px;float:right;}
header .nav_list li , header .nav_list li a{float:left;}
header .nav_list li{margin-left:45px; position:relative;}
header .nav_list li a{display:block;height:52px;line-height:52px;border-bottom:2px solid #fff;font-size:14px;color:#535353; z-index:9999;    position: relative;
	padding:0 10px;}
header .nav_list li a:hover , header .nav_list li a.cur{text-decoration:none;border-bottom:2px solid #E59906;}

header ul.nav_list li .sub_szll { max-height: 300px; overflow: auto;}
header ul.nav_list li .sub_Nav {width: 170px;margin-top: 45px;position: absolute;left: -46px; z-index: 99999;display: none; background-color:#fff;}
header ul.nav_list li .sub_Nav .line {height: 1px;background: #E59906;width: 100%;}
header ul.nav_list li .sub_Nav p {height: 46px;background: #fff;}
header ul.nav_list li .sub_Nav p a {font-size: 13px;color: #535353 ;line-height: 46px; height:46px; display:block; text-decoration:none; text-align:center;    padding: 0;width: 100%;border-bottom: 0;}

header ul.nav_list li .sub_Nav p:hover{background:#fafaf7;}
header ul.nav_list li .sub_Nav p:hover a{color:#E59906}

footer{background-color:#5d5d5d;overflow:hidden;}
footer .top_body{margin-top:50px;display:block;width:100%;}
footer .top_body ul li{float:left;width:125px;margin-right:40px;}
footer .top_body ul li h3 , footer .top_body .contactus_body h3{font-size:14px;color:#fff;border-bottom:1px solid #fff;padding-bottom:8px;margin-bottom:10px;}
footer .top_body ul li h3.no_b{border:0;}
footer .top_body ul li h3 a{color:#fff;}
footer .top_body ul li p{line-height:35px;}
footer .top_body ul li p a{color:#f3f3f3;font-size:14px;}

footer .top_body .contactus_body{width:285px;}
footer .top_body .contactus_body p{font-size:14px;line-height:24px;color:#e6e6e6;}
footer .top_body .contactus_body p span{color:#E59906;}
footer .top_body .contactus_body h6{margin-top:20px;}

footer .copyright_bar{height:75px;line-height:75px;border-top:1px solid #c5c5c5;margin-top:40px;}
footer .copyright_bar div.fl{height:75px;line-height:75px;}
footer .copyright_bar div.fl a{font-size:13px;color:#fff;}
footer .copyright_bar div.fl em{color:#fff;padding:0 10px;}
footer .copyright_bar p.fr{color:#e6e6e6;font-size:13px; padding-right: 50px; position: relative;}
footer .copyright_bar p.fr .blank { display: block; position: absolute; width: 30px; height: 30px; top: 16px; right: 0;}
footer .copyright_bar p.fr .blank img {position: absolute; width: 30px; }

footer .links{margin-top: 30px;display: block;width: 100%;color: #f3f3f3;font-size: 14px; }
footer .links a{margin: auto 15px;color:#f3f3f3; }

footer .consultation{width: 171px;right: 2px;left: auto;bottom: 20px;margin: -25px 0 0 0;position: fixed;cursor: pointer;border-radius: 5px;display: block;text-decoration: none;z-index: 999;}
footer .consultation .consultation_head{height: 77px;width: 171px;background-color: #00AEF3;position: relative;border-radius: 5px;overflow: hidden;}
footer .consultation .consultation_bj{background: transparent url(//sgoutong.baidu.com/embed/1573036979/asset/embed/css/pc/icon/img/iconWord0.png) no-repeat;height: 50px;width: 140px;margin-left: -68px;margin-top: -25px;display: block; position: absolute;top: 50%;left: 50%;}
footer .consultation_icon{margin-left: 0;background-color: #fff;position: relative;display: block;overflow: hidden;border: 1px solid #00aef3;}
footer .consultation_icon .consultation_icon_item{    background-color: #d6f3ff;border: 1px solid #00aef3;cursor: pointer;margin: 10px 10px;border-radius: 16px;}
footer .consultation_icon .consultation_icon_item .consultation_icon_item_img{background: transparent url(//sgoutong.baidu.com/embed/1573036979/asset/embed/css/pc/icon/img/icongroup0.png) no-repeat; width: 31px;height: 31px;display: inline-block;vertical-align: middle;float: left;}
footer .consultation_icon .consultation_icon_item .consultation_icon_item_text{color: #008edf;height: 31px;line-height: 31px;vertical-align: middle;margin-left: 38px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
