<!DOCTYPE HTML>
<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>战略合作</title>
<meta name='keywords' content="创合汇" />
<meta name='description' content="创合汇" />
<!-- Apple iOS and Android stuff -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="__CACT__/images/icon.png"/>
<link rel="apple-touch-icon-precomposed" href="__CACT__/images/icon.png" />
<link rel="apple-touch-startup-image" media="screen and (orientation: portrait)" href="__CACT__/images/startup.png" />
<link rel="apple-touch-startup-image" media="screen and (orientation: landscape)" href="__CACT__/images/startupL.png" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1" />
<script type="text/javascript">
function fBrowserRedirect()
{    
    var sUserAgent = navigator.userAgent.toLowerCase();    
    var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";      
    var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";    
    var bIsMidp = sUserAgent.match(/midp/i) == "midp";    
    var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";    
    var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";    
    var bIsAndroid = sUserAgent.match(/android/i) == "android";    
    var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";    
    var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";    
   
    if(bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM){    
            window.location.href = "/mobile/";   
    }     
}   

fBrowserRedirect();  
</script> 
<link href="__CACT__/css/flexslider.css" type="text/css" rel="stylesheet" />
<link href="__CACT__/css/reset.css" type="text/css" rel="stylesheet" />
<link href="__CACT__/css/layout.css" type="text/css" rel="stylesheet" />
<link href="__CACT__/css/common.css" type="text/css" rel="stylesheet" />
<link href="__CACT__/css/page.css" type="text/css" rel="stylesheet" />
<!--[if IE]><script src="__CACT__/js/html5.js"></script><![endif]-->
<!--[if lt IE 10]><script type="text/javascript" src="__CACT__/js/pie.js"></script><![endif]-->
<script type="text/javascript" src="__CACT__/js/jquery.min.js"></script>
<script type="text/javascript" src="__CACT__/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="__CACT__/js/banner.js"></script>
<script type="text/javascript" src="__CACT__/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
$(function(){
	 $('.flexslider').flexslider({
                animation: "fade",
                slideshow: true,
                slideshowSpeed: 3000,
                animationSpeed: 2000,
                touch: false,
                controlNav: true,
                directionNav: false,
                pauseOnHover: false
            });
	
	
	
	$(".index_btm_body .tab_body a").click(function(){
		var index = $(".index_btm_body .tab_body a").index($(this));
		$(".index_btm_body .tab_body a").removeClass("cur").eq(index).addClass("cur");
		$(".index_btm_body .tab_con .con").hide().eq(index).fadeIn();
	}).eq(0).click();
	
	
});
</script>
</head>
<body>
<header>
    {include file="public/header" /}
</header>
<script type="text/javascript">
    function searchAll() {
        var str = $("#keys").val();
        if (str == "")
            alert("请输入要搜索的关键词");
        else
            location.href = "/index/search/index.html?q=" + str;
    }
    $(function() {
        $("ul.nav_list li").hover(function() {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeIn();
        }, function() {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeOut();
        });
    });
</script>
<div class="pageBanner">
  <div class="roll">
    <ul class="slides">
      <li style="background:url(__CACT__/images/banner.jpg) no-repeat center;">
        <div class="txt">
          <div class="cw">
            <h3></h3>
          </div>
        </div>
      </li>
    </ul>
	
  </div>
</div>
<div class="page">
  <div class="cw">
    <div class="pageBody clearfix">
      <!--left start-->
      <div class="leftBy fl">
                 <div class="tit">
          <h3>战略资源</h3>
          <h4>Strategic resources</h4>
        </div>
        <ul class="list2">
          <li> <a href="/index/staff/index.html" class="title cur">战略合作</a> </li>
          <li> <a href="/index/staff/teacher.html" class="title ">专家智库</a> </li>
        </ul>
        <div class="list03">
    <div class="content">
        <div class="lay02">
            <h3><span>平台活动</span></h3>
            <ul>
                                <li>
                    <a href="/index/activity/detail/cid/466/id/58.html" target="_blank">
                        <div class="txt">“从自我激活到组织共创——企业家精神...<br>2019-08-08</div>
                    </a>
                </li>
                                <li>
                    <a href="/index/activity/detail/cid/466/id/54.html" target="_blank">
                        <div class="txt">“最强阵容”聚首论道：企业家经济学首...<br>2019-05-06</div>
                    </a>
                </li>
                                <li>
                    <a href="/index/activity/detail/cid/466/id/55.html" target="_blank">
                        <div class="txt">科创赋能，领航未来：「创合汇」科创板...<br>2019-04-27</div>
                    </a>
                </li>
                            </ul>
        </div>
        <div class="lay03">
            <h3>官方微信</h3>
            <ul>
                <li> <img src="__CACT__/picture/wx_1.jpg">
                    <h4 class="pt10">创合汇商学院</h4>
                </li>
                <li> <img src="__CACT__/picture/wx_2.jpg">
                    <h4 class="pt10">创合汇</h4>
                </li>
            </ul>
        </div>
    </div>
    <div class="bottom"></div>
</div>
      </div>
      <!--left End-->
      <!--right start-->
      <div class="rightBy fr">
        <div class="tool clearfix">
          <div class="fl">
            <h3> 战略合作 </h3>
          </div>
          <div class="fr"> <a href="/" target="_blank">首页</a><span>></span><a href="javascript:;">战略资源</a><span class="cur">></span><a href="javascript:;" class="cur">战略合作</a> </div>
        </div>
        <div class="contBody">

            <!--logo图片宽度为179高为111-->
            <div class="logo2">
                <p id="part"><span class="partner">培训合作</span></p>
            <ul>
                <li><img src="__CACT__/images/a2.jpg"></li>
                <li><img src="__CACT__/images/a2.jpg"> </li>
                <li><img src="__CACT__/images/a2.jpg"> </li>
                <li><img src="__CACT__/images/a2.jpg"> </li>
                <li><img src="__CACT__/images/a2.jpg"> </li>
                <li><img src="__CACT__/images/a2.jpg"> </li>
                <li><img src="__CACT__/images/a2.jpg"> </li>
                <li><img src="__CACT__/images/a2.jpg"> </li>

            </ul>
                <div class="clear"></div>
        </div>

            <div class="logo2">
                <p id="part"><span class="partner">科研合作</span></p>
                <ul>
                    <li><img src="__CACT__/images/a2.jpg"> </li>
                    <li><img src="__CACT__/images/a2.jpg"> </li>
                    <li><img src="__CACT__/images/a2.jpg"> </li>
                    <li><img src="__CACT__/images/a2.jpg"> </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="logo2">
                <p id="part"><span class="partner">创业孵化合作</span></p>
                <ul>
                    <li><img src="__CACT__/images/a2.jpg"> </li>
                    <li><img src="__CACT__/images/a2.jpg"> </li>
                    <li><img src="__CACT__/images/a2.jpg"> </li>
                    <li><img src="__CACT__/images/a2.jpg"> </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="logo2">
                <p id="part"><span class="partner">投资合作</span></p>
                <ul>
                    <li><img src="__CACT__/images/a2.jpg"> </li>
                    <li><img src="__CACT__/images/a2.jpg"> </li>
                    <li><img src="__CACT__/images/a2.jpg"> </li>
                    <li><img src="__CACT__/images/a2.jpg"> </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="logo2">
                <p id="part"><span class="partner">上市挂牌合作</span></p>
                <ul>
                    <li><img src="__CACT__/images/a2.jpg"> </li>
                    <li><img src="__CACT__/images/a2.jpg"> </li>
                    <li><img src="__CACT__/images/a2.jpg"> </li>
                    <li><img src="__CACT__/images/a2.jpg"> </li>
                </ul>
                <div class="clear"></div>
            </div>

      </div>
      <!--right End-->
    </div>
  </div>
  <div class="right_extend"></div>
</div>
<footer>
    {include file="public/footer" /}
</footer>
</body>
</html>
