<header class="flex-plumb-center flex-wrap pl-r20" ref="header" :class="{homeActive: fullHomeActive}">
  <!-- <h2 class="mr30">胡杨大学官网</h2> -->
  <img class="logo" src="__MOBILE__/images/logo.png" />
  <van-icon class="vant-icon" name="bars" color="#FFFFFF" size="0.5rem" @click="headerActive=!headerActive"
    style="left: 3rem;"></van-icon>
  <ul class="list" :class="headerActive?'active':''">
    <li><a class="item pl-r20" :class="headerId==0?'active': ''" href="{:url('index')}">首页</a></li>
    <li><a class="item pl-r20" :class="headerId==1?'active': ''" href="{:url('about')}">胡杨概况</a></li>
    <li><a class="item pl-r20" :class="headerId==2?'active': ''" href="{:url('szll')}">师资力量</a></li>
    <li><a class="item pl-r20" :class="headerId==3?'active': ''" href="{:url('activity')}">培训报名</a></li>
    <li><a class="item pl-r20" :class="headerId==4?'active': ''" href="{:url('course')}">培训课程</a></li>
    <li><a class="item pl-r20" :class="headerId==5?'active': ''" href="{:url('news')}">新闻动态</a></li>
  </ul>
</header>
<!-- 遮罩层 -->
<van-overlay :show="headerActive" @click="headerActive=!headerActive"></van-overlay>