<!-- 初始化css -->
<link href="__MOBILE__/css/reset.css" rel="stylesheet">
<link href="__MOBILE__/css/border1px.css" rel="stylesheet">
<!-- 引入公共的 css -->
<link href="__MOBILE__/css/common.css" rel="stylesheet">
<!-- vant 框架 css -->
<link href="__MOBILE__/vant/index.css" rel="stylesheet">

<!-- 引入 header 头部 css -->
<link href="__MOBILE__/css/header.css" rel="stylesheet">
<!-- 引入 footer 尾部 css -->
<link href="__MOBILE__/css/footer.css" rel="stylesheet">

<!-- 引入 index 首页 css -->
<link href="__MOBILE__/css/index.css" rel="stylesheet">