<!-- 初始化 js 脚本 -->
<script type="text/javascript" src="__MOBILE__/js/init.js"></script>
<!-- vue js -->
<script type="text/javascript" src="__MOBILE__/js/vue/vue.js"></script>
<!-- vue-touch js -->
<script type="text/javascript" src="__MOBILE__/js/vue/vue-touch.min.js"></script>
<!-- vant js -->
<script type="text/javascript" src="__MOBILE__/vant/vant.min.js"></script>
<!-- axios js -->
<script type="text/javascript" src="__MOBILE__/js/axios/axios.js"></script>
<!-- http.js axios请求封装文件 -->
<script type="text/javascript" src="__MOBILE__/js/http.js"></script>
<script type="text/javascript" src="__MOBILE__/js/scrollReveal.js"></script>