<!--_meta 作为公共模版分离出去-->
{include file="Common/meta" /}
	<!--/meta 作为公共模版分离出去-->
	<title>新增课程分类 </title>
	<meta name="keywords" content="h-ui.admin.pro v1.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="h-ui.admin.pro v1.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>

<body>
	<article class="clearfix pd-20" id="app">
        <el-form :model="dataForm" label-width="130px" :rules="rules" ref="dataForm">
            <el-form-item label="课程名称：" prop="courseName">
                <el-input v-model="dataForm.courseName"></el-input>
            </el-form-item>
            <el-form-item label="课程类型：" prop="courseType">
                <el-cascader v-model="dataForm.courseType" :options="options" 
                    :props="props" :show-all-levels="false" style="width: 100%;">
                </el-cascader>
            </el-form-item>
            <el-form-item label="课程时间：" prop="dataTime">
                <!-- <el-time-picker is-range v-model="dataForm.dataTime" range-separator="-" start-placeholder="开始时间"
                 end-placeholder="结束时间" placeholder="选择时间范围">
                </el-time-picker> -->
                <el-date-picker v-model="dataForm.dataTime" type="datetimerange" start-placeholder="开始日期"
                    end-placeholder="结束日期" value-format="timestamp">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="课程介绍：" prop="courseIntroduce">
                <!-- 富文本 -->
                <textarea id="content" name="content" type="text/plain" style="width: auto; height: 300px;"></textarea>
            </el-form-item>
            <el-form-item label="联系电话：" prop="mobile">
                <el-input v-model="dataForm.mobile"></el-input>
            </el-form-item>
            <el-form-item label="是否显示：" prop="isShow">
                <el-switch v-model="dataForm.isShow" :active-text="dataForm.isShow? '启用':'禁用'"></el-switch>
            </el-form-item>
            <el-form-item label="排序号：" prop="sort">
                <el-input-number v-model="dataForm.sort" controls-position="right" :min="0" :max="100"></el-input-number>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm('dataForm')">立即提交</el-button>
                <el-button @click="resetForm('dataForm')">重置</el-button>
            </el-form-item>
        </el-form>
    </article>

    <!-- footer 作为公共模板分离出去 -->
    {include file="Common/footer" /}
    <!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
	<script type="text/javascript" src="__ADMIN__/lib/webuploader/0.1.5/webuploader.min.js"></script>
	<script type="text/javascript" src="__ADMIN__/lib/ueditor/1.4.3/ueditor.config.js"></script>
	<script type="text/javascript" src="__ADMIN__/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
	<script type="text/javascript" src="__ADMIN__/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: function() {
                let checkPhone = (rule, value, callback) => {
                    if (!value) {
                    return callback(new Error('手机号不能为空'));
                    } else {
                    const reg = /^1[3|4|5|7|8][0-9]\d{8}$/;
                    if (reg.test(value)) {
                        callback();
                    } else {
                        return callback(new Error('请输入正确的手机号'));
                    }
                    }
                };
                return {
                    options: [],
                    props: {
                        expandTrigger: 'hover',
                        value: 'id',
                        label: 'typeName',
                        children: 'hasChuldren',
                        multiple: false, // 开启多选
                        checkStrictly: true, // 父子不关联
                        emitPath: false,
                        lazy: true,
                        lazyLoad (node, resolve) {
                            if (!node.value) return;
                            setTimeout(() => {
                                http_post('/admin/course/getSons', {id: node.value}).then(res => {
                                    resolve(res.data);
                                }).catch(err => {
                                    node.loading = false;
                                });
                            }, 100);
                        }
                    },
                    dataForm: {
                        id: {$id},
                        courseName: '',  // 课程名称
                        courseType: '',  // 课程类型 id
                        courseIntroduce: '', // 课程介绍 富文本内容
                        startTime: '', // 开始时间
                        endTime: '', // 结束时间
                        dataTime: '', // 用于时间绑定--处理到startTime-endTime
                        mobile: '', // 联系电话
                        isShow: true, // 是否显示
                        click: '', // 浏览量
                        sort: 0, // 排序
                    },
                    rules: {
                        courseName: [
                            { required: true, message: '请输入名称', trigger: 'blur' }
                        ],
                        courseType: [
                            { required: true, message: '请选择分类', trigger: 'change' }
                        ],
                        dataTime: [
                            { required: true, message: '请输入名称', trigger: 'change' }
                        ],
                        mobile: [
                            { validator: checkPhone, trigger: 'blur' }
                        ]
                    },
                    ue: '',
                }
            },
            mounted() {
                this.ue = UE.getEditor('content'); // 初始化富文本编辑器
                http_post('/admin/course/courseType').then(res => {
                    this.options = res.data;
                }).catch(err => {

                });
                http_post('/admin/course/edit',{id: this.dataForm.id}).then(res => {
                    this.dataForm = res.data;
                    let array = [];
                    array.push(res.data.startTime*1000);
                    array.push(res.data.endTime*1000);
                    this.$set(this.dataForm, 'dataTime', array);
                    this.ue.ready( () => {
                        // editor准备好之后才可以使用
                        console.log("set:", this.dataForm.courseIntroduce);
                        this.ue.setContent(this.dataForm.courseIntroduce);
                    });
                }).catch(err => {

                });
            },
            methods: {
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            // 提交数据的请求
                            var index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                            this.dataForm.courseIntroduce = this.ue.getContent();
                            if (!this.dataForm.dataTime) return;
                            this.dataForm.startTime = this.dataForm.dataTime[0]/1000;
                            this.dataForm.endTime = this.dataForm.dataTime[1]/1000;
                            this.dataForm.isShow = this.dataForm.isShow ? 1:0;
                            setTimeout(()=> {
                                http_post('/admin/course/saveInfo', this.dataForm).then((res) => {
                                    layer.close(index);
                                    layer.msg("提交成功", {icon:1});
                                    //先得到当前iframe层的索引
                                    parent.layer.close(parent.layer.getFrameIndex(window.name)); //再执行关闭 
                                }).catch(err => {
                                    layer.close(index);
                                    console.log(err);
                                });
                            }, 500);                            
                        } else {
                            layer.msg("必填信息未填写");
                            return false;
                        }
                    });
                    
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                }
            }
        })
    </script>
</body>
