/* 边框动效 */
.hx_box_creative {
  position: relative;
  padding: 25px 15px;
  text-align: center;
  border: 1px solid #d6d6d6;
  transition: .2s ease-in-out;
  transform: translate3d(0, 0, 0);
}

.hx_box_creative:hover {
  border-color: rgba(214, 214, 214, 0);
  background: rgba(0, 0, 0, 0.01);
}

.hx_box_creative::before,
.hx_box_creative::after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  border: 1px solid #F59A23;
  transition: .25s ease-out;
  will-change: transform;
  contain: paint;

}

.hx_box_creative::after,
.hx_box_creative::before {
  /*动画属性名，也就是我们前面keyframes定义的动画名*/
  -webkit-animation-duration: 0s;
  /*动画持续时间*/
  -webkit-animation-timing-function: ease-out;
  /*动画频率，和transition-timing-function是一样的*/
  -webkit-animation-delay: 0s;
  /*动画延迟时间*/
  -webkit-animation-iteration-count: infinite;
  /*定义循环资料，infinite为无限次*/
  -webkit-animation-direction: normal;
  /*定义动画方式*/
}

.hx_box_creative::before {
  /* border-width: 1px 0 1px 0; */
  /* -webkit-animation-name: 'hx_box_creative_before'; */
}

.hx_box_creative::after {
  /* border-width: 0 1px 0 1px; */
  /* -webkit-animation-name: 'hx_box_creative_after'; */
  /*动画属性名，也就是我们前面keyframes定义的动画名*/
}

.hx_box_creative,
.hx_box_creative:active,
.hx_box_creative:focus,
.hx_box_creative:hover {
  color: #9a9a9a;
}

@keyframes hx_box_creative_before {
  0% {
    transform: scale3d(0, 1, 1);
  }

  100% {
    transform: scale3d(0.9999, 0.9999, 0.9999);
  }
}

@keyframes hx_box_creative_after {
  0% {
    transform: scale3d(1, 0, 1);
  }

  100% {
    transform: scale3d(0.9999, 0.9999, 0.9999);
  }
}







.hy_home_full {
  position: fixed;
  top: 1.4rem;
  width: 100vw;
  height: calc(100vh - 1.4rem);
  z-index: 9;
  background: url(../images/hy_home_fall.jpg) no-repeat center;
  background-size: cover;
  transform: translatey(0);
  opacity: 0;
  transition: all 0.9s;
}

.hy_home_full_img {
  position: absolute;
  bottom: 0.8rem;
  left: 50%;
  transform: translate(-50%, 0);
  /* transition: all 0.3s; */
}

.hy_home_full_img img {
  display: block;
  border-radius: 50%;
  width: 1.4rem;
  height: 1.4rem;
  object-fit: cover;
}

.hy_home_title {
  color: #f8892f;
}

.hy_home_full_img:before,
.hy_home_full_img:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  background-color: #f8892f;
  border-radius: 50%;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, .3) inset; */
  -webkit-animation-name: 'ripple';
  /*动画属性名，也就是我们前面keyframes定义的动画名*/
  -webkit-animation-duration: 2s;
  /*动画持续时间*/
  -webkit-animation-timing-function: ease;
  /*动画频率，和transition-timing-function是一样的*/
  -webkit-animation-delay: 0s;
  /*动画延迟时间*/
  -webkit-animation-iteration-count: infinite;
  /*定义循环资料，infinite为无限次*/
  -webkit-animation-direction: normal;
  /*定义动画方式*/
}

.hy_home_full_img:before {}

.hy_home_full_img:after {
  -webkit-animation-delay: 0.8s;
  /*动画延迟时间*/
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opcity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.5);
  }
}

.hy_home_youshi,
.hy_home_apply {
  padding: 0.55rem 0.15rem;
  border: 1px solid #eaeaea;
  text-align: center;
  width: 3rem;
  height: 3rem;
  box-sizing: border-box;
  margin-bottom: 0.35rem;
}

.hy_home_youshi img {
  width: 1.2rem;
  height: 1.04rem;
  margin-bottom: 0.18rem;
}

.hy_home_apply img {
  width: 1.4rem;
  height: 1.4rem;
}

.hy_home_youshi p,
.hy_home_apply p {
  font-size: 0.3rem;
}

/* .hy_home_szll_slide {
  width: 80% !important;
} */

.hy_home_szll_slide-wrapper {
  transform: translate3d(41.406px, 0px, 0px);
}

.swiper-container {
  height: 5rem;
}

.swiper-container .swiper-wrapper .swiper-slide {
  width: 80% !important;
  height: 4.6rem;
  transform: scale(0.8);
  transition: transform 0.9s;
  overflow: hidden;
}

.swiper-container .swiper-wrapper .swiper-slide-active {
  transform: scale(1);
}

.swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.swiper-container .swiper-wrapper .swiper-slide-prev,
.swiper-container .swiper-wrapper .swiper-slide-next {
  /* transform: scale(0.9); */
}


.hx_szll_mask_content,
.hx_szll_mask {
  position: absolute;
  top: 5.1rem;
  left: 0;
  transition: all ease 0.9s;
}

.hx_szll_mask_name,
.hx_szll_mask_label,
.hx_szll_mask_desc {
  font-weight: 700;
  color: #F2F2F2 !important;
  line-height: 30px;
}

.hx_szll_mask_name {
  font-size: 20px;
}

.hx_szll_mask_label,
.hx_szll_mask_desc {
  font-size: 13px;
}

.hx_szll_mask_content {
  z-index: 0;
  height: 3.9rem;
  overflow: auto;
  margin: 0.4rem;
  box-sizing: border-box;
}

.hx_szll_mask_content::-webkit-scrollbar {
  display: none;
}

.hx_szll_mask {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  color: #FFFFFF;
  background: #000000;
}

.hy_mask_active {
  /* display: block; */
  top: 0;
}

.hx_szll_mask.hy_mask_active {
  opacity: 0.6;
}