<!--_meta 作为公共模版分离出去-->
{include file="Common/meta" /}
	<!--/meta 作为公共模版分离出去-->
	<title>新增专栏分类 </title>
	<meta name="keywords" content="h-ui.admin.pro v1.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="h-ui.admin.pro v1.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>

<body>
	<article class="clearfix pd-20" id="app">
        <el-form :model="dataForm" label-width="130px" :rules="rules" ref="dataForm">
            <el-form-item label="专栏ID：" prop="goods_id">
                <el-input v-model="dataForm.goods_id"></el-input>
            </el-form-item>
            <el-form-item label="专栏类型：" prop="goods_type">
                <el-select v-model="dataForm.goods_type" placeholder="请选择专栏类型">
                    <el-option label="会员" :value="5"></el-option>
                    <el-option label="专栏" :value="6"></el-option>
                    <el-option label="大专栏" :value="8"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="专栏名称：" prop="goods_name">
                <el-input v-model="dataForm.goods_name"></el-input>
            </el-form-item>
            <el-form-item label="排序号：" prop="sort">
                <el-input-number v-model="dataForm.sort" controls-position="right" :min="0" :max="100"></el-input-number>
            </el-form-item>
            <el-form-item>
                <el-button size="medium" type="primary" @click="submitForm('dataForm')">立即提交</el-button>
                <el-button size="medium" @click="resetForm('dataForm')">重置</el-button>
            </el-form-item>
        </el-form>
    </article>

    <!-- footer 作为公共模板分离出去 -->
    {include file="Common/footer" /}
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/babel">
        
        new Vue({
            el: '#app',
            data: function() {
                return {
                    dataForm: {
                        goods_name: '',  // 专栏名称
                        goods_id: '',  // 专栏id
                        goods_type: '', // 专栏类型
                        sort: 0 // 排序
                    },
                    rules: {
                        goods_id: [
                            { required: true, message: '请输入专栏ID', trigger: 'blur' }
                        ],
                        goods_type: [
                            { required: true, message: '请选择专栏类型', trigger: 'change' }
                        ],
                        goods_name: [
                            { required: true, message: '请输入专栏名称', trigger: 'blur' }
                        ]
                    }
                }
            },
            mounted() {

            },
            methods: {
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            // 提交数据的请求
                            var index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                            setTimeout(()=> {
                                http_post('/admin/zhuanlan/saveInfo', this.dataForm).then((res) => {
                                    layer.close(index);
                                    this.$refs[formName].resetFields();
                                    layer.msg("提交成功", {icon:1});
                                }).catch(err => {
                                    layer.close(index);
                                });
                            }, 500);                            
                        } else {
                            layer.msg("必填信息未填写");
                            return false;
                        }
                    });
                    
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                }
            }
        })
    </script>
</body>
