<!DOCTYPE HTML>
<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>学院介绍</title>
    <meta name='keywords' content="学院介绍"/>
    <meta name='description' content="学院介绍"/>
    {include file="public/head" /}
</head>
<body>
<header>
    {include file="public/coll_header" /}
</header>
<script type="text/javascript">
    function searchAll() {
        var str = $("#keys").val();
        if (str == "")
            alert("请输入要搜索的关键词");
        else
            location.href = "/index/search/index.html?q=" + str;
    }

    $(function () {
        $("ul.nav_list li").hover(function () {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeIn();
        }, function () {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeOut();
        });
    });
</script>
<div class="pageBanner">
    <div class="roll flexslider">
        <ul class="slides">
            {volist name="gallery" id="vo"}
            <li><img src="{$vo.path}" alt="{$vo.headline}"></li>
            {/volist}
        </ul>
    </div>
    <!--<div class="txt">-->
    <!--<div class="cw">-->
    <!--<h3></h3>-->
    <!--</div>-->
    <!---->
    <!--</div>-->
    <!--<div class="line"></div>-->
    <!--<div class="btn">-->
    <!--<div class="cw"> <a href="/index/contact/message.html" class="act" target="_blank">在线报名</a> </div>-->
    <!--</div>-->

</div>
<div class="page">
    <div class="cw">
        <div class="pageBody clearfix">
            <!--left start-->
            <div class="leftBy fl">
                <div class="tit">
                    <h3>新闻动态</h3>
                    <h4>News</h4>
                </div>
                {include file="public/coll_leftBy" /}
            </div>
            <!--left End-->
            <!--right start-->
            <div class="rightBy fr">
                <div class="tool clearfix">
                    <div class="fl">
                        <h3> 学院<span>介绍</span></h3>
                    </div>
                    <div class="fr"><a href="{:url('index/index')}" target="_blank">首页</a><span class="cur">></span><a href="javascript:;"
                                                                                                   class="cur">学院介绍</a>
                    </div>
                </div>
                <div class="contBody">
                    <img alt="" src="/static/chhcollege/images/gaikuang/1.jpg" />
                    <img alt="" src="/static/chhcollege/images/gaikuang/2.jpg" />
                    <img alt="" src="/static/chhcollege/images/gaikuang/3.jpg" />
                    <img alt="" src="/static/chhcollege/images/gaikuang/4.jpg" />


                    <p style="text-align: center;"><img src="__COLL__/picture/1562557033637015.jpg"
                                                        title="1562557033637015.jpg" alt="1562557033637015.jpg"
                                                        style="width: 640px; height: 391px;" width="640" vspace="0"
                                                        height="391" border="0"/></p>
                    <p style="white-space: normal;text-align: center;"><br/></p>

                    <h2>华创胡杨大学</h2>
                    <h3>一、成立背景</h3>
                    <p><span></span>“大众创业、万众创新”，大大激发了全民的创业热情。在这个阶段，很多创业者的准备度不足，
                        急需培养一大批优秀的中坚力量，这批人拥有完备的知识和能力，在社会上可以带领大家创业成功，
                        在此背景下胡杨众创学院应运而生。 胡杨众创学院，团结有社会责任感和奉献精神的各界社会友人，
                        包括教授、专家、企业家、投资人等，给创业者提供公益的系统性培训和创业指导，前者提供系统化
                        的理论知识，包括但不限于创业方向选择、团队组建、融资知识、企业治理结构、企业管理等；后者
                        提供创业实践指导，为社会培养一批批具有社会责任感、使命感的企业家。
                    </p><br/>
                    <h3>二、学院文化</h3>
                    <p style="text-align: center; color: #ae7f65;">校训：创造价值，回报社会</p>
                    <p style="text-align: center; color: #ae7f65;">精神：百折不挠，勇攀高峰</p><br/>
                    <p><span></span>华创胡杨大学，是一所不设门槛的创新创业大学，是一所终身公益免费培养企业家的学校，是一所所有
                        导师无私奉献的学校。学校致力于系统性的培养企业家及其管理团队，打造最有价值的学习与发展平台，
                        为中国创新创业事业和实业发展贡献力量。
                    </p>
                    <p><span></span>创胡杨大学给学员培养的不仅仅是知识和能力，更重要的是社会责任感和核心价值观。鼓励所有学员奉献
                        和担当，通过持续创造价值来成就自己的事业。
                    </p>
                    <p><span></span>胡杨大学不仅仅是一所学校，更是助力创业者成长和企业发展的全方位服务生态，是创业者的加油站和休息站。</p>
                    <br/>
                    <h3>三、培训模式：</h3>
                    <img alt="培训模式" />
                    <h4>第1阶段：互动教学阶段。</h4>
                    <p><span></span>胡杨团结社会责任感和奉献精神的各界社会友人，包括教授、专家、企业家、投资人等，提供系统化的理论知
                        识培训。胡杨汇聚英才，不断邀请新的创新创业教练加入，将更好的课程带给大家，是华创胡杨大学终极使命。
                    </p><br/>
                    <h4>第2阶段：咨询辅导阶段。</h4>
                    <p><span></span>学员可报名参加投资人待站，由创业培训教师和创业指导专家对培训学员的项目BP进行分类指导，帮助学员准
                        确评估市场，确定有发展前途、符合市场需求的创业项目，修改和完善创业计划书。中国众创联盟创服汇和华
                        创为企商城将给创业者提供企业品牌和商品的宣传推广机会。 
                    </p><br/>
                    <h4>第3阶段：融资路演阶段。</h4>
                    <p><span></span>学员可报名参加华创俱乐部行业及泛领域项目路演，华创路演邀请20+以上投资机构参与，优秀项目可获得融资
                        及孵化机会。 
                    </p><br/>
                    <h4>第4阶段：综合服务阶段。</h4>
                    <p><span></span>学员定期回访，随时掌握学员创办企业的情况，对学员创业中遇到的问题给予指导，组织学员在创业过程中进
                        行经验交流，更有园区租赁、公司、商标注册、财务代记账等配套服务。胡杨校友会搭建了校友互助平台，
                        同学们可以一起组织相关创业活动。 
                    </p><br/>
                    <h3>四、学院设置：</h3>
                    <img alt="学院设置"/>
                    <h3>五、各学院院长介绍:</h3>
                    <p>
                        <strong>许炳：</strong>华创胡杨大学校长，中国众创联盟理事长，华创俱乐部会长，华创胡杨大学校长，杨浦区政协委员、上海众创空间联盟副
                        理事长，杨浦区青年企业家协会副会长，华莘网络科技公司董事长，韬华投资基金创始人，上海市创业指导专家志愿团导师，
                        上海市企业发展服务专家志愿团导师，上海市退役军人创业指导专家志愿团导师，中国电信创新孵化基地创业导师，上海市大学
                        生创业训练营导师，上海市发改委/科委项目评审专家。
                    </p>
                    <p><strong>凌建民：</strong>创业CEO学院院长、上海良时智能科技股份有限公司董事长</p>
                    <p><strong>宁钟：</strong>创业CEO学院名誉院长、复旦大学创业与创新投资研究中心执行副主任、教授、博士生导师</p>
                    <p><strong>张勇：</strong>电商学院院长、汤民电商（网店托管业务）创始人，熊猫电商（跨境分销业务）创始人</p>
                    <p><strong>郭国中：</strong>法商学院副院长、上海段和段律师事务所高级合伙人</p>
                    <p><strong>邱春雨：</strong>法商学院院长、北京盈科（上海）律师事务所合伙人</p>
                    <p><strong>范慧英：</strong>国学创意学院院长、上海市吉他艺术协会会长，著名琵琶演奏家、资深出版人</p>
                    <p><strong>李冀：</strong>国学创意学院名誉院长、企业家，经济学者，诗人</p>
                    <p><strong>郑乾：</strong>国学创意学院常务副院长、上海市青创大学生创业基金会（市教委直属）创业指导专家</p>
                    <p><strong>孙瑜：</strong>女性创业学院院长、上海申浩律师事务所合伙人</p>
                    <p><strong>十三姨：</strong>个人品牌学院院长、大Ｖ梦工厂创始人</p>
                    <p><strong>夏东豪：</strong>个人品牌学院副院长、心理学博士&专栏作家，中国台湾著名心理咨询师</p>
                    <p><strong>迟一佳：</strong>新零售学院院长、上海一巢科技有限公司创始人</p>
                    <p><strong>杜聪：</strong>新零售学院副院长、英国KAPM咨询有限公司董事长、国际注册会计师</p>
                    <p><strong>刘彦麟：</strong>跨界营销学院院长、上海万播传媒/万播企管咨询/黑龙江万播经贸有限公司 创始人&CEO</p>
                    <p><strong>白诗豪：</strong>人工智能学院院长、上海赅推智能科技有限公司联合创始人</p>
                    <p><strong>凌棕：</strong>人工智能学院名誉院长、电子工程学博士、IBM首席数字科学专家</p>
                    <p><strong>傅旭东：</strong>财税学院院长、上海仟一税务师事务所合伙人。资深财务管理顾问、管理咨询顾问。中国注册会计师、注册税务师。</p>
                    <p><strong>关铭辰：</strong>经理人学院副院长、“共赢领导力”品牌联合创始人</p>
                    <p><strong>曾颖：</strong>经理人学院名誉院长、日进共创社联合创始人</p>
                    <p><strong>翁海冰：</strong>经理人学院院长、复旦大学MBA、通信工程学士；信息技术咨询公司创始人</p>
                    <p><strong>罗睿：</strong>K12教育学院副院长、ACI国际高级注册形体顾问，ACI国际高级注册礼仪培训师</p>
                    <p><strong>沈俊同：</strong>K12教育学院院长、机器人教育品牌创始人，中国机器人创客教育创新联盟上海分盟主席</p>
                    <p><strong>季宝根：</strong>投融资学院院长、上海市科委创业导师，上海市数十家科技产业园创业导师</p>
                    <p><strong>姚正勤：</strong>私董学院院长、企业创始合伙人、 董事长，私董功场 专业私董会认证教练</p>
                    <p><strong>徐晶晶：</strong>创新管理学院院长、两岸青年创客项目(育青计划/育菁计划)企业导师；找实习平台联合创始人</p>
                    <p><strong>张蓓蓓：</strong>实践学院执行院长、十年以上全球知名消费品牌零售运营总监、多年海外学习工作经验、德国贸易公司合作人</p>
                    <br/>
                    <h3>六、往期培训花絮：</h3>
                    <img alt="培训花絮" />
                    <h3>七、组织单位：</h3>
                    <p><strong>指导单位：</strong>上海市就业促进中心、杨浦区科学技术委员会</p>
                    <p><strong>主办单位：</strong>华创俱乐部、华创胡杨大学</p>
                    <img alt="组织单位"/>
                    <br/><br/>
                    <p style="font-size: 20px; color: #ae7f65; text-align: center;">华创胡杨大学欢迎您的加入！</p>
                    <br/><br/>
                </div>
            </div>
            <!--right End-->
        </div>
    </div>
    <div class="right_extend"></div>
</div>
<div class="color_blank s_1"></div>
<footer>
    {include file="public/coll_footer" /}
</footer>
</body>
</html>
