<!DOCTYPE HTML>
<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>胡杨概况</title>
    <meta name='keywords' content="胡杨概况"/>
    <meta name='description' content="胡杨概况"/>
    {include file="public/head" /}
</head>
<body>
<header>
    {include file="public/coll_header" /}
</header>
<script type="text/javascript">
    function searchAll() {
        var str = $("#keys").val();
        if (str == "")
            alert("请输入要搜索的关键词");
        else
            location.href = "/index/search/index.html?q=" + str;
    }

    $(function () {
        $("ul.nav_list li").hover(function () {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeIn();
        }, function () {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeOut();
        });
    });
</script>
<div class="pageBanner">
    <div class="roll flexslider">
        <ul class="slides">
            {volist name="gallery" id="vo"}
            <li><img src="{$vo.path}" alt="{$vo.headline}"></li>
            {/volist}
        </ul>
    </div>
    <!--<div class="txt">-->
    <!--<div class="cw">-->
    <!--<h3></h3>-->
    <!--</div>-->
    <!---->
    <!--</div>-->
    <!--<div class="line"></div>-->
    <!--<div class="btn">-->
    <!--<div class="cw"> <a href="/index/contact/message.html" class="act" target="_blank">在线报名</a> </div>-->
    <!--</div>-->

</div>
<div class="page">
    <div class="cw">
        <div class="pageBody clearfix">
            <!--left start-->
            <div class="leftBy fl">
                <div class="tit">
                    <h3>胡杨概况</h3>
                    <h4>Huyang Overview</h4>
                </div>
                <ul class="list">
                    <li>
                        <a  href="{:url('index/about')}" target=""git class="title cur">概况</a>
                    </li>
                    <li>
                        <a  href="{:url('index/introduction')}" target=""git class="title cur">学院介绍</a>
                    </li>
                    {volist name="more" id="vo"}
                    <li>
                        <a  href="{:url('index/aboutMore',['id'=>$vo.id])}" target=""git class="title cur">{$vo.name}</a>
                    </li>
                    {/volist}
                    
                </ul>
                {include file="public/coll_leftBy" /}
            </div>
            <!--left End-->
            <!--right start-->
            <div class="rightBy fr">
                <div class="tool clearfix">
                    <div class="fl">
                        <h3> 胡杨<span>概况</span></h3>
                    </div>
                    <div class="fr"><a href="{:url('index/index')}" target="_blank">首页</a><span class="cur">></span><a href="javascript:;"
                                                                                                   class="cur">胡杨概况</a>
                    </div>
                </div>
                <div class="contBody">
                    <span>********</span>

                </div>
            </div>
            <!--right End-->
        </div>
    </div>
    <div class="right_extend"></div>
</div>
<div class="color_blank s_1"></div>
<footer>
    <script type="text/javascript">
            $(document).ready(function(){
                $.ajax({
                    type:"get",
                    url:"/index/index/about",
                    dataType:"json",
                    data:{},
                    success:function(data){
                        var res=$.parseJSON(data);
                        if(res.code==1){
                            $(".contBody").html(res.data.content);
                        }else{
                            alert("获取数据失败");
                        }
                    }
                });
            });
    </script>
    {include file="public/coll_footer" /}
</footer>
</body>
</html>
