<!DOCTYPE HTML>
<html>
<head runat="server">
    {include file="public/head" /}
</head>
<body>
<header>
    {include file="public/coll_header" /}
</header>
<script type="text/javascript">
    function searchAll() {
        var str = $("#keys").val();
        if (str == "")
            alert("请输入要搜索的关键词");
        else
            location.href = "/index/search/index.html?q=" + str;
    }

    $(function () {
        $("ul.nav_list li").hover(function () {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeIn();
        }, function () {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeOut();
        });
    });
</script>
<div class="pageBanner">
    <div class="roll flexslider">
        <ul class="slides">
            {volist name="gallery" id="vo"}
            <li><img src="{$vo.path}" alt="{$vo.headline}"></li>
            {/volist}
        </ul>
    </div>
    <!--<div class="txt">-->
    <!--<div class="cw">-->
    <!--<h3></h3>-->
    <!--</div>-->
    <!---->
    <!--</div>-->
    <!--<div class="line"></div>-->
    <!--<div class="btn">-->
    <!--<div class="cw"> <a href="/index/contact/message.html" class="act" target="_blank">在线报名</a> </div>-->
    <!--</div>-->

</div>
<div class="page">
    <div class="cw">
        <div class="pageBody clearfix">
            <!--left start-->
            <div class="leftBy fl">
                <div class="tit">
                    <h3>胡杨概况</h3>
                    <h4>Huyang Overview</h4>
                </div>
                {include file="public/coll_leftBy" /}
            </div>
            <!--left End-->
            <!--right start-->
            <div class="rightBy fr">
                <div class="tool clearfix">
                    <div class="fl">
                        <h3> 学院<span>介绍</span></h3>
                    </div>
                    <div class="fr"><a href="{:url('index/index')}" target="_blank">首页</a><span class="cur">></span><a href="javascript:;"
                                                                                                   class="cur">学院介绍</a>
                    </div>
                </div>
                <div class="contBody" style="width: 950px;">
                    {volist name='xueyuan' id='vo'}
                    <!-- <div class="item">
                        <a href="{:url('index/college',['seriesID'=>$vo.seriesID])}">{$vo.series}</a>
                    </div> -->
                    <a class="item" href="{:url('index/college',['seriesID'=>$vo.seriesID])}">
                        <img alt="{$vo.series}" src="{$vo.icon}"/>
                        <span>{$vo.series}</span>
                    </a>
                    {/volist}
                </div>
                <!--<div class="contBody">
                    <p style="text-align: center;"><img src="__COLL__/picture/1562557033637015.jpg"
                                                        title="1562557033637015.jpg" alt="1562557033637015.jpg"
                                                        style="width: 640px; height: 391px;" width="640" vspace="0"
                                                        height="391" border="0"/></p>
                    <p style="white-space: normal;text-align: center;"><br/></p>
                    <blockquote class="" data-author="Wxeditor"
                                style="margin: 5px auto;padding-left: 0px;border-width: 0px;border-style: initial;border-color: initial;white-space: normal;letter-spacing: 0.544px;line-height: 27.2px;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                        <section style="text-align: center;box-sizing: border-box !important;">
                            <blockquote class="" data-author="Wxeditor"
                                        style="margin: 5px auto;padding-left: 0px;border-width: 0px;border-style: initial;border-color: initial;box-sizing: border-box !important;">
                                <section
                                        style="margin-right: auto;margin-left: auto;box-sizing: border-box !important;">
                                    <section
                                            style="display: inline-block;vertical-align: top;box-sizing: border-box !important;">
                                        <section class=""
                                                 style="height: 5px;border-top: 1px solid rgb(189, 140, 119);border-right: 1px solid rgb(189, 140, 119);border-bottom-style: none;border-left: 1px solid rgb(189, 140, 119);border-bottom-color: rgb(189, 140, 119);box-sizing: border-box !important;"></section>
                                        <p style="padding: 2px 10px;font-size: 16px;color: rgb(6, 6, 6);box-sizing: border-box !important;">
                                            <span style="color: rgb(170, 117, 80);"><strong
                                                    style="box-sizing: border-box !important;"><span
                                                    style="color: rgb(170, 117, 80);font-size: 18px;box-sizing: border-box !important;"><strong
                                                    style="color: rgb(189, 140, 119);font-size: 16px;white-space: pre-wrap;box-sizing: border-box !important;"><span
                                                    style="color: rgb(170, 117, 80);font-size: 18px;box-sizing: border-box !important;"><strong
                                                    style="font-size: 16px;line-height: 30px;box-sizing: border-box !important;"><span
                                                    style="color: rgb(170, 117, 80);font-size: 18px;box-sizing: border-box !important;">关于</span></strong></span></strong></span></strong></span>
                                        </p>
                                        <section class=""
                                                 style="height: 5px;border-right: 1px solid rgb(189, 140, 119);border-top-style: none;border-bottom: 1px solid rgb(189, 140, 119);border-left: 1px solid rgb(189, 140, 119);border-top-color: rgb(189, 140, 119);box-sizing: border-box !important;"></section>
                                    </section>
                                    <p style="line-height: 1.75em;box-sizing: border-box !important;"><span class=""
                                                                                                            style="display: inline-block;width: 30px;height: 2px;vertical-align: top;background: rgb(189, 140, 119);box-sizing: border-box !important;"></span>
                                    </p></section>
                            </blockquote>
                            <p style="text-align: center;"><span
                                    style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"><span
                                    style="color: rgb(81, 79, 79);font-size: 14px;letter-spacing: 0.544px;text-align: left;background-color: rgb(255, 255, 255);">是基于上海交通大学等国内外知名院校优质资源的基础上成立的全球新一代平台型商学院。</span></span>
                            </p>
                            <p style="text-align: center;"><span
                                    style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"><span
                                    style="color: rgb(81, 79, 79);font-size: 14px;letter-spacing: 0.544px;text-align: left;background-color: rgb(255, 255, 255);">致力于打破大学围墙，突破教育界与产业界的界限，打造中国乃至世界领先的创业者、企业家及其管理团</span></span>
                            </p>
                            <p style="text-align: center;"><span
                                    style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"><span
                                    style="color: rgb(81, 79, 79);font-size: 14px;letter-spacing: 0.544px;text-align: left;background-color: rgb(255, 255, 255);">队最有价值的学习与发展平台，为中国创新创业和经济转型贡献力量！</span></span>
                            </p>
                            <p style="text-align: left;"><span
                                    style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"><span
                                    style="color: rgb(81, 79, 79);font-size: 14px;letter-spacing: 0.544px;text-align: left;background-color: rgb(255, 255, 255);"><br/></span></span>
                            </p>
                            <blockquote class="" data-author="Wxeditor"
                                        style="margin: 5px auto;padding-left: 0px;border-width: 0px;border-style: initial;border-color: initial;box-sizing: border-box !important;">
                                <section style="margin: 1em auto;box-sizing: border-box !important;">
                                    <section class=""
                                             style="padding-right: 16px;padding-left: 16px;border-bottom: 1px solid rgb(189, 140, 119);border-top-color: rgb(189, 140, 119);border-right-color: rgb(189, 140, 119);border-left-color: rgb(189, 140, 119);line-height: 25px;display: inline-block;box-sizing: border-box !important;">
                                        <p style="margin-top: 5px;margin-bottom: 5px;box-sizing: border-box !important;">
                                            <span style="font-size: 16px;font-weight: bold;color: rgb(170, 117, 80);box-sizing: border-box !important;">使命与愿景</span>
                                        </p></section>
                                    <section style="box-sizing: border-box !important;"><span class=""
                                                                                              style="margin: -1px auto 10px;width: 0px;height: 0px;border-left: 10px solid transparent;border-right: 10px solid transparent;display: block;border-top: 8px solid rgb(189, 140, 119);box-sizing: border-box !important;"><br/></span>
                                    </section>
                                </section>
                            </blockquote>
                        </section>
                    </blockquote>
                    <p style="white-space: normal;letter-spacing: 0.544px;background-color: rgb(255, 255, 255);line-height: normal;box-sizing: border-box !important;">
                        <br/></p>
                    <p><br/></p>
                    <section class="" title="490，更新于2015-12-04 10:41"
                             style="margin: 5px auto;white-space: normal;letter-spacing: 0.544px;font-family: 微软雅黑, 宋体;font-size: 14px;line-height: normal;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                        <section style="box-sizing: border-box;">
                            <section
                                    style="margin-top: 0.5em; margin-bottom: 0.5em; box-sizing: border-box; text-align: center;">
                                <section class=""
                                         style="padding: 2px 10px;box-sizing: border-box;display: inline-block;border-top-right-radius: 1em;border-bottom-right-radius: 1em;border-width: 2px;border-style: solid;border-color: rgb(189, 140, 119);color: rgb(189, 140, 119);">
                                    <section style="box-sizing: border-box;"><span
                                            style="color: rgb(170, 117, 80);"><strong
                                            style="box-sizing: border-box !important;"><span
                                            style="font-size: 15px;line-height: 25.6px;white-space: pre-wrap;box-sizing: border-box !important;">使命</span></strong></span>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                    <p><br/></p>
                    <p style="white-space: normal; letter-spacing: 0.544px; line-height: 25.6px; background-color: rgb(255, 255, 255); box-sizing: border-box !important; text-align: center;">
                        <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"></span><span
                            style="color: rgb(81, 79, 79);font-size: 14px;text-align: left;">打破</span><span
                            style="color: rgb(81, 79, 79);font-size: 14px;text-align: left;">大学围墙，突破教育界与产业界的界限，打造</span><span
                            style="color: rgb(81, 79, 79);font-size: 14px;text-align: left;">中国乃至世界领先的创业者、企业家及其管理团队最有</span>
                    </p>
                    <p style="white-space: normal; letter-spacing: 0.544px; line-height: 25.6px; background-color: rgb(255, 255, 255); box-sizing: border-box !important; text-align: center;">
                        <span style="color: rgb(81, 79, 79);font-size: 14px;text-align: left;">价值的学习发展</span><span
                            style="color: rgb(81, 79, 79);font-size: 14px;text-align: left;">平台，为</span><span
                            style="color: rgb(81, 79, 79);font-size: 14px;text-align: left;">中国创新创业和经济转型贡献力量！</span></p>
                    <p style="white-space: normal;letter-spacing: 0.544px;line-height: 27.2px;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                        <br style="box-sizing: border-box !important;"/></p>
                    <p><br/></p>
                    <section class="" title="490，更新于2015-12-04 10:41"
                             style="margin: 5px auto;white-space: normal;letter-spacing: 0.544px;font-family: 微软雅黑, 宋体;font-size: 14px;line-height: normal;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                        <section style="box-sizing: border-box;">
                            <section
                                    style="margin-top: 0.5em; margin-bottom: 0.5em; box-sizing: border-box; text-align: center;">
                                <section class=""
                                         style="padding: 2px 10px;box-sizing: border-box;display: inline-block;border-top-right-radius: 1em;border-bottom-right-radius: 1em;border-width: 2px;border-style: solid;border-color: rgb(189, 140, 119);color: rgb(189, 140, 119);">
                                    <section style="box-sizing: border-box;"><span
                                            style="color: rgb(170, 117, 80);"><strong
                                            style="box-sizing: border-box !important;"><span
                                            style="font-size: 15px;line-height: 25.6px;white-space: pre-wrap;box-sizing: border-box !important;">愿景</span></strong></span>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                    <p><br/></p>
                    <p style="white-space: normal; letter-spacing: 0.544px; line-height: 27.2px; background-color: rgb(255, 255, 255); box-sizing: border-box !important; text-align: center;">
                        <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;">成为最具价值和影响力的商学教育平台！</span>
                    </p>
                    <p style="white-space: normal;letter-spacing: 0.544px;line-height: 27.2px;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                        <br style="box-sizing: border-box !important;"/></p>
                    <p><br/></p>
                    <section class="" title="490，更新于2015-12-04 10:41"
                             style="margin: 5px auto;white-space: normal;letter-spacing: 0.544px;font-family: 微软雅黑, 宋体;font-size: 14px;line-height: normal;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                        <section style="box-sizing: border-box;">
                            <section
                                    style="margin-top: 0.5em; margin-bottom: 0.5em; box-sizing: border-box; text-align: center;">
                                <section class=""
                                         style="padding: 2px 10px;box-sizing: border-box;display: inline-block;border-top-right-radius: 1em;border-bottom-right-radius: 1em;border-width: 2px;border-style: solid;border-color: rgb(189, 140, 119);color: rgb(189, 140, 119);">
                                    <section style="box-sizing: border-box;"><span
                                            style="color: rgb(170, 117, 80);"><strong
                                            style="box-sizing: border-box !important;"><span
                                            style="font-size: 15px;line-height: 25.6px;white-space: pre-wrap;box-sizing: border-box !important;">核心价值观</span></strong></span>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                    <p><br/></p>
                    <p style="white-space: normal; letter-spacing: 0.544px; line-height: 27.2px; background-color: rgb(255, 255, 255); box-sizing: border-box !important; text-align: center;">
                        <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;">专注、创新、追求卓越；谦虚、尊重、团队合作。</span>
                    </p>
                    <p style="white-space: normal;letter-spacing: 0.544px;line-height: 25.6px;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                        <br/></p>
                    <p><br/></p>
                    <section class="" title="490，更新于2015-12-04 10:41"
                             style="margin: 5px auto;white-space: normal;letter-spacing: 0.544px;font-family: 微软雅黑, 宋体;font-size: 14px;line-height: normal;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                        <section style="box-sizing: border-box;">
                            <section
                                    style="margin-top: 0.5em; margin-bottom: 0.5em; box-sizing: border-box; text-align: center;">
                                <section class=""
                                         style="padding: 2px 10px;box-sizing: border-box;display: inline-block;border-top-right-radius: 1em;border-bottom-right-radius: 1em;border-width: 2px;border-style: solid;border-color: rgb(189, 140, 119);color: rgb(189, 140, 119);">
                                    <section style="box-sizing: border-box;"><span
                                            style="color: rgb(170, 117, 80);"><strong
                                            style="box-sizing: border-box !important;"><span
                                            style="font-size: 15px;line-height: 25.6px;white-space: pre-wrap;box-sizing: border-box !important;">教学理念</span></strong></span>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                    <p><br/></p>
                    <p style="white-space: normal; letter-spacing: 0.544px; line-height: 27.2px; background-color: rgb(255, 255, 255); box-sizing: border-box !important; text-align: center;">
                        <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;">和而不同</span><span
                            style="font-family: arial;font-size: 13px;line-height: 16.016px;box-sizing: border-box !important;">·</span><span
                            style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;">知行合一</span>
                    </p>
                    <p><br/></p>
                    <section class="" title="746，更新于2016-07-02 16:44"
                             style="margin: 5px auto;white-space: normal;letter-spacing: 0.544px;font-family: 微软雅黑, 宋体;font-size: 14px;line-height: normal;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                        <section style="margin: 1em auto;text-align: center;box-sizing: border-box !important;">
                            <section class=""
                                     style="padding-right: 16px;padding-left: 16px;border-bottom: 1px solid rgb(189, 140, 119);border-top-color: rgb(189, 140, 119);border-right-color: rgb(189, 140, 119);border-left-color: rgb(189, 140, 119);line-height: 25px;display: inline-block;box-sizing: border-box !important;">
                                <p style="margin-top: 5px;margin-bottom: 5px;box-sizing: border-box !important;"><span
                                        style="font-weight: bold;font-size: 16px;color: rgb(170, 117, 80);box-sizing: border-box !important;"><br/></span>
                                </p>
                                <p style="margin-top: 5px;margin-bottom: 5px;box-sizing: border-box !important;"><span
                                        style="font-weight: bold;font-size: 16px;color: rgb(170, 117, 80);box-sizing: border-box !important;">教学模式</span>
                                </p></section>
                            <section style="box-sizing: border-box !important;"><span class=""
                                                                                      style="margin: -1px auto 10px;width: 0px;height: 0px;border-left: 10px solid transparent;border-right: 10px solid transparent;display: block;border-top: 8px solid rgb(189, 140, 119);box-sizing: border-box !important;"><br
                                    style="box-sizing: border-box !important;"/></span></section>
                        </section>
                    </section>
                    <p style="text-align: center;"><span
                            style="color: rgb(81, 79, 79);line-height: 1.6;font-size: 14px;box-sizing: border-box !important;">胡杨大学商学采用全球最先进的教学理念，独创“五位一体、双导师制、学习课堂与实践课堂相结合”的教</span>
                    </p>
                    <p style="text-align: center;"><span
                            style="color: rgb(81, 79, 79);line-height: 1.6;font-size: 14px;box-sizing: border-box !important;">学模式打造全方位、立体化的学习体验，助推学习成果的最高程度转化。</span>
                    </p>
                    <p><span
                            style="color: rgb(81, 79, 79);line-height: 1.6;font-size: 14px;box-sizing: border-box !important;"><br/></span>
                    </p>
                    <p><br/></p>
                    <p style="text-align: center;"><img src="__COLL__/picture/1562557100549341.jpg"
                                                        title="1562557100549341.jpg" alt="1562557100549341.jpg"
                                                        style="width: 640px; height: 406px;" width="640" vspace="0"
                                                        height="406" border="0"/></p>
                    <p><br/></p>
                    <blockquote class="" data-author="Wxeditor"
                                style="margin: 5px auto;padding-left: 0px;border-width: 0px;border-style: initial;border-color: initial;white-space: normal;letter-spacing: 0.544px;line-height: 27.2px;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                        <section
                                style="margin-right: auto;margin-left: auto;text-align: center;box-sizing: border-box !important;">
                            <section
                                    style="display: inline-block;vertical-align: top;box-sizing: border-box !important;">
                                <section class=""
                                         style="height: 5px;border-top: 1px solid rgb(189, 140, 119);border-right: 1px solid rgb(189, 140, 119);border-bottom-style: none;border-left: 1px solid rgb(189, 140, 119);border-bottom-color: rgb(189, 140, 119);box-sizing: border-box !important;"></section>
                                <p style="padding: 2px 10px;box-sizing: border-box !important;"><span
                                        style="font-size: 18px;color: rgb(170, 117, 80);box-sizing: border-box !important;"><strong
                                        style="box-sizing: border-box !important;">教学体系</strong></span></p>
                                <section class=""
                                         style="height: 5px;border-right: 1px solid rgb(189, 140, 119);border-top-style: none;border-bottom: 1px solid rgb(189, 140, 119);border-left: 1px solid rgb(189, 140, 119);border-top-color: rgb(189, 140, 119);box-sizing: border-box !important;"></section>
                            </section>
                            <section style="box-sizing: border-box !important;"><span class=""
                                                                                      style="display: inline-block;width: 30px;height: 2px;vertical-align: top;background: rgb(189, 140, 119);box-sizing: border-box !important;"><br
                                    style="box-sizing: border-box !important;"/></span></section>
                        </section>
                    </blockquote>
                    <p style="text-align:center"><img src="__COLL__/picture/1562557124901875.jpg"
                                                      title="1562557124901875.jpg" alt="1562557124901875.jpg"
                                                      style="width: 640px; height: 319px;" width="640" vspace="0"
                                                      height="319" border="0"/></p>
                    <p style="text-align: center;"><br/></p>
                    <p style="white-space: normal;letter-spacing: 0.544px;line-height: 25.6px;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                        <br/></p>
                    <blockquote class="" data-author="Wxeditor"
                                style="margin: 5px auto;padding-left: 0px;border-width: 0px;border-style: initial;border-color: initial;line-height: 27.2px;white-space: normal;letter-spacing: 0.544px;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                        <section
                                style="margin-right: auto;margin-left: auto;text-align: center;box-sizing: border-box !important;">
                            <section
                                    style="display: inline-block;vertical-align: top;box-sizing: border-box !important;">
                                <section class=""
                                         style="height: 5px;border-top: 1px solid rgb(189, 140, 119);border-right: 1px solid rgb(189, 140, 119);border-bottom-style: none;border-left: 1px solid rgb(189, 140, 119);border-bottom-color: rgb(189, 140, 119);box-sizing: border-box !important;"></section>
                                <p style="padding: 2px 10px;box-sizing: border-box !important;"><span
                                        style="font-size: 18px;color: rgb(170, 117, 80);box-sizing: border-box !important;"><strong
                                        style="box-sizing: border-box !important;">课程体系</strong></span></p>
                                <section class=""
                                         style="height: 5px;border-right: 1px solid rgb(189, 140, 119);border-top-style: none;border-bottom: 1px solid rgb(189, 140, 119);border-left: 1px solid rgb(189, 140, 119);border-top-color: rgb(189, 140, 119);box-sizing: border-box !important;"></section>
                            </section>
                            <section style="box-sizing: border-box !important;"><span class=""
                                                                                      style="display: inline-block;width: 30px;height: 2px;vertical-align: top;background: rgb(189, 140, 119);box-sizing: border-box !important;"><br
                                    style="box-sizing: border-box !important;"/></span></section>
                        </section>
                    </blockquote>
                    <p style="text-align: center;"><img class="rich_pages " data-ratio="1.8035982008995501"
                                                        data-s="300,640"
                                                        data-src="__COLL__/picture/df7ea4b101af42879ca4cc5bc176e08e.gif"
                                                        data-type="png" data-w="667"
                                                        style="width: 667px !important; height: auto !important; visibility: visible !important;"
                                                        _width="667px"
                                                        src="/public/upload/20190708/1562557482856566.jpg"
                                                        crossorigin="anonymous" data-fail="0"
                                                        title="1562557482856566.jpg" alt="1562557482856566.jpg"
                                                        width="640" vspace="0" height="1154" border="0"/></p>
                    <p><br/></p>
                    <blockquote class="" data-author="Wxeditor"
                                style="margin: 5px auto;padding-left: 0px;border-width: 0px;border-style: initial;border-color: initial;white-space: normal;letter-spacing: 0.544px;line-height: 27.2px;text-align: center;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                        <section style="margin-right: auto;margin-left: auto;box-sizing: border-box !important;">
                            <section
                                    style="display: inline-block;vertical-align: top;box-sizing: border-box !important;">
                                <section class=""
                                         style="height: 5px;border-top: 1px solid rgb(189, 140, 119);border-right: 1px solid rgb(189, 140, 119);border-bottom-style: none;border-left: 1px solid rgb(189, 140, 119);border-bottom-color: rgb(189, 140, 119);box-sizing: border-box !important;"></section>
                                <p style="padding: 2px 10px;font-size: 16px;color: rgb(6, 6, 6);box-sizing: border-box !important;">
                                    <span style="color: rgb(170, 117, 80);"><strong
                                            style="box-sizing: border-box !important;"><span
                                            style="font-size: 18px;box-sizing: border-box !important;"><strong
                                            style="color: rgb(189, 140, 119);font-size: 16px;white-space: pre-wrap;box-sizing: border-box !important;"><span
                                            style="color: rgb(170, 117, 80);font-size: 18px;box-sizing: border-box !important;"><strong
                                            style="font-size: 16px;line-height: 30px;box-sizing: border-box !important;"><span
                                            style="font-size: 18px;box-sizing: border-box !important;">胡杨大学APP</span></strong></span></strong></span></strong></span>
                                </p>
                                <section class=""
                                         style="height: 5px;border-right: 1px solid rgb(189, 140, 119);border-top-style: none;border-bottom: 1px solid rgb(189, 140, 119);border-left: 1px solid rgb(189, 140, 119);border-top-color: rgb(189, 140, 119);box-sizing: border-box !important;">
                                    &nbsp;
                                </section>
                            </section>
                            <p style="line-height: 1.75em;box-sizing: border-box !important;"><span class=""
                                                                                                    style="display: inline-block;width: 30px;height: 2px;vertical-align: top;background: rgb(189, 140, 119);box-sizing: border-box !important;"><br
                                    style="box-sizing: border-box !important;"/></span></p></section>
                    </blockquote>
                    <blockquote class="" data-author="Wxeditor"
                                style="margin: 5px auto;padding-left: 0px;border-width: 0px;border-style: initial;border-color: initial;white-space: normal;letter-spacing: 0.544px;line-height: 27.2px;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                        <section
                                style="margin-right: auto;margin-left: auto;text-align: center;box-sizing: border-box !important;">
                            <section style="box-sizing: border-box !important;">
                                <blockquote class="" data-author="Wxeditor"
                                            style="margin: 5px auto;padding-left: 0px;border-width: 0px;border-style: initial;border-color: initial;box-sizing: border-box !important;">
                                    <section
                                            style="margin-right: auto;margin-left: auto;box-sizing: border-box !important;">
                                        <p style="line-height: 1.75em;box-sizing: border-box !important;"><img
                                                data-src="__COLL__/picture/ce7b21e196df483ba073509ca820dbc7.gif"
                                                data-type="jpeg" class="" data-ratio="0.6194444444444445" data-w="1080"
                                                _width="677px" src="/public/upload/20190708/1562557515522708.jpg"
                                                style="width: 677px !important; height: auto !important; visibility: visible !important;"
                                                crossorigin="anonymous" data-fail="0" title="1562557515522708.jpg"
                                                alt="1562557515522708.jpg" width="640" vspace="0" height="396"
                                                border="0"/></p></section>
                                </blockquote>
                            </section>
                        </section>
                    </blockquote>
                    <blockquote class=""
                                style="margin-top: 2px;margin-bottom: 2px;padding: 2px;border-width: 1px;border-style: dotted;border-color: rgb(189, 140, 119);white-space: normal;box-sizing: border-box;letter-spacing: 0.544px;color: rgb(62, 62, 62);font-size: 16px;line-height: 28.4444px;background-color: rgb(255, 255, 255);">
                        <section style="padding: 10px;box-sizing: border-box;color: inherit;"><p
                                style="line-height: 28.4444px; box-sizing: border-box !important; text-align: center;">
                            <span style="color: rgb(81, 79, 79);font-size: 14px;letter-spacing: 0.544px;">胡杨大学APP打破大学围墙，整合国际知名商学教育资源和全球产业核心资源，构建商学社群生态平台，</span>
                        </p>
                            <p style="line-height: 28.4444px; box-sizing: border-box !important; text-align: center;">
                                <span style="color: rgb(81, 79, 79);font-size: 14px;letter-spacing: 0.544px;">旨在为企业家、创业者及其管理团队提供优质的在线课程以及资源对接、交流共创的服务平台。</span>
                            </p>
                            <p style="line-height: 28.4444px;box-sizing: border-box !important;"><span
                                    style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"></span>
                            </p>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255);font-family: "
                               helvitica="" hiragino="" sans="" microsoft="" arial="" text-indent:="" box-sizing:=""
                               border-box=""><span
                                    style="color: rgb(170, 117, 80);font-size: 15px;box-sizing: border-box !important;"><strong
                                    style="box-sizing: border-box !important;"><span
                                    style="text-indent: 2em;box-sizing: border-box !important;">商学课程</span></strong></span>
                            </p>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255);font-family: "
                               helvitica="" hiragino="" sans="" microsoft="" arial="" text-indent:="" box-sizing:=""
                               border-box=""><span style="font-size: 15px;box-sizing: border-box !important;"><strong
                                    style="box-sizing: border-box !important;"><span
                                    style="text-indent: 2em;color: rgb(136, 136, 136);box-sizing: border-box !important;">迭代认知 拥抱变化</span></strong></span>
                            </p>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255);text-indent: 0em;font-family: "
                               helvitica="" hiragino="" sans="" microsoft="" arial="" line-height:="" box-sizing:=""
                               border-box=""><br style="box-sizing: border-box !important;"/></p>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255);font-family: "
                               helvitica="" hiragino="" sans="" microsoft="" arial="" text-indent:="" box-sizing:=""
                               border-box=""><span
                                    style="color: rgb(170, 117, 80);font-size: 15px;box-sizing: border-box !important;"><strong
                                    style="box-sizing: border-box !important;">社群连接</strong></span></p>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255);font-family: "
                               helvitica="" hiragino="" sans="" microsoft="" arial="" text-indent:="" box-sizing:=""
                               border-box=""><span style="font-size: 15px;box-sizing: border-box !important;"><strong
                                    style="box-sizing: border-box !important;"><span
                                    style="text-indent: 0em;color: rgb(136, 136, 136);box-sizing: border-box !important;">思想共生 价值共创</span></strong></span>
                            </p>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255);text-indent: 0em;font-family: "
                               helvitica="" hiragino="" sans="" microsoft="" arial="" line-height:="" box-sizing:=""
                               border-box=""><br style="box-sizing: border-box !important;"/></p>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255);font-family: "
                               helvitica="" hiragino="" sans="" microsoft="" arial="" text-indent:="" box-sizing:=""
                               border-box=""><span
                                    style="color: rgb(170, 117, 80);font-size: 15px;box-sizing: border-box !important;"><strong
                                    style="box-sizing: border-box !important;">生态服务</strong></span></p>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255);font-family: "
                               helvitica="" hiragino="" sans="" microsoft="" arial="" text-indent:="" box-sizing:=""
                               border-box=""><span style="font-size: 15px;box-sizing: border-box !important;"><strong
                                    style="box-sizing: border-box !important;"><span
                                    style="text-indent: 0em;color: rgb(136, 136, 136);box-sizing: border-box !important;">创新加速 平台赋能</span></strong></span>
                            </p></section>
                    </blockquote>
                    <p><br/></p>
                    <article class="" data-author="Wxeditor"
                             style="margin: 5px auto;letter-spacing: 0.544px;white-space: normal;background-color: rgb(255, 255, 255);font-family: "
                             helvitica="" hiragino="" sans="" microsoft="" arial="" font-size:="" line-height:=""
                             border-width:="" border-style:="" border-color:="" box-sizing:="" border-box="">
                        <section style="text-align: center;box-sizing: border-box !important;">
                            <section data-author="Wxeditor" style="box-sizing: border-box !important;">
                                <section data-author="Wxeditor" style="box-sizing: border-box !important;"><p
                                        style="box-sizing: border-box !important;"><span
                                        style="color: rgb(170, 117, 80);box-sizing: border-box !important;"><br/></span>
                                </p>
                                    <p style="box-sizing: border-box !important;"><strong><span
                                            style="color: rgb(170, 117, 80);box-sizing: border-box !important;">&nbsp;</span></strong>
                                    </p>
                                    <section data-author="Wxeditor"
                                             style="letter-spacing: 0.544px;white-space: normal;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                                        <blockquote class="" data-author="Wxeditor"
                                                    style="margin: 5px auto;padding-left: 0px;border-width: 0px;border-style: initial;border-color: initial;white-space: normal;letter-spacing: 0.544px;line-height: 27.2px;text-align: center;background-color: rgb(255, 255, 255);">
                                            <section style="margin-right: auto;margin-left: auto;">
                                                <section style="display: inline-block;vertical-align: top;">
                                                    <section class=""
                                                             style="height: 5px;border-top: 1px solid rgb(189, 140, 119);border-right: 1px solid rgb(189, 140, 119);border-bottom-style: none;border-left: 1px solid rgb(189, 140, 119);border-bottom-color: rgb(189, 140, 119);"></section>
                                                    <p style="padding: 2px 10px;font-size: 16px;color: rgb(6, 6, 6);">
                                                        <span style="color: rgb(170, 117, 80);"><strong><span
                                                                style="font-size: 18px;"><strong
                                                                style="color: rgb(189, 140, 119);font-size: 16px;white-space: pre-wrap;"><span
                                                                style="color: rgb(170, 117, 80);font-size: 18px;"><strong
                                                                style="font-size: 16px;line-height: 30px;"><span
                                                                style="font-size: 18px;">学术支持</span></strong></span></strong></span></strong></span>
                                                    </p>
                                                    <section class=""
                                                             style="height: 5px;border-right: 1px solid rgb(189, 140, 119);border-top-style: none;border-bottom: 1px solid rgb(189, 140, 119);border-left: 1px solid rgb(189, 140, 119);border-top-color: rgb(189, 140, 119);"></section>
                                                </section>
                                                <p style="line-height: 1.75em;"><span class=""
                                                                                      style="display: inline-block;width: 30px;height: 2px;vertical-align: top;background: rgb(189, 140, 119);"><br/></span>
                                                </p></section>
                                        </blockquote>
                                        <p style="white-space: normal;letter-spacing: 0.544px;line-height: 1.5em;background-color: rgb(255, 255, 255);">
                                            <img class="" data-copyright="0" data-ratio="0.08275328692962104"
                                                 data-s="300,640" data-type="png" data-w="1293"
                                                 data-src="__COLL__/picture/e8a80b36f3394dacb7a4f41230a5bf25.gif"
                                                 style="font-size: 14px; visibility: visible !important; width: 677px !important; height: auto !important;"
                                                 _width="677px" src="/public/upload/20190708/1562557575122995.jpg"
                                                 crossorigin="anonymous" data-fail="0" title="1562557575122995.jpg"
                                                 alt="1562557575122995.jpg" width="640" vspace="0" height="53"
                                                 border="0"/></p>
                                        <p style="white-space: normal;letter-spacing: 0.544px;line-height: 1.5em;background-color: rgb(255, 255, 255);">
                                            <br/></p></section>
                                    <blockquote class="" data-author="Wxeditor"
                                                style="margin: 5px auto;padding-left: 0px;border-width: 0px;border-style: initial;border-color: initial;white-space: normal;letter-spacing: 0.544px;line-height: 27.2px;text-align: center;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                                        <section
                                                style="margin-right: auto;margin-left: auto;box-sizing: border-box !important;">
                                            <section
                                                    style="display: inline-block;vertical-align: top;box-sizing: border-box !important;">
                                                <section class=""
                                                         style="height: 5px;border-top: 1px solid rgb(189, 140, 119);border-right: 1px solid rgb(189, 140, 119);border-bottom-style: none;border-left: 1px solid rgb(189, 140, 119);border-bottom-color: rgb(189, 140, 119);box-sizing: border-box !important;"></section>
                                                <p style="padding: 2px 10px;font-size: 16px;color: rgb(6, 6, 6);box-sizing: border-box !important;">
                                                    <span style="color: rgb(170, 117, 80);"><strong
                                                            style="box-sizing: border-box !important;"><span
                                                            style="color: rgb(170, 117, 80);font-size: 18px;box-sizing: border-box !important;"><strong
                                                            style="color: rgb(189, 140, 119);font-size: 16px;white-space: pre-wrap;box-sizing: border-box !important;"><span
                                                            style="color: rgb(170, 117, 80);font-size: 18px;box-sizing: border-box !important;"><strong
                                                            style="font-size: 16px;line-height: 30px;box-sizing: border-box !important;"><span
                                                            style="color: rgb(170, 117, 80);font-size: 18px;box-sizing: border-box !important;">师资力量</span></strong></span></strong></span></strong></span>
                                                </p>
                                                <section class=""
                                                         style="height: 5px;border-right: 1px solid rgb(189, 140, 119);border-top-style: none;border-bottom: 1px solid rgb(189, 140, 119);border-left: 1px solid rgb(189, 140, 119);border-top-color: rgb(189, 140, 119);box-sizing: border-box !important;"></section>
                                            </section>
                                            <p style="line-height: 1.75em;box-sizing: border-box !important;"><span
                                                    class=""
                                                    style="display: inline-block;width: 30px;height: 2px;vertical-align: top;background: rgb(189, 140, 119);box-sizing: border-box !important;"><br
                                                    style="box-sizing: border-box !important;"/></span></p></section>
                                    </blockquote>
                                    <p style="margin-top: 5px;margin-bottom: 5px;white-space: normal;letter-spacing: 0.544px;line-height: 27.2px;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                                        <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;">胡杨大学商学突破单一院校界限，打破大学围墙，以全球化的视野整合国内外顶尖商学院优质师资力量、业</span>
                                    </p>
                                    <p style="margin-top: 5px;margin-bottom: 5px;white-space: normal;letter-spacing: 0.544px;line-height: 27.2px;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                                        <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;">界权威专家学者以及实践领域的知名企业家共同授课，为学员们打造中西贯通、理论与实践深度融合的学</span>
                                    </p>
                                    <p style="margin-top: 5px;margin-bottom: 5px;white-space: normal;letter-spacing: 0.544px;line-height: 27.2px;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                                        <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;">习体验。</span>
                                    </p>
                                    <p style="margin-top: 5px;margin-bottom: 5px;white-space: normal;letter-spacing: 0.544px;background-color: rgb(255, 255, 255);line-height: normal;box-sizing: border-box !important;">
                                        <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"><br/></span>
                                    </p>
                                    <p><img class="" data-copyright="0" data-ratio="1.5548387096774194" data-s="300,640"
                                            data-src="__COLL__/picture/7b9050f7dbe14d64b9cdf77a94a49864.gif"
                                            data-type="jpeg" data-w="1240"
                                            style="font-size: 14px; text-align: center; white-space: normal; width: 677px !important; height: auto !important; visibility: visible !important;"
                                            _width="677px" src="/public/upload/20190708/1562557603693645.jpg"
                                            crossorigin="anonymous" data-fail="0" title="1562557603693645.jpg"
                                            alt="1562557603693645.jpg" width="640" vspace="0" height="995" border="0"/>
                                    </p>
                                    <p style="box-sizing: border-box !important;"><strong><span
                                            style="color: rgb(170, 117, 80);box-sizing: border-box !important;"></span></strong><strong
                                            style="color: rgb(170, 117, 80);box-sizing: border-box !important;"></strong>
                                    </p>
                                    <p style="white-space: normal;letter-spacing: 0.544px;background-color: rgb(255, 255, 255);text-align: center;box-sizing: border-box !important;">
                                        <br/></p>
                                    <blockquote class="" data-author="Wxeditor"
                                                style="margin: 5px auto;padding-left: 0px;border-width: 0px;border-style: initial;border-color: initial;white-space: normal;letter-spacing: 0.544px;line-height: 27.2px;text-align: center;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                                        <section
                                                style="margin-right: auto;margin-left: auto;box-sizing: border-box !important;">
                                            <section
                                                    style="display: inline-block;vertical-align: top;box-sizing: border-box !important;">
                                                <section class=""
                                                         style="height: 5px;border-top: 1px solid rgb(189, 140, 119);border-right: 1px solid rgb(189, 140, 119);border-bottom-style: none;border-left: 1px solid rgb(189, 140, 119);border-bottom-color: rgb(189, 140, 119);box-sizing: border-box !important;"></section>
                                                <p style="padding: 2px 10px;font-size: 16px;color: rgb(6, 6, 6);box-sizing: border-box !important;">
                                                    <span style="color: rgb(170, 117, 80);"><strong
                                                            style="box-sizing: border-box !important;"><span
                                                            style="font-size: 18px;box-sizing: border-box !important;"><strong
                                                            style="color: rgb(189, 140, 119);font-size: 16px;white-space: pre-wrap;box-sizing: border-box !important;"><span
                                                            style="color: rgb(170, 117, 80);font-size: 18px;box-sizing: border-box !important;"><strong
                                                            style="font-size: 16px;line-height: 30px;box-sizing: border-box !important;"><span
                                                            style="font-size: 18px;box-sizing: border-box !important;">2019年课表</span></strong></span></strong></span></strong></span>
                                                </p>
                                                <section class=""
                                                         style="height: 5px;border-right: 1px solid rgb(189, 140, 119);border-top-style: none;border-bottom: 1px solid rgb(189, 140, 119);border-left: 1px solid rgb(189, 140, 119);border-top-color: rgb(189, 140, 119);box-sizing: border-box !important;"></section>
                                            </section>
                                            <p style="line-height: 1.75em;box-sizing: border-box !important;"><span
                                                    class=""
                                                    style="display: inline-block;width: 30px;height: 2px;vertical-align: top;background: rgb(189, 140, 119);box-sizing: border-box !important;"><br
                                                    style="box-sizing: border-box !important;"/></span></p></section>
                                    </blockquote>
                                    <p style="text-align: center;"><img class="" data-copyright="0" data-cropselx1="0"
                                                                        data-cropselx2="556" data-cropsely1="0"
                                                                        data-cropsely2="1486"
                                                                        data-ratio="2.43739837398374" data-s="300,640"
                                                                        data-src="__COLL__/picture/d557676940044f4db19e4a175626c74b.gif"
                                                                        data-type="png" data-w="615"
                                                                        style="width: 556px !important; height: auto !important; visibility: visible !important;"
                                                                        _width="556px"
                                                                        src="/public/upload/20190708/1562557639232730.jpg"
                                                                        crossorigin="anonymous" data-fail="0"
                                                                        title="1562557639232730.jpg"
                                                                        alt="1562557639232730.jpg" width="640"
                                                                        vspace="0" height="1560" border="0"/></p>
                                    <p style="box-sizing: border-box !important;"><br/></p></section>
                            </section>
                        </section>
                    </article>
                    <p><br/></p></div>-->
            </div>
            <!--right End-->
        </div>
    </div>
    <div class="right_extend"></div>
</div>
<div class="color_blank s_1"></div>
<footer>
    {include file="public/coll_footer" /}
</footer>
</body>
</html>
