<!DOCTYPE HTML>
<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>个人品牌学院介绍</title>
    <meta name='keywords' content="学院介绍"/>
    <meta name='description' content="学院介绍"/>

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?7996666e6d269b8161c664dc73b41699";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <script src="__COLL__/js/entrance.js" data-args="groupId=f120961075064bbebb64783685097ee4" class="zhiCustomBtn"
            id="zhichiScript"></script>
    <!-- Apple iOS and Android stuff -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="__COLL__/images/icon.png"/>
    <link rel="apple-touch-icon-precomposed" href="__COLL__/images/icon.png"/>
    <link rel="apple-touch-startup-image" media="screen and (orientation: portrait)"
          href="__COLL__/images/startup.png"/>
    <link rel="apple-touch-startup-image" media="screen and (orientation: landscape)"
          href="__COLL__/images/startupL.png"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1"/>
    <script type="text/javascript">
        function fBrowserRedirect() {
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid = sUserAgent.match(/android/i) == "android";
            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";

            if (bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
                window.location.href = "http://www.chhcollege.org/mobile/";
            }
        }

        fBrowserRedirect();
    </script>
    <link href="__COLL__/css/flexslider.css" type="text/css" rel="stylesheet"/>
    <link href="__COLL__/css/reset.css" type="text/css" rel="stylesheet"/>
    <link href="__COLL__/css/layout.css" type="text/css" rel="stylesheet"/>
    <link href="__COLL__/css/common.css" type="text/css" rel="stylesheet"/>
    <link href="__COLL__/css/page.css" type="text/css" rel="stylesheet"/>
    <!--[if IE]>
    <script src="__COLL__/js/html5.js"></script><![endif]-->
    <!--[if lt IE 10]>
    <script type="text/javascript" src="__COLL__/js/pie.js"></script><![endif]-->
    <script type="text/javascript" src="__COLL__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__COLL__/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="__COLL__/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="__COLL__/js/jquery-powerswitch.js"></script>
    <script type="text/javascript">
        $(function () {

            $('.flexslider').flexslider({
                animation: "fade",
                slideshow: true,
                slideshowSpeed: 3000,
                animationSpeed: 2000,
                touch: false,
                controlNav: true,
                directionNav: false,
                pauseOnHover: false
            });
            $(".index_btm_body .tab_body a").click(function () {
                var index = $(".index_btm_body .tab_body a").index($(this));
                $(".index_btm_body .tab_body a").removeClass("cur").eq(index).addClass("cur");
                $(".index_btm_body .tab_con .con").hide().eq(index).fadeIn();
            }).eq(0).click();


        });
    </script>
</head>
<body>
<header>
    {include file="public/coll_header" /}
</header>
<script type="text/javascript">
    function searchAll() {
        var str = $("#keys").val();
        if (str == "")
            alert("请输入要搜索的关键词");
        else
            location.href = "/index/search/index.html?q=" + str;
    }

    $(function () {
        $("ul.nav_list li").hover(function () {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeIn();
        }, function () {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeOut();
        });
    });
</script>
<div class="pageBanner">
    <div class="roll flexslider">
        <ul class="slides">
            <!--<li><img src="__COLL__/picture/schoolnews.jpg"></li>-->
            <li><img src="__COLL__/images/huyanggaikuang.jpg"></li>
        </ul>
    </div>
    <!--<div class="txt">-->
    <!--<div class="cw">-->
    <!--<h3></h3>-->
    <!--</div>-->
    <!---->
    <!--</div>-->
    <!--<div class="line"></div>-->
    <!--<div class="btn">-->
    <!--<div class="cw"> <a href="/index/contact/message.html" class="act" target="_blank">在线报名</a> </div>-->
    <!--</div>-->

</div>
<div class="page">
    <div class="cw">
        <div class="pageBody clearfix">
            <!--left start-->
            <div class="leftBy fl">
                <div class="tit">
                    <h3>新闻动态</h3>
                    <h4>News</h4>
                </div>
                {include file="public/coll_leftBy" /}
            </div>
            <!--left End-->
            <!--right start-->
            <div class="rightBy fr">
                <div class="tool clearfix">
                    <div class="fl">
                        <h3> 学院<span>介绍</span></h3>
                    </div>
                    <div class="fr"><a href="{:url('index/index')}" target="_blank">首页</a><span class="cur">></span><a
                            href="javascript:;"
                            class="cur">学院介绍</a>
                    </div>
                </div>
                <div class="contBody">
                    <h1 style="font-size: 30px;text-align: center;margin:10px auto;">胡杨大学个人品牌学院</h1>

                    <p style="text-align: center;">
                        <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"><span
                                style="color: rgb(81, 79, 79);font-size: 14px;letter-spacing: 0.544px;text-align: left;background-color: rgb(255, 255, 255);">胡杨大学个人品牌学院为国内第一家垂直于【个人品牌商业运营】领域的公益学院；</span></span>
                    </p>
                    <p style="text-align: center;">
                        <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"><span
                                style="color: rgb(81, 79, 79);font-size: 14px;letter-spacing: 0.544px;text-align: left;background-color: rgb(255, 255, 255);">人品牌学院于2019年6月成立，目前已分别在上海、南京共开设四期，每期开课学员爆满；</span></span>
                    </p>
                    <p style="text-align: center;">
                        <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"><span
                                style="color: rgb(81, 79, 79);font-size: 14px;letter-spacing: 0.544px;text-align: left;background-color: rgb(255, 255, 255);">年时间内，为胡杨大学引进三家专业学院，孵化4位导师，2位院长；</span></span>
                    </p>

                    <p><br/></p>
                    <blockquote class="" data-author="Wxeditor"
                                style="margin: 5px auto;padding-left: 0px;border-width: 0px;border-style: initial;border-color: initial;white-space: normal;letter-spacing: 0.544px;line-height: 27.2px;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                        <section style="text-align: center;box-sizing: border-box !important;">
                            <blockquote class="" data-author="Wxeditor"
                                        style="margin: 5px auto;padding-left: 0px;border-width: 0px;border-style: initial;border-color: initial;box-sizing: border-box !important;">
                                <section
                                        style="margin-right: auto;margin-left: auto;box-sizing: border-box !important;">
                                    <section
                                            style="display: inline-block;vertical-align: top;box-sizing: border-box !important;">
                                        <section class=""
                                                 style="height: 5px;border-top: 1px solid rgb(189, 140, 119);border-right: 1px solid rgb(189, 140, 119);border-bottom-style: none;border-left: 1px solid rgb(189, 140, 119);border-bottom-color: rgb(189, 140, 119);box-sizing: border-box !important;"></section>
                                        <p style="padding: 2px 10px;font-size: 16px;color: rgb(6, 6, 6);box-sizing: border-box !important;">
                                            <span style="color: rgb(170, 117, 80);">
                                                <strong style="box-sizing: border-box !important;"><span
                                                        style="color: rgb(170, 117, 80);font-size: 18px;box-sizing: border-box !important;"><strong
                                                        style="color: rgb(189, 140, 119);font-size: 16px;white-space: pre-wrap;box-sizing: border-box !important;"><span
                                                        style="color: rgb(170, 117, 80);font-size: 18px;box-sizing: border-box !important;"><strong
                                                        style="font-size: 16px;line-height: 30px;box-sizing: border-box !important;"><span
                                                        style="color: rgb(170, 117, 80);font-size: 18px;box-sizing: border-box !important;">办学理念</span></strong></span></strong></span></strong>
                                            </span>
                                        </p>
                                        <section class=""
                                                 style="height: 5px;border-right: 1px solid rgb(189, 140, 119);border-top-style: none;border-bottom: 1px solid rgb(189, 140, 119);border-left: 1px solid rgb(189, 140, 119);border-top-color: rgb(189, 140, 119);box-sizing: border-box !important;"></section>
                                    </section>
                                    <p style="line-height: 1.75em;box-sizing: border-box !important;"><span class=""
                                                                                                            style="display: inline-block;width: 30px;height: 2px;vertical-align: top;background: rgb(189, 140, 119);box-sizing: border-box !important;"></span>
                                    </p></section>
                            </blockquote>
                            <p style="text-align: center;">
                                <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"><span
                                        style="color: rgb(81, 79, 79);font-size: 14px;letter-spacing: 0.544px;text-align: left;background-color: rgb(255, 255, 255);"> 以人为本  因道而商</span></span>
                            </p>
                            <p>
                                <br/>
                            </p>
                            <p style="text-align: center;"><img src="__COLL__/picture/xueyuan/personalbrand/1.png"
                                                                title="1.png" alt="1.png"
                                                                style="width: 665px; height: 500px;" width="665"
                                                                vspace="0" height="500" border="0"/></p>
                            <p style="text-align: left;">
                                <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"><span
                                        style="color: rgb(81, 79, 79);font-size: 14px;letter-spacing: 0.544px;text-align: left;background-color: rgb(255, 255, 255);"><br/></span></span>
                            </p>
                            <blockquote class="" data-author="Wxeditor"
                                        style="margin: 5px auto;padding-left: 0px;border-width: 0px;border-style: initial;border-color: initial;box-sizing: border-box !important;">
                                <section style="margin: 1em auto;box-sizing: border-box !important;">
                                    <section class=""
                                             style="padding-right: 16px;padding-left: 16px;border-bottom: 1px solid rgb(189, 140, 119);border-top-color: rgb(189, 140, 119);border-right-color: rgb(189, 140, 119);border-left-color: rgb(189, 140, 119);line-height: 25px;display: inline-block;box-sizing: border-box !important;">
                                        <p style="margin-top: 5px;margin-bottom: 5px;box-sizing: border-box !important;">
                                            <span style="font-size: 16px;font-weight: bold;color: rgb(170, 117, 80);box-sizing: border-box !important;">学院宗旨</span>
                                        </p>
                                    </section>
                                    <section style="box-sizing: border-box !important;"><span class=""
                                                                                              style="margin: -1px auto 10px;width: 0px;height: 0px;border-left: 10px solid transparent;border-right: 10px solid transparent;display: block;border-top: 8px solid rgb(189, 140, 119);box-sizing: border-box !important;"><br/></span>
                                    </section>
                                </section>
                                <p style="text-align: center;">
                                    <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"><span
                                            style="color: rgb(81, 79, 79);font-size: 14px;letter-spacing: 0.544px;text-align: left;background-color: rgb(255, 255, 255);">让更多商业人群通过【人设经济商业破局】实务课程，达成新商业时代下的创业梦想</span></span>
                                </p>
                                <p style="text-align: center;">
                                    <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"><span
                                            style="color: rgb(81, 79, 79);font-size: 14px;letter-spacing: 0.544px;text-align: left;background-color: rgb(255, 255, 255);">培养更多有商业变现价值的意见领袖人物</span></span>
                                </p>
                                <p style="text-align: center;">
                                    <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"><span
                                            style="color: rgb(81, 79, 79);font-size: 14px;letter-spacing: 0.544px;text-align: left;background-color: rgb(255, 255, 255);">为学员打造轻松优质的学习型社交场景</span></span>
                                </p>
                                <p style="text-align: center;">
                                    <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"><span
                                            style="color: rgb(81, 79, 79);font-size: 14px;letter-spacing: 0.544px;text-align: left;background-color: rgb(255, 255, 255);">给予更多优秀学员在个人品牌商业运营中的高光机会及上升通道</span></span>
                                </p>
                            </blockquote>
                        </section>
                    </blockquote>
                    <p><br/></p>

                    <p style="text-align: center;"><img src="__COLL__/picture/xueyuan/personalbrand/2.png" title="2.png"
                                                        alt="2.png" style="width: 665px; height: 371px;" width="665"
                                                        vspace="0" height="371" border="0"/></p>

                    <p><br/></p>

                    <blockquote class="" data-author="Wxeditor"
                                style="margin: 5px auto;padding-left: 0px;border-width: 0px;border-style: initial;border-color: initial;line-height: 27.2px;white-space: normal;letter-spacing: 0.544px;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                        <section
                                style="margin-right: auto;margin-left: auto;text-align: center;box-sizing: border-box !important;">
                            <section
                                    style="display: inline-block;vertical-align: top;box-sizing: border-box !important;">
                                <section class=""
                                         style="height: 5px;border-top: 1px solid rgb(189, 140, 119);border-right: 1px solid rgb(189, 140, 119);border-bottom-style: none;border-left: 1px solid rgb(189, 140, 119);border-bottom-color: rgb(189, 140, 119);box-sizing: border-box !important;"></section>
                                <p style="padding: 2px 10px;box-sizing: border-box !important;"><span
                                        style="font-size: 18px;color: rgb(170, 117, 80);box-sizing: border-box !important;"><strong
                                        style="box-sizing: border-box !important;">课程体系</strong></span></p>
                                <section class=""
                                         style="height: 5px;border-right: 1px solid rgb(189, 140, 119);border-top-style: none;border-bottom: 1px solid rgb(189, 140, 119);border-left: 1px solid rgb(189, 140, 119);border-top-color: rgb(189, 140, 119);box-sizing: border-box !important;"></section>
                            </section>
                            <section style="box-sizing: border-box !important;"><span class=""
                                                                                      style="display: inline-block;width: 30px;height: 2px;vertical-align: top;background: rgb(189, 140, 119);box-sizing: border-box !important;"><br
                                    style="box-sizing: border-box !important;"/></span></section>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255);font-family: "
                               helvitica="" hiragino="" sans="" microsoft="" arial=""
                               border-box=""><span
                                    style="color: rgb(170, 117, 80);font-size: 15px;box-sizing: border-box !important;"><strong
                                    style="box-sizing: border-box !important;"><span
                                    style="text-indent: 2em;box-sizing: border-box !important;">明星导师课程</span></strong></span>
                            </p>
                            <p style="text-align: center;"><img src="__COLL__/picture/xueyuan/personalbrand/3.png"
                                                                title="3.png" alt="3.png"
                                                                style="width: 498px; height: 597px;" width="498"
                                                                vspace="0" height="597" border="0"/></p>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255);"
                               helvitica="" hiragino="" sans="" microsoft="" arial=""
                               border-box=""><span
                                    style="color: rgb(170, 117, 80);font-size: 15px;box-sizing: border-box !important;"><strong
                                    style="box-sizing: border-box !important;"><span
                                    style="text-indent: 2em;box-sizing: border-box !important;">辅助课程体系</span></strong></span>
                            </p>
                            <p style="text-align: center;"><img src="__COLL__/picture/xueyuan/personalbrand/4.png"
                                                                title="4.png" alt="4.png"
                                                                style="width: 595px; height: 597px;" width="595"
                                                                vspace="0" height="597" border="0"/></p>
                        </section>
                    </blockquote>
                    <p style="white-space: normal;text-align: center;"><br/></p>
                    <blockquote class="" data-author="Wxeditor"
                                style="margin: 5px auto;padding-left: 0px;border-width: 0px;border-style: initial;border-color: initial;white-space: normal;letter-spacing: 0.544px;line-height: 27.2px;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                        <section style="text-align: center;box-sizing: border-box !important;">
                            <blockquote class="" data-author="Wxeditor"
                                        style="margin: 5px auto;padding-left: 0px;border-width: 0px;border-style: initial;border-color: initial;box-sizing: border-box !important;">
                                <section
                                        style="margin-right: auto;margin-left: auto;box-sizing: border-box !important;">
                                    <section
                                            style="display: inline-block;vertical-align: top;box-sizing: border-box !important;">
                                        <section class=""
                                                 style="height: 5px;border-top: 1px solid rgb(189, 140, 119);border-right: 1px solid rgb(189, 140, 119);border-bottom-style: none;border-left: 1px solid rgb(189, 140, 119);border-bottom-color: rgb(189, 140, 119);box-sizing: border-box !important;"></section>
                                        <p style="padding: 2px 10px;font-size: 16px;color: rgb(6, 6, 6);box-sizing: border-box !important;">
                                            <span style="color: rgb(170, 117, 80);">
                                                <strong style="box-sizing: border-box !important;"><span
                                                        style="color: rgb(170, 117, 80);font-size: 18px;box-sizing: border-box !important;"><strong
                                                        style="color: rgb(189, 140, 119);font-size: 16px;white-space: pre-wrap;box-sizing: border-box !important;"><span
                                                        style="color: rgb(170, 117, 80);font-size: 18px;box-sizing: border-box !important;"><strong
                                                        style="font-size: 16px;line-height: 30px;box-sizing: border-box !important;"><span
                                                        style="color: rgb(170, 117, 80);font-size: 18px;box-sizing: border-box !important;">课后服务</span></strong></span></strong></span></strong>
                                            </span>
                                        </p>
                                        <section class=""
                                                 style="height: 5px;border-right: 1px solid rgb(189, 140, 119);border-top-style: none;border-bottom: 1px solid rgb(189, 140, 119);border-left: 1px solid rgb(189, 140, 119);border-top-color: rgb(189, 140, 119);box-sizing: border-box !important;"></section>
                                    </section>
                                    <p style="line-height: 1.75em;box-sizing: border-box !important;"><span class=""
                                                                                                            style="display: inline-block;width: 30px;height: 2px;vertical-align: top;background: rgb(189, 140, 119);box-sizing: border-box !important;"></span>
                                    </p></section>
                            </blockquote>
                            <p style="text-align: center;">
                                <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"><span
                                        style="color: rgb(81, 79, 79);font-size: 14px;letter-spacing: 0.544px;text-align: left;background-color: rgb(255, 255, 255);">【十三宴】学员私域晚宴</span></span>
                            </p>
                            <p><br/></p>
                            <p style="text-align: center;"><img src="__COLL__/picture/xueyuan/personalbrand/5.png"
                                                                title="5.png" alt="5.png"
                                                                style="width: 490px; height: 300px;" width="490"
                                                                vspace="0" height="300" border="0"/></p>
                            <p style="text-align: center;">
                                <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"><span
                                        style="color: rgb(81, 79, 79);font-size: 14px;letter-spacing: 0.544px;text-align: left;background-color: rgb(255, 255, 255);">个人IP商业私董会</span></span>
                            </p>
                            <p><br/></p>
                            <p style="text-align: center;"><img src="__COLL__/picture/xueyuan/personalbrand/6.png"
                                                                title="6.png" alt="6.png"
                                                                style="width: 575px; height: 300px;" width="575"
                                                                vspace="0" height="300" border="0"/></p>
                            <p style="text-align: center;">
                                <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"><span
                                        style="color: rgb(81, 79, 79);font-size: 14px;letter-spacing: 0.544px;text-align: left;background-color: rgb(255, 255, 255);">学员团建活动</span></span>
                            </p>
                            <p style="white-space: normal;letter-spacing: 0.544px;background-color: rgb(255, 255, 255);line-height: normal;box-sizing: border-box !important;">
                                <br/>
                            </p>
                            <p style="text-align: center;"><img src="__COLL__/picture/xueyuan/personalbrand/7.png"
                                                                title="7.png" alt="7.png"
                                                                style="width: 491px; height: 292px;" width="491"
                                                                vspace="0" height="292" border="0"/></p>
                            <p style="text-align: center;">
                                <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"><span
                                        style="color: rgb(81, 79, 79);font-size: 14px;letter-spacing: 0.544px;text-align: left;background-color: rgb(255, 255, 255);">学员专属内训定制课程</span></span>
                            </p>
                            <p style="white-space: normal;letter-spacing: 0.544px;background-color: rgb(255, 255, 255);line-height: normal;box-sizing: border-box !important;">
                                <br/>
                            </p>
                            <p style="text-align: center;"><img src="__COLL__/picture/xueyuan/personalbrand/8.png"
                                                                title="8.png" alt="8.png"
                                                                style="width: 490px; height: 300px;" width="490"
                                                                vspace="0" height="300" border="0"/></p>
                            <p style="text-align: center;">
                                <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"><span
                                        style="color: rgb(81, 79, 79);font-size: 14px;letter-spacing: 0.544px;text-align: left;background-color: rgb(255, 255, 255);">【世界咖啡日】学员社交沙龙</span></span>
                            </p>
                            <p style="white-space: normal;letter-spacing: 0.544px;background-color: rgb(255, 255, 255);line-height: normal;box-sizing: border-box !important;">
                                <br/>
                            </p>
                            <p style="text-align: center;"><img src="__COLL__/picture/xueyuan/personalbrand/9.png"
                                                                title="9.png" alt="9.png"
                                                                style="width: 508px; height: 307px;" width="508"
                                                                vspace="0" height="307" border="0"/></p>
                            <p style="text-align: center;">
                                <span style="color: rgb(81, 79, 79);font-size: 14px;line-height: 1.6;box-sizing: border-box !important;"><span
                                        style="color: rgb(81, 79, 79);font-size: 14px;letter-spacing: 0.544px;text-align: left;background-color: rgb(255, 255, 255);">学员企业参访</span></span>
                            </p>
                            <p style="white-space: normal;letter-spacing: 0.544px;background-color: rgb(255, 255, 255);line-height: normal;box-sizing: border-box !important;">
                                <br/>
                            </p>
                            <p style="text-align: center;"><img src="__COLL__/picture/xueyuan/personalbrand/10.png"
                                                                title="10.png" alt="10.png"
                                                                style="width: 490px; height: 300px;" width="490"
                                                                vspace="0" height="300" border="0"/></p>

                        </section>
                    </blockquote>
                    <p style="white-space: normal;text-align: center;"><br/></p>
                    <blockquote class="" data-author="Wxeditor"
                                style="margin: 5px auto;padding-left: 0px;border-width: 0px;border-style: initial;border-color: initial;white-space: normal;letter-spacing: 0.544px;line-height: 27.2px;background-color: rgb(255, 255, 255);box-sizing: border-box !important;">
                        <section style="text-align: center;box-sizing: border-box !important;">
                            <blockquote class="" data-author="Wxeditor"
                                        style="margin: 5px auto;padding-left: 0px;border-width: 0px;border-style: initial;border-color: initial;box-sizing: border-box !important;">
                                <section
                                        style="margin-right: auto;margin-left: auto;box-sizing: border-box !important;">
                                    <section
                                            style="display: inline-block;vertical-align: top;box-sizing: border-box !important;">
                                        <section class=""
                                                 style="height: 5px;border-top: 1px solid rgb(189, 140, 119);border-right: 1px solid rgb(189, 140, 119);border-bottom-style: none;border-left: 1px solid rgb(189, 140, 119);border-bottom-color: rgb(189, 140, 119);box-sizing: border-box !important;"></section>
                                        <p style="padding: 2px 10px;font-size: 16px;color: rgb(6, 6, 6);box-sizing: border-box !important;">
                                            <span style="color: rgb(170, 117, 80);">
                                                <strong style="box-sizing: border-box !important;"><span
                                                        style="color: rgb(170, 117, 80);font-size: 18px;box-sizing: border-box !important;"><strong
                                                        style="color: rgb(189, 140, 119);font-size: 16px;white-space: pre-wrap;box-sizing: border-box !important;"><span
                                                        style="color: rgb(170, 117, 80);font-size: 18px;box-sizing: border-box !important;"><strong
                                                        style="font-size: 16px;line-height: 30px;box-sizing: border-box !important;"><span
                                                        style="color: rgb(170, 117, 80);font-size: 18px;box-sizing: border-box !important;">个性化特色</span></strong></span></strong></span></strong>
                                            </span>
                                        </p>
                                        <section class=""
                                                 style="height: 5px;border-right: 1px solid rgb(189, 140, 119);border-top-style: none;border-bottom: 1px solid rgb(189, 140, 119);border-left: 1px solid rgb(189, 140, 119);border-top-color: rgb(189, 140, 119);box-sizing: border-box !important;"></section>
                                    </section>
                                    <p style="line-height: 1.75em;box-sizing: border-box !important;"><span class=""
                                                                                                            style="display: inline-block;width: 30px;height: 2px;vertical-align: top;background: rgb(189, 140, 119);box-sizing: border-box !important;"></span>
                                    </p></section>
                            </blockquote>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255);"
                               helvitica="" hiragino="" sans="" microsoft="" arial=""
                               border-box=""><span
                                    style="color: rgb(170, 117, 80);font-size: 15px;box-sizing: border-box !important;"><strong
                                    style="box-sizing: border-box !important;"><span
                                    style="text-indent: 2em;box-sizing: border-box !important;">特色一：原创系统课程</span></strong></span>
                            </p>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255);"
                               helvitica="" hiragino="" sans="" microsoft="" arial=""
                               border-box=""><span style="font-size: 15px;box-sizing: border-box !important;"><strong
                                    style="box-sizing: border-box !important;"><span
                                    style="text-indent: 2em;color: rgb(136, 136, 136);box-sizing: border-box !important;">全国首家【个人品牌学院】，原创课程体系及实操方法</span></strong></span>
                            </p>
                            <p><br style="box-sizing: border-box !important;"/></p>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255);"
                               helvitica="" hiragino="" sans="" microsoft="" arial=""
                               border-box=""><span
                                    style="color: rgb(170, 117, 80);font-size: 15px;box-sizing: border-box !important;"><strong
                                    style="box-sizing: border-box !important;"><span
                                    style="text-indent: 2em;box-sizing: border-box !important;">特色二：场景去中心化</span></strong></span>
                            </p>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255);"
                               helvitica="" hiragino="" sans="" microsoft="" arial=""
                               border-box=""><span style="font-size: 15px;box-sizing: border-box !important;"><strong
                                    style="box-sizing: border-box !important;"><span
                                    style="text-indent: 2em;color: rgb(136, 136, 136);box-sizing: border-box !important;">强互动，既是学习场景，又是社交场景</span></strong></span>
                            </p>
                            <p><br style="box-sizing: border-box !important;"/></p>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255);"
                               helvitica="" hiragino="" sans="" microsoft="" arial=""
                               border-box=""><span
                                    style="color: rgb(170, 117, 80);font-size: 15px;box-sizing: border-box !important;"><strong
                                    style="box-sizing: border-box !important;"><span
                                    style="text-indent: 2em;box-sizing: border-box !important;">特色三：学员晋升通道</span></strong></span>
                            </p>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255);"
                               helvitica="" hiragino="" sans="" microsoft="" arial=""
                               border-box=""><span style="font-size: 15px;box-sizing: border-box !important;"><strong
                                    style="box-sizing: border-box !important;"><span
                                    style="text-indent: 2em;color: rgb(136, 136, 136);box-sizing: border-box !important;">优秀学员有机会孵化成为有商业卖点的明星导师资格</span></strong></span>
                            </p>
                            <p><br style="box-sizing: border-box !important;"/></p>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255);"
                               helvitica="" hiragino="" sans="" microsoft="" arial=""
                               border-box=""><span
                                    style="color: rgb(170, 117, 80);font-size: 15px;box-sizing: border-box !important;"><strong
                                    style="box-sizing: border-box !important;"><span
                                    style="text-indent: 2em;box-sizing: border-box !important;">特色四：课程在线回看</span></strong></span>
                            </p>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255);"
                               helvitica="" hiragino="" sans="" microsoft="" arial=""
                               border-box=""><span style="font-size: 15px;box-sizing: border-box !important;"><strong
                                    style="box-sizing: border-box !important;"><span
                                    style="text-indent: 2em;color: rgb(136, 136, 136);box-sizing: border-box !important;">所有课程在线直播，不错过任何一个知识点</span></strong></span>
                            </p>
                            <p ><br style="box-sizing: border-box !important;"/></p>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255);"
                               helvitica="" hiragino="" sans="" microsoft="" arial=""
                               border-box=""><span
                                    style="color: rgb(170, 117, 80);font-size: 15px;box-sizing: border-box !important;"><strong
                                    style="box-sizing: border-box !important;"><span
                                    style="text-indent: 2em;box-sizing: border-box !important;">特色五：理论结合实际</span></strong></span>
                            </p>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255);"
                               helvitica="" hiragino="" sans="" microsoft="" arial=""
                               border-box=""><span style="font-size: 15px;box-sizing: border-box !important;"><strong
                                    style="box-sizing: border-box !important;"><span
                                    style="text-indent: 2em;color: rgb(136, 136, 136);box-sizing: border-box !important;">课内设置体验式实训环节，课后【十三宴】提供督导面诊咨询</span></strong></span>
                            </p>
                            <p><br style="box-sizing: border-box !important;"/></p>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255)"
                               helvitica="" hiragino="" sans="" microsoft="" arial=""
                               border-box=""><span
                                    style="color: rgb(170, 117, 80);font-size: 15px;box-sizing: border-box !important;"><strong
                                    style="box-sizing: border-box !important;"><span
                                    style="text-indent: 2em;box-sizing: border-box !important;">特色六：导师人设多元</span></strong></span>
                            </p>
                            <p style="margin-top: 5px;margin-bottom: 5px;color: inherit;font-size: 14px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgb(255, 255, 255);"
                               helvitica="" hiragino="" sans="" microsoft="" arial=""
                               border-box=""><span style="font-size: 15px;box-sizing: border-box !important;"><strong
                                    style="box-sizing: border-box !important;"><span
                                    style="text-indent: 2em;color: rgb(136, 136, 136);box-sizing: border-box !important;">娱乐型授课模式，学习不无聊，每位导师人设风格差异化，总有一款适合你</span></strong></span>
                            </p>
                            <p><br style="box-sizing: border-box !important;"/></p>
                        </section>
                    </blockquote>
                </div>
            </div>
            <!--right End-->
        </div>
    </div>
    <div class="right_extend"></div>
</div>
<div class="color_blank s_1"></div>
<footer>
    {include file="public/coll_footer" /}
</footer>
</body>
</html>
