<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>胡杨概况</title>
    <!-- 引用 css 引用列表 -->
    {include file="common/meta" /}
</head>
<body>
    <div id="app">
        <!-- 引用 头部组件 -->
        {include file="common/header" /}
        <content class="about nav-top">
            <!-- 背景轮播 -->
            <van-swipe :autoplay="1000">
                <van-swipe-item v-for="(item, index) in gallery" :key="index">
                    <img class="banner" :src="item.path" />
                </van-swipe-item>
            </van-swipe>
            <!-- 类目 -->
            <van-tabs sticky animated swipeable lazy-render color="#C17A41" title-active-color="#C17A41" :offset-top="offsetTop">
                <van-tab class="tabs" v-for="item in tabs" :title="item.label">
                </br>
                    <van-grid v-if="item.label == '学院介绍'" column-num="3" gutter="0.2rem" :border="false" clickable>
                        <van-grid-item v-for="item2 in item.data" @click="goPage(item2.seriesID)">
                            <img :src="item2.icon" style="width: 1.7rem; height: 1.7rem;" />
                            <span style="font-size: 0.3rem; display: block; margin-top: 0.2rem; text-align: center;">{{item2.series}}</span>
                        </van-grid-item>
                    </van-grid>
                    <div class="news-detail" v-else v-html="item.data.content" style="width: 100%;">
                    </div>
                </van-tab>
            </van-tabs>
        </content>
        
        <!-- 引用 尾部组件 -->
        {include file="common/footer" /}
    </div>
</body>
<!-- 引用 js 脚本引用列表 -->
{include file="common/script" /}
<!-- 在此下方编写脚本 -->
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                headerActive: false, // header 列表显示-true 隐藏-false
                headerId: 1, //胡杨概况id==1
                offsetTop: 0,
                gallery:[],
                tabs: {
                    gaikuang: {
                        label: '胡杨概况',
                        data: {}
                    },
                    xueyuan: {
                        label: '学院介绍',
                        data: []
                    },
                    zuzhi: {
                        label: '组织架构',
                        data: {}
                    }
                }
            }
        },
        mounted: function() {
            // 设置导航吸顶距离
            this.offsetTop = this.$refs.header.offsetHeight;

            http.get('index/aboutMore').then(res=>{
                console.log(res)
                this.gallery = res.data.data.gallery;
                this.tabs.gaikuang.data = res.data.data.gaikuang;
                this.tabs.xueyuan.data = res.data.data.xueyuan;
                this.tabs.zuzhi.data = res.data.data.zuzhi;
            });
        },
        methods: {
            goPage(id) {
                window.location.href= '/mobile/index/college?seriesID='+id;
            }
        }
    });

    // 调用函数组件，弹出一个 Toast
    // vant.Toast('提示');
</script>
<!-- 在此上方编写脚本 -->
</html>