<!DOCTYPE HTML>
<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>国际访学类-日本访学</title>
    <meta name='keywords' content="——全球开放式平台型商学院"/>
    <meta name='description' content="——全球开放式平台型商学院"/>

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?7996666e6d269b8161c664dc73b41699";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <script src="__COLL__/js/entrance.js" data-args="groupId=f120961075064bbebb64783685097ee4" class="zhiCustomBtn"
            id="zhichiScript"></script>
    <!-- Apple iOS and Android stuff -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="__COLL__/images/icon.png"/>
    <link rel="apple-touch-icon-precomposed" href="__COLL__/images/icon.png"/>
    <link rel="apple-touch-startup-image" media="screen and (orientation: portrait)" href="__COLL__/images/startup.png"/>
    <link rel="apple-touch-startup-image" media="screen and (orientation: landscape)" href="__COLL__/images/startupL.png"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1"/>
    <script type="text/javascript">
        function fBrowserRedirect() {
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid = sUserAgent.match(/android/i) == "android";
            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";

            if (bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
                window.location.href = "http://www.chhcollege.org/mobile/";
            }
        }

        fBrowserRedirect();
    </script>
    <link href="__COLL__/css/flexslider.css" type="text/css" rel="stylesheet"/>
    <link href="__COLL__/css/reset.css" type="text/css" rel="stylesheet"/>
    <link href="__COLL__/css/layout.css" type="text/css" rel="stylesheet"/>
    <link href="__COLL__/css/common.css" type="text/css" rel="stylesheet"/>
    <link href="__COLL__/css/page.css" type="text/css" rel="stylesheet"/>
    <!--[if IE]>
    <script src="__COLL__/js/html5.js"></script><![endif]-->
    <!--[if lt IE 10]>
    <script type="text/javascript" src="__COLL__/js/pie.js"></script><![endif]-->
    <script type="text/javascript" src="__COLL__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__COLL__/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="__COLL__/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="__COLL__/js/jquery-powerswitch.js"></script>
    <script type="text/javascript">
        $(function () {

            $('.flexslider').flexslider({
                animation: "fade",
                slideshow: true,
                slideshowSpeed: 3000,
                animationSpeed: 2000,
                touch: false,
                controlNav: true,
                directionNav: false,
                pauseOnHover: false
            });
            $(".index_btm_body .tab_body a").click(function () {
                var index = $(".index_btm_body .tab_body a").index($(this));
                $(".index_btm_body .tab_body a").removeClass("cur").eq(index).addClass("cur");

                $(".index_btm_body .tab_con .con").hide().eq(index).fadeIn();
            }).eq(0).click();

            $(".list2 li a").each(function () {
                if ($(this).hasClass('cur')) {
                    $(this).next('dl').show();
                }
            });
        });
    </script>
</head>
<body>
<header>
    {include file="public/coll_header" /}
</header>
<script type="text/javascript">
    function searchAll() {
        var str = $("#keys").val();
        if (str == "")
            alert("请输入要搜索的关键词");
        else
            location.href = "/index/search/index.html?q=" + str;
    }

    $(function () {
        $("ul.nav_list li").hover(function () {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeIn();
        }, function () {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeOut();
        });
    });
</script>
<div class="pageBanner">
    <div class="roll flexslider">
        <ul class="slides">
            <li><img src="__COLL__/picture/20180523104050.jpg"></li>
        </ul>
    </div>
    <!--<div class="txt">-->
    <!--<div class="cw">-->
    <!--<h3></h3>-->
    <!--</div>-->
    <!---->
    <!--</div>-->
    <!--<div class="line"></div>-->
    <!--<div class="btn">-->
    <!--<div class="cw"> <a href="/index/contact/message.html" class="act" target="_blank">在线报名</a> </div>-->
    <!--</div>-->

</div>
<div class="page">
    <div class="cw">
        <div class="pageBody clearfix">
            <!--left start-->
            <div class="leftBy fl">
                <div class="tit">
                    <h3>核心课程</h3>
                    <h4>Main course</h4>
                </div>
                <ul class="list2">
                    <li><a href="{:url('chhcollege/m402')}" class="title ">工商管理类</a>
                        <dl>
                            <dd><a href="{:url('chhcollege/m402')}" class="">> 荷兰商学院MBA/DBA学位课程</a></dd>
                            <dd><a href="{:url('chhcollege/m403')}" class="">> 上海交通大学高级研修课程</a></dd>

                        </dl>
                    </li>
                    <li><a href="{:url('chhcollege/m404')}" class="title ">创新创业类</a>
                        <dl>
                            <dd><a href="{:url('chhcollege/m404')}" class="">> 「独角兽」创业成长计划 | 独步天下，角逐未来</a></dd>
                            <dd><a href="{:url('chhcollege/m405')}" class="">> 全球CEO创新领导力发展计划</a></dd>

                        </dl>
                    </li>
                    <li><a href="{:url('chhcollege/m385')}" class="title ">金融实务类</a>
                        <dl>
                            <dd><a href="{:url('chhcollege/m385')}" class="">> 股权激励实战特训营</a></dd>
                            <dd><a href="{:url('chhcollege/m384')}" class="">> 董事会秘书研修班</a></dd>

                        </dl>
                    </li>
                    <li><a href="{:url('chhcollege/m375')}" class="title ">人文与领导力类</a>
                        <dl>
                            <dd><a href="{:url('chhcollege/m375')}" class="title">> 哲学与东方领导力学习坊</a></dd>

                        </dl>
                    </li>
                    <li><a href="{:url('chhcollege/m380')}" class="title cur">国际访学类</a>
                        <dl>
                            <dd><a href="{:url('chhcollege/m380')}" class="">> 2019「创合汇」德国访学 | 隐形冠军与工匠精神</a></dd>
                            <dd><a href="{:url('chhcollege/m379')}" class="">> 美国访学</a></dd>
                            <dd><a href="{:url('chhcollege/m381')}" class="">> 英国访学</a></dd>
                            <dd><a href="{:url('chhcollege/m383')}" class="">> 日本访学</a></dd>
                            <dd><a href="{:url('chhcollege/m382')}" class="">> 以色列访学</a></dd>

                        </dl>
                    </li>
                </ul>


                <div class="list03">
                    <div class="content">
                        <div class="course02">
                            <h3><span>报名咨询</span></h3>

                            <a href="/index/contact/message.html">在线报名</a>
                        </div>

                    </div>
                    <div class="bottom"></div>
                </div>
                <!--<div class="list03">-->
                <!--<div class="content">-->
                <!--<div class="course02">-->
                <!--<a href="/index/contact/message.html">在线报名</a>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="bottom"></div>-->
                <!--</div>-->

            </div>
            <!--left End-->
            <!--right start-->
            <div class="rightBy fr">
                <div class="tool clearfix">
                    <div class="fl">
                        <h3> 日本访学 </h3>
                    </div>
                    <div class="fr"><a href="/" target="_blank">首页</a><span>></span><a
                            href="/index/course/index/id/369.html">核心课程</a><span class="cur">></span><a
                            href="javascript:;" class="cur">日本访学</a></div>
                </div>
                <div class="course">
                    <div class="contBody">
                        <p style="text-align: center;"><span style="font-size: 14px;"><img
                                src="__COLL__/picture/1525318643743883.jpg" title="1525318643743883.jpg"
                                alt="1525318643743883.jpg" style="width: 700px; height: 454px;" width="700" vspace="0"
                                height="454" border="0"/></span></p>
                        <p style="text-align: center;"><strong><span
                                style="font-size: 14px;">2018年6月30日-7月5日</span></strong></p>
                        <p><br/></p>
                        <p style="text-align: center;"><span style="font-size: 14px;">3堂重磅课程，</span></p>
                        <p style="text-align: center;"><span style="font-size: 14px;">聚焦“全球制造”、“企业竞争力”，</span></p>
                        <p style="text-align: center;"><span style="font-size: 14px;">在早稻田大学对话日本商界大咖。</span></p>
                        <p><br/></p>
                        <p style="text-align: center;"><span style="font-size: 14px;">4家日本制造业鼻祖企业参访，</span></p>
                        <p style="text-align: center;"><span style="font-size: 14px;">体验产品文化，</span></p>
                        <p style="text-align: center;"><span style="font-size: 14px;">探索智能制造与V字复兴的奥义。</span></p>
                        <p><br/></p>
                        <p style="text-align: center;"><span style="font-size: 14px;">东京、大阪、京都3地文化体验，</span></p>
                        <p style="text-align: center;"><span style="font-size: 14px;">追溯东瀛历史，</span></p>
                        <p style="text-align: center;"><span style="font-size: 14px;">感受民俗人文风情之美。</span></p>
                        <p><br/></p>
                        <section data-author="Wxeditor">
                            <article id="m47" class="yead_editor" data-author="Wxeditor"
                                     style="font-size:14px;margin:5px auto;"><p
                                    style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(255, 255, 255); white-space: pre-wrap; min-height: 1.5em; max-width: 100%; font-stretch: normal; word-wrap: break-word !important;">
                                <span style="font-size: 16px;"><strong><span class="yead_bgc"
                                                                             style="padding: 4px 10px; font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; margin-right: 8px; max-width: 100%; word-wrap: break-word !important; background-color: rgb(189, 140, 119);">项目背景</span></strong></span>
                            </p></article>
                            <p><span style="font-size: 14px;">1990年日本泡沫经济破灭的表面，看起来是经济的下滑，实质却是在所谓的“失去的20年”中逐渐完成的产业结构的转型，让企业重获竞争力，出现了7-11、优衣库、无印良品等一批现象级企业，也出现了松下、索尼、日本航空等一批实现了惊异的“V字复兴”、重建成功的企业。而这些，都值得正处于新常态下经营变革中的中国企业去思考。</span><br/>
                            </p></section>
                        <p><br/></p>
                        <p><span style="font-size: 14px;">「创合汇」2018日本访学，将深入日本，考察学习日本百年企业的内部的管理模式，感受日本的企业文化；体验日本传统文化与现代商业文明，在享受日本服务中领悟日本服务业匠人精神的核心与精髓，探索其经济发达的背后真因。</span>
                        </p>
                        <p><br/></p>
                        <section data-author="Wxeditor">
                            <article id="m47" class="yead_editor" data-author="Wxeditor"
                                     style="font-size:14px;margin:5px auto;"><p
                                    style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(255, 255, 255); white-space: pre-wrap; min-height: 1.5em; max-width: 100%; font-stretch: normal; word-wrap: break-word !important;">
                                <span style="font-size: 16px;"><strong><span class="yead_bgc"
                                                                             style="padding: 4px 10px; font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; margin-right: 8px; max-width: 100%; word-wrap: break-word !important; background-color: rgb(189, 140, 119);">项目概况</span></strong></span>
                            </p></article>
                            <p><span style="font-size: 14px;">此项目行程共6天5夜（含往返时间），采用“课程培训+企业参访+文化体验”相结合的学习形式，前往日本东京、大阪、京都，通过一系列的学习、参访、体验等活动，考察日本的企业文化，领略日本现代与传统交错的文化风貌，感受日本的服务与管理方式。</span><br/>
                            </p></section>
                        <p><br/></p>
                        <section data-author="Wxeditor">
                            <article id="m47" class="yead_editor" data-author="Wxeditor"
                                     style="font-size:14px;margin:5px auto;"><p
                                    style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(255, 255, 255); white-space: pre-wrap; min-height: 1.5em; max-width: 100%; font-stretch: normal; word-wrap: break-word !important;">
                                <span style="font-size: 16px;"><strong><span class="yead_bgc"
                                                                             style="padding: 4px 10px; font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; margin-right: 8px; max-width: 100%; word-wrap: break-word !important; background-color: rgb(189, 140, 119);">行程安排</span></strong></span>
                            </p></article>
                            <p><span style="font-size: 14px;">2018年6月30日-7月5日</span><br/></p></section>
                        <p><br/></p>
                        <p><strong><span style="font-size: 14px;"></span></strong></p>
                        <section data-author="Wxeditor"><p>►<strong><span
                                style="font-size: 14px;">D1 上海—东京</span></strong></p></section>
                        <p><span style="font-size: 14px;">上午：</span><span style="font-size: 14px;">乘飞机前往东京</span></p>
                        <p><span style="font-size: 14px;">下午：</span><span style="font-size: 14px;">坐禅</span></p>
                        <p><span style="font-size: 14px;">晚上：</span><span style="font-size: 14px;">欢迎晚宴</span></p>
                        <p><br/></p>
                        <p style="text-align: center;"><img src="__COLL__/picture/1525318843857455.jpg"
                                                            title="1525318843857455.jpg" alt="1525318843857455.jpg"
                                                            style="width: 600px; height: 383px;" width="600" vspace="0"
                                                            height="383" border="0"/></p>
                        <p><br/></p>
                        <p><strong><span style="font-size: 14px;"></span></strong></p>
                        <section data-author="Wxeditor"><p>►<strong><span style="font-size: 14px;">D2 东京</span></strong>
                        </p></section>
                        <p><span style="font-size: 14px;">上午：</span><span
                                style="font-size: 14px;">早稻田大学商学院培训 开营仪式</span></p>
                        <p><span style="font-size: 14px;">培训课程：《探究日本企业竞争力的源泉》by 田中信彦</span></p>
                        <p><span style="font-size: 14px;">下午：</span><span
                                style="font-size: 14px;">培训课程《第四次消费时代》by 三浦展</span><br/></p>
                        <p><br/></p>
                        <p style="text-align: center;"><img src="__COLL__/picture/1525318875142496.jpg"
                                                            title="1525318875142496.jpg" alt="1525318875142496.jpg"
                                                            style="width: 599px; height: 362px;" width="599" vspace="0"
                                                            height="362" border="0"/></p>
                        <p><br/></p>
                        <p><strong><span style="font-size: 14px;"></span></strong></p>
                        <section data-author="Wxeditor"><p>►<strong><span style="font-size: 14px;">D3 东京</span></strong>
                        </p></section>
                        <p><span style="font-size: 14px;">上午：</span><span style="font-size: 14px;">培训课程《从工业4.0到中国制造2025：全球制造战略布局》by 山田太郎</span>
                        </p>
                        <p><span style="font-size: 14px;">下午：</span><span style="font-size: 14px;">东京文化体验——浅草寺、银座</span><br/>
                        </p>
                        <p><span style="font-size: 14px;"><br/></span></p>
                        <p style="text-align: center;"><span style="font-size: 14px;"><img
                                src="__COLL__/picture/1525319001851394.jpg" title="1525319001851394.jpg"
                                alt="1525319001851394.jpg" style="width: 600px; height: 394px;" width="600" vspace="0"
                                height="394" border="0"/></span></p>
                        <p><br/></p>
                        <p><strong><span style="font-size: 14px;"></span></strong></p>
                        <section data-author="Wxeditor"><p>►<strong><span
                                style="font-size: 14px;">D4 东京—大阪</span></strong></p></section>
                        <p><span style="font-size: 14px;">上午：</span><span
                                style="font-size: 14px;">企业参访——YKK《极致产品打造》</span></p>
                        <p><span style="font-size: 14px;"><br/></span></p>
                        <p style="text-align: center;"><span style="font-size: 14px;"><img
                                src="__COLL__/picture/1525319030134029.jpg" title="1525319030134029.jpg"
                                alt="1525319030134029.jpg" style="width: 600px; height: 338px;" width="600" vspace="0"
                                height="338" border="0"/></span></p>
                        <p><span style="font-size: 14px;"><br/></span></p>
                        <p><span style="font-size: 14px;">下午：</span><span
                                style="font-size: 14px;">乘坐新干线前往大阪，抵达后游览大阪城</span><br/></p>
                        <p><span style="font-size: 14px;"><br/></span></p>
                        <p style="text-align: center;"><span style="font-size: 14px;"><img
                                src="__COLL__/picture/1525319045202787.jpg" title="1525319045202787.jpg"
                                alt="1525319045202787.jpg" style="width: 600px; height: 373px;" width="600" vspace="0"
                                height="373" border="0"/></span></p>
                        <p><br/></p>
                        <p><strong><span style="font-size: 14px;"></span></strong></p>
                        <section data-author="Wxeditor"><p>►<strong><span style="font-size: 14px;">D5 大阪</span></strong>
                        </p></section>
                        <p><span style="font-size: 14px;">上午：</span><span
                                style="font-size: 14px;">企业参访——松下电器《V字复兴与经营革新》</span></p>
                        <p><span style="font-size: 14px;">下午：</span><span style="font-size: 14px;">企业参访——松下电饭煲工厂《工匠精神打造电饭煲的极致口感》</span>
                        </p>
                        <p><span style="font-size: 14px;"><br/></span></p>
                        <p style="text-align: center;"><span style="font-size: 14px;"><img
                                src="__COLL__/picture/1525319060611264.jpg" title="1525319060611264.jpg"
                                alt="1525319060611264.jpg" style="width: 600px; height: 337px;" width="600" vspace="0"
                                height="337" border="0"/></span></p>
                        <p><br/></p>
                        <p><strong><span style="font-size: 14px;"></span></strong></p>
                        <section data-author="Wxeditor"><p>►<strong><span
                                style="font-size: 14px;">D6 京都—上海</span></strong></p></section>
                        <p><span style="font-size: 14px;">上午：</span><span style="font-size: 14px;">企业参访——小丸屋</span></p>
                        <p><span style="font-size: 14px;"><br/></span></p>
                        <p style="text-align: center;"><span style="font-size: 14px;"><img
                                src="__COLL__/picture/1525319085220554.jpg" title="1525319085220554.jpg" alt="8.jpg"/></span>
                        </p>
                        <p><span style="font-size: 14px;"><br/></span></p>
                        <p><span style="font-size: 14px;">下午：</span><span
                                style="font-size: 14px;">京都文化体验——平安神宫、伏见稻荷大社</span><br/></p>
                        <p><span style="font-size: 14px;"><br/></span></p>
                        <p style="text-align: center;"><span style="font-size: 14px;"><img
                                src="__COLL__/picture/1525319096912147.jpg" title="1525319096912147.jpg"
                                alt="1525319096912147.jpg" style="width: 600px; height: 378px;" width="600" vspace="0"
                                height="378" border="0"/></span></p>
                        <p><span style="font-size: 14px;"><br/></span></p>
                        <p><span style="font-size: 14px;">晚上：</span><span style="font-size: 14px;">返回上海</span><br/></p>
                        <p><span style="font-size: 14px;"><br/></span></p>
                        <p><span style="font-size: 12px;">注：以上行程为预定，实施时有部分调整的可能。</span></p>
                        <p><br/></p>
                        <section data-author="Wxeditor">
                            <article id="m47" class="yead_editor" data-author="Wxeditor"
                                     style="font-size:14px;margin:5px auto;"><p
                                    style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(255, 255, 255); white-space: pre-wrap; min-height: 1.5em; max-width: 100%; font-stretch: normal; word-wrap: break-word !important;">
                                <span style="font-size: 16px;"><strong><span class="yead_bgc"
                                                                             style="padding: 4px 10px; font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; margin-right: 8px; max-width: 100%; word-wrap: break-word !important; background-color: rgb(189, 140, 119);">参访企业（拟定）</span></strong></span>
                            </p></article>
                            <p><br/></p></section>
                        <p><strong><span style="font-size: 14px;"></span></strong></p>
                        <section data-author="Wxeditor"><p>►<strong><span style="font-size: 14px;">YKK</span></strong>
                        </p></section>
                        <p><span style="font-size: 14px;">毫无争议的拉链行业鼻祖，以【善之循环】的企业精神为出发点对产品精雕细琢，精确的原料、工艺以及管理方法使装备YKK拉链的服装成为国际品牌的衡量标准。以高出同行业10倍价格坐拥全球50%的市场份额，成功的秘诀只有一个“将最简单的产品做到极致”。听取YKK极致产品打造的心路历程，借鉴如何实现不可替代的品质管理秘笈。</span>
                        </p>
                        <p><br/></p>
                        <p><strong><span style="font-size: 14px;"></span></strong></p>
                        <section data-author="Wxeditor"><p>►<strong><span style="font-size: 14px;">松下电器</span></strong>
                        </p></section>
                        <p><span style="font-size: 14px;">松下电器可谓是继稻盛和夫拯救日航之后，日本又一个最成功的V字复形案例。在电器市场不断受挫、收购三洋电器引发巨大亏损时，松下电器果断的进行了战略转型，走向产业链的上游，在车载动力电池、冷链设备、机内娱乐系统等等技术密集产业进行广泛布局，最终实现完美重建，在2018年创业100周年之际，重新踏上发展的上升通道。访问松下电器总部，倾听松下电器的经营重建之路，引发新常态下中国企业转型之思考。</span><br/>
                        </p>
                        <p><br/></p>
                        <p><strong><span style="font-size: 14px;"></span></strong></p>
                        <section data-author="Wxeditor"><p>►<strong><span style="font-size: 14px;">松下电饭煲工厂（加东工厂）</span></strong>
                        </p></section>
                        <p><span style="font-size: 14px;">技术人员在研发电饭煲前，先要下地种半年水稻！这就是松下电器的“造物态度”。松下在工厂周围开垦了好几亩地，并要求每一位电饭煲的研发、生产人员亲身参与到播种与采收的环节中来，只有这样才能切身体会到米饭的宝贵。从口感到每一个按钮的设计，提示音的音量，无不彰显松下工匠精神。 严谨的工匠精神是每一代松下人工作奉行的标准。正是这样的松下人，让每一粒米都香甜粘糯。</span><br/>
                        </p>
                        <p><br/></p>
                        <p><strong><span style="font-size: 14px;"></span></strong></p>
                        <section data-author="Wxeditor"><p>►<strong><span style="font-size: 14px;">小丸屋</span></strong>
                        </p></section>
                        <p><span style="font-size: 14px;">一把团扇竟做了400年。在电风扇已经几乎被淘汰的今天，小丸屋的团扇价格却超过了空调，并且一扇难求。小丸屋通过极致的工匠精神，以团扇为载体，传承了日本的传统舞台文化，也实现了自身企业的百年传承，成为日本知名的百年老铺，小丸屋是通过产品赋能实现企业竞争力提升的典型案例。参访小丸屋，与第十代传人住井启子社长对话，感受小丸屋“造物之美”的极致产品文化。</span><br/>
                        </p>
                        <p><br/></p>
                        <section data-author="Wxeditor">
                            <article id="m47" class="yead_editor" data-author="Wxeditor"
                                     style="font-size:14px;margin:5px auto;"><p
                                    style="margin-top: 0px; margin-bottom: 0px; padding: 0px; color: rgb(255, 255, 255); white-space: pre-wrap; min-height: 1.5em; max-width: 100%; font-stretch: normal; word-wrap: break-word !important;">
                                <span style="font-size: 16px;"><strong><span class="yead_bgc"
                                                                             style="padding: 4px 10px; font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; margin-right: 8px; max-width: 100%; word-wrap: break-word !important; background-color: rgb(189, 140, 119);">核心师资（拟邀）</span></strong></span>
                            </p></article>
                            <p><br/></p>
                            <p style="text-align: center;"><img src="__COLL__/picture/1525319448662927.png"
                                                                title="1525319448662927.png"
                                                                alt="QQ图片20180503115051.png"/></p></section>
                        <p style="text-align: center;"><strong><span style="font-size: 14px;">田中信彦</span></strong><br/>
                        </p>
                        <p><span style="font-size: 14px;"><br/></span></p>
                        <p><span style="font-size: 14px;">1983年毕业于早稻田大学政治经济学部。现任优衣库创始人柳井正个人高参。90年代初开始以“中国”和“人材”作为主题进行咨询和执笔活动。亚细亚大学大学院的亚洲国际经营战略研究科（MBA）非常勤讲师（日中人事，劳务比较论）。早稻田大学商学学术院WBS研究中心特别讲师。</span>
                        </p>
                        <p><br/></p>
                        <p style="text-align: center;"><img src="__COLL__/picture/1525319504544995.png"
                                                            title="1525319504544995.png" alt="QQ图片20180503115155.png"/>
                        </p>
                        <p style="text-align: center;"><strong><span style="font-size: 14px;">三浦展</span></strong></p>
                        <p><span style="font-size: 14px;"><br/></span></p>
                        <p><span style="font-size: 14px;">三浦展是日本的市场调研师，消费社会研究家，评论家。在市场调研或市场策划，咨询公司任董事长。一桥大学社会学部毕业，就职于PARCO公司，在公司的市场杂志ACROSS编辑部工作，进入公司的第4个年，就任ACROSS的总编一职。1990年离开PARCO，在三菱综合研究所就任主任研究员、环境设计部主任研究员、社会设计室室长代理、作为主任研究员调查研究市场或劳动行政等。1999年离开三菱综合研究所，自主创业。设立市场公司、文化研究所、并出任董事长一职。</span>
                        </p>
                        <p><br/></p>
                        <p style="text-align: center;"><img src="__COLL__/picture/1525319631455995.png"
                                                            title="1525319631455995.png" alt="QQ图片20180503115355.png"/>
                        </p>
                        <p style="text-align: center;"><strong><span style="font-size: 14px;">山田太郎</span></strong></p>
                        <p><span style="font-size: 14px;"><br/></span></p>
                        <p><span style="font-size: 14px;">毕业于日本名校庆应大学。曾任日本参议院议员，是日本制造业权威专家。也曾担任日本政府产业顾问，日本国家预算委员会委员，日本TPP协议主要研究者与负责人。现任东京大学客座教授，早稻田大学商学院教授，东京工业大学特聘教授，日本LOGISCIENCE公司总裁。曾任埃森哲亚太区副总裁，日本IBM咨询服务公司副总裁，美国PTC公司全球副总裁。著有《制造业的IT战略和实践》，《制造业的PLM/CPC战略》，《制造业的MOT（技术经营）》，《PLM战略》，《日本制造业的次世代战略》等著作。</span>
                        </p>
                        <p><br/></p>
                        <p style="text-align: center;"><span style="font-size: 14px;"><span
                                style="font-size: 18px;"><strong><span style="font-size: 18px; color: rgb(255, 0, 0);">报名热线：400-6886-238</span></strong></span></span>
                        </p>
                        <p><span style="font-size: 14px;"><br/></span></p></div>

                </div>
            </div>
            <!--right End-->
        </div>
    </div>
    <div class="right_extend"></div>
</div>
<div class="color_blank s_1"></div>
<footer>
    {include file="public/coll_footer" /}
</footer>
</body>
</html>
