<!DOCTYPE HTML>
<html>

<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>金融实务类-董事会秘书研修班</title>
    <meta name='keywords' content="创合汇商学院——全球开放式平台型商学院" />
    <meta name='description' content="创合汇商学院——全球开放式平台型商学院" />
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?7996666e6d269b8161c664dc73b41699";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script src="../static/js/entrance.js" data-args="groupId=f120961075064bbebb64783685097ee4" class="zhiCustomBtn" id="zhichiScript"></script>
    <!-- Apple iOS and Android stuff -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/icon.png" />
    <link rel="apple-touch-icon-precomposed" href="/images/icon.png" />
    <link rel="apple-touch-startup-image" media="screen and (orientation: portrait)" href="/images/startup.png" />
    <link rel="apple-touch-startup-image" media="screen and (orientation: landscape)" href="/images/startupL.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1" />
    <script type="text/javascript">
        function fBrowserRedirect() {
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid = sUserAgent.match(/android/i) == "android";
            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";

            if (bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
                window.location.href = "http://www.chhcollege.org/mobile/";
            }
        }

        fBrowserRedirect();
    </script>
    <link href="../static/css/flexslider.css" type="text/css" rel="stylesheet" />
    <link href="../static/css/reset.css" type="text/css" rel="stylesheet" />
    <link href="../static/css/layout.css" type="text/css" rel="stylesheet" />
    <link href="../static/css/common.css" type="text/css" rel="stylesheet" />
    <link href="../static/css/page.css" type="text/css" rel="stylesheet" />
    <!--[if IE]>
    <script src="../static/js/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script type="text/javascript" src="../static/js/pie.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="../static/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="../static/js/jquery-powerswitch.js"></script>
    <script type="text/javascript">
        $(function() {

            $('.flexslider').flexslider({
                animation: "fade",
                slideshow: true,
                slideshowSpeed: 3000,
                animationSpeed: 2000,
                touch: false,
                controlNav: true,
                directionNav: false,
                pauseOnHover: false
            });
            $(".index_btm_body .tab_body a").click(function() {
                var index = $(".index_btm_body .tab_body a").index($(this));
                $(".index_btm_body .tab_body a").removeClass("cur").eq(index).addClass("cur");

                $(".index_btm_body .tab_con .con").hide().eq(index).fadeIn();
            }).eq(0).click();

            $(".list2 li a").each(function() {
                if ($(this).hasClass('cur')) {
                    $(this).next('dl').show();
                }
            });
        });
    </script>
</head>

<body>
<header>
    <div class="cw">
        <a href="/" class="logo fl"></a>
        <div class="tools_bar fr">
            <div class="tools_top">
                <div class="search_bar" onkeydown="if (event.keyCode==13) {searchAll();}" style="position: relative">
                    <div style="position: absolute; margin-left: -160px; font-size: 22px; color: #311f13;">400-6886-238</div>
                    <input type="text" id="keys" placeholder="Search" />
                    <a href="javascript:;" onclick="searchAll()"></a>
                </div>
                <div class="website_change"><span>创合汇网群</span><i></i>

                    <ul>
                        <li><a href="http://www.chuanghehui.cn/" target="_blank">创合汇总站</a>
                        </li>
                        <li><a href="http://chhcapital.cn/" target="_blank">创合汇资本</a>
                        </li>
                        <li><a href="http://www.chhcollege.org/" target="_blank">创合汇商学院</a>
                        </li>
                        <li><a href="http://www.chhconsulting.cn/" target="_blank">创合汇咨询</a>
                        </li>
                        <li><a href="http://www.chhcollege.org/index/mooc/index.html" target="_blank">创合汇APP</a>
                        </li>
                    </ul>
                </div>
                <!-- <a href="javascript:;" class="wechat"><span><img src="../static/picture/qr_code_top.jpg" /></span></a> </div> -->
                <ul class="nav_list">
                    <li><a href="/" class="">首页</a>
                    </li>
                    <li><a href="/index/about/index.html" class="">学院介绍</a>
                    </li>
                    <li><a href="/index/course/index.html" class="cur">核心课程</a>

                        <div class="sub_Nav">
                            <div class="line"></div>
                            <p><a href="/index/course/index/cid/402.html" target="_blank">工商管理类</a>
                            </p>
                            <p><a href="/index/course/index/cid/404.html" target="_blank">创新创业类</a>
                            </p>
                            <p><a href="/index/course/index/cid/385.html" target="_blank">金融实务类</a>
                            </p>
                            <p><a href="/index/course/index/cid/375.html" target="_blank">人文与领导力类</a>
                            </p>
                            <p><a href="/index/course/index/cid/380.html" target="_blank">国际访学类</a>
                            </p>
                        </div>
                    </li>
                    <li><a href="/index/staff/index.html" class="">师资力量</a>

                        <div class="sub_Nav">
                            <div class="line"></div>
                            <p><a href="/index/staff/index/cateid/1.html" target="_blank"> 中教师资 </a>
                            </p>
                            <p><a href="/index/staff/index/cateid/2.html" target="_blank"> 外教师资 </a>
                            </p>
                            <p><a href="/index/staff/index/cateid/3.html" target="_blank"> 论坛讲座师资 </a>
                            </p>
                        </div>
                    </li>
                    <li><a href="/index/news/index.html" class="">新闻动态</a>
                    </li>
                    <li><a href="/index/activity/index.html" class="">平台活动</a>
                    </li>
                    <li><a href="/index/contact/index.html" class="">联系我们</a>
                    </li>
                </ul>
            </div>
        </div>
</header>
<script type="text/javascript">
    function searchAll() {
        var str = $("#keys").val();
        if (str == "")
            alert("请输入要搜索的关键词");
        else
            location.href = "/index/search/index.html?q=" + str;
    }

    $(function() {
        $("ul.nav_list li").hover(function() {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeIn();
        }, function() {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeOut();
        });
    });
</script>
<div class="pageBanner">
    <div class="roll flexslider">
        <ul class="slides">
            <li>
                <img src="../static/picture/20180523104050.jpg">
            </li>
        </ul>
    </div>
    <!--<div class="txt">-->
    <!--<div class="cw">-->
    <!--<h3></h3>-->
    <!--</div>-->
    <!---->
    <!--</div>-->
    <!--<div class="line"></div>-->
    <!--<div class="btn">-->
    <!--<div class="cw"> <a href="/index/contact/message.html" class="act" target="_blank">在线报名</a> </div>-->
    <!--</div>-->
</div>
<div class="page">
    <div class="cw">
        <div class="pageBody clearfix">
            <!--left start-->
            <div class="leftBy fl">
                <div class="tit">
                    <h3>核心课程</h3>

                    <h4>Main course</h4>

                </div>
                <ul class="list2">
                    <li> <a href="/index/course/index/cid/402.html" class="title ">工商管理类</a>

                        <dl>
                            <dd><a href="/index/course/index/cid/402.html" class="">> 荷兰商学院MBA/DBA学位课程</a>
                            </dd>
                            <dd><a href="/index/course/index/cid/403.html" class="">> 上海交通大学高级研修课程</a>
                            </dd>
                        </dl>
                    </li>
                    <li> <a href="/index/course/index/cid/404.html" class="title ">创新创业类</a>

                        <dl>
                            <dd><a href="/index/course/index/cid/404.html" class="">> 「独角兽」创业成长计划 | 独步天下，角逐未来</a>
                            </dd>
                            <dd><a href="/index/course/index/cid/405.html" class="">> 全球CEO创新领导力发展计划</a>
                            </dd>
                        </dl>
                    </li>
                    <li> <a href="/index/course/index/cid/385.html" class="title cur">金融实务类</a>

                        <dl>
                            <dd><a href="/index/course/index/cid/385.html" class="">> 股权激励实战特训营</a>
                            </dd>
                            <dd><a href="/index/course/index/cid/384.html" class="cur">> 董事会秘书研修班</a>
                            </dd>
                        </dl>
                    </li>
                    <li> <a href="/index/course/index/cid/375.html" class="title ">人文与领导力类</a>

                        <dl>
                            <dd><a href="/index/course/index/cid/375.html" class="">> 哲学与东方领导力学习坊</a>
                            </dd>
                        </dl>
                    </li>
                    <li> <a href="/index/course/index/cid/380.html" class="title ">国际访学类</a>

                        <dl>
                            <dd><a href="/index/course/index/cid/380.html" class="">> 2019「创合汇」德国访学 | 隐形冠军与工匠精神</a>
                            </dd>
                            <dd><a href="/index/course/index/cid/379.html" class="">> 美国访学</a>
                            </dd>
                            <dd><a href="/index/course/index/cid/381.html" class="">> 英国访学</a>
                            </dd>
                            <dd><a href="/index/course/index/cid/383.html" class="">> 日本访学</a>
                            </dd>
                            <dd><a href="/index/course/index/cid/382.html" class="">> 以色列访学</a>
                            </dd>
                        </dl>
                    </li>
                </ul>
                <div class="list03">
                    <div class="content">
                        <div class="course02">
                            <h3><span>报名咨询</span></h3>

                            <ul>
                                <li>
                                    <div class="txt">董事会秘书研修班
                                        <!--董事会秘书与企业上市实务高级研修班-->
                                        <br> <span>021-62829551 </span>
                                        <br> <span class="email">ipo@sjtuedu-sh.cn</span>
                                    </div>
                                </li>
                            </ul> <a href="/index/contact/message.html">在线报名</a>

                        </div>
                    </div>
                    <div class="bottom"></div>
                </div>
            </div>
            <!--left End-->
            <!--right start-->
            <div class="rightBy fr">
                <div class="tool clearfix">
                    <div class="fl">
                        <h3> 董事会秘书研修班 </h3>

                    </div>
                    <div class="fr"> <a href="/" target="_blank">首页</a><span>></span><a href="/index/course/index/id/369.html">核心课程</a><span class="cur">></span><a href="javascript:;" class="cur">董事会秘书研修班</a>
                    </div>
                </div>
                <div class="course">
                    <div class="contBody">
                        <p style="text-align: center;"><span style="font-size: 14px;"><img src="../static/picture/1510640794653566.jpg" title="1510640794653566.jpg" alt="1510640794653566.jpg" style="width: 600px; height: 424px;" width="600" vspace="0" height="424" border="0"/></span>
                        </p>
                        <p><span style="font-size: 14px;"></span>
                        </p>
                        <p style="white-space: normal; text-align: center;"><span style="font-size: 20px;"><strong>董秘特训营<span style="font-size: 20px; color: rgb(255, 0, 0);">9</span>期  </strong>
                                    </span><span style="font-size: 20px;"><strong style="font-size: 18px;">2019年11月23、24日上海交大开学</strong></span>
                        </p>
                        <p style="white-space: normal; text-align: center;"><span style="font-size: 18px;"><strong>报名热线：<span style="font-size: 18px; color: rgb(255, 0, 0);">021-52307916 / 62826668</span><span style="font-size: 18px;"><strong><span style="font-size: 18px; color: rgb(255, 0, 0);"></span>
                                    </strong>
                                    </span>
                                    </strong>
                                    </span>
                        </p>
                        <p><span style="font-size: 14px;"><br/></span>
                            <br/>
                        </p>
                        <section data-author="Wxeditor">
                            <article id="m746" class="yead_editor" data-author="Wxeditor" style="font-size:14px;margin:5px auto;">
                                <section style="margin:1em auto;text-align:center">
                                    <section class="yead_bdc" style="border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(128, 94, 64); line-height: 25px; display: inline-block; padding: 0px 16px;">
                                        <p><span style="color:#333;font-size:16px;font-weight:bold">课程简介</span>
                                        </p>
                                    </section>
                                    <section><span class="yead_bdtc" style="margin: -1px auto 10px; width: 0px; height: 0px; border-left-width: 10px; border-left-style: solid; border-left-color: transparent; border-right-width: 10px; border-right-style: solid; border-right-color: transparent; display: block; border-top-width: 8px; border-top-style: solid; border-top-color: rgb(128, 94, 64);"></span>
                                    </section>
                                </section>
                            </article>
                            <p>
                                <br/>
                            </p>
                        </section>
                        <p><span style="font-size: 14px;">董事会秘书作为拟上市和上市公司的高级管理人员，对外负责公司信息披露、投资者关系管理；对内负责股权事务管理、公司治理、资本运作、筹备董事会和股东大会等事宜，保障公司规范化运作等事宜。一名优秀的董事会秘书将助力企业攻克上市难关，实现对利益相关者的价值回报和公司市值的提升。</span>
                            <br/>
                        </p>
                        <p><span style="font-size: 14px;"><br/></span>
                        </p>
                        <p><span style="font-size: 14px;">上海交通大学SIPA经济与管理培训中心联合创合汇平台，倾力打造《上海交通大学董事会秘书与企业上市实务高级研修班》，旨在唤醒优秀人才的隐藏原力，培养具备专业能力与综合素养的精英董秘，助力企业成功上市！</span>
                        </p>
                        <p><span style="font-size: 14px;"><br/></span>
                        </p>
                        <section data-author="Wxeditor">
                            <article id="m746" class="yead_editor" data-author="Wxeditor" style="font-size:14px;margin:5px auto;">
                                <section style="margin:1em auto;text-align:center">
                                    <section class="yead_bdc" style="border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(128, 94, 64); line-height: 25px; display: inline-block; padding: 0px 16px;">
                                        <p><span style="color:#333;font-size:16px;font-weight:bold">培养对象</span>
                                        </p>
                                    </section>
                                    <section><span class="yead_bdtc" style="margin: -1px auto 10px; width: 0px; height: 0px; border-left-width: 10px; border-left-style: solid; border-left-color: transparent; border-right-width: 10px; border-right-style: solid; border-right-color: transparent; display: block; border-top-width: 8px; border-top-style: solid; border-top-color: rgb(128, 94, 64);"></span>
                                    </section>
                                </section>
                            </article>
                            <p>
                                <br/>
                            </p>
                        </section>
                        <p style="text-align: center;"><span style="font-size: 14px;">首席执行官、董事长、董事、总经理、副总经理； </span>
                            <br/>
                        </p>
                        <p style="text-align: center;"><span style="font-size: 14px;">监事、大股东代表、董事会秘书、企业总会计师；</span>
                        </p>
                        <p style="text-align: center;"><span style="font-size: 14px;">法务总监、财务总监、投资总监、IPO项目运作经理。</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <p><span style="font-size: 14px;"></span>
                        </p>
                        <section data-author="Wxeditor">
                            <article id="m746" class="yead_editor" data-author="Wxeditor" style="font-size:14px;margin:5px auto;">
                                <section style="margin:1em auto;text-align:center">
                                    <section class="yead_bdc" style="border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(128, 94, 64); line-height: 25px; display: inline-block; padding: 0px 16px;">
                                        <p><span style="color:#333;font-size:16px;font-weight:bold">课程特色</span>
                                        </p>
                                    </section>
                                    <section><span class="yead_bdtc" style="margin: -1px auto 10px; width: 0px; height: 0px; border-left-width: 10px; border-left-style: solid; border-left-color: transparent; border-right-width: 10px; border-right-style: solid; border-right-color: transparent; display: block; border-top-width: 8px; border-top-style: solid; border-top-color: rgb(128, 94, 64);"></span>
                                    </section>
                                </section>
                            </article>
                            <p>
                                <br/>
                            </p>
                        </section>
                        <p style="text-align: center;">
                            <br/>
                        </p>
                        <p style="text-align: center;"><span style="font-size: 14px;"></span>
                            <img src="../static/picture/1510640872381175.jpg" title="1510640872381175.jpg" alt="1510640872381175.jpg" style="width: 600px; height: 335px;" width="600" vspace="0" height="335" border="0" />
                        </p>
                        <p>
                            <br/>
                        </p>
                        <section data-author="Wxeditor">
                            <article id="m746" class="yead_editor" data-author="Wxeditor" style="font-size:14px;margin:5px auto;">
                                <section style="margin:1em auto;text-align:center">
                                    <section class="yead_bdc" style="border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(128, 94, 64); line-height: 25px; display: inline-block; padding: 0px 16px;">
                                        <p><span style="color:#333;font-size:16px;font-weight:bold">核心价值</span>
                                        </p>
                                    </section>
                                    <section><span class="yead_bdtc" style="margin: -1px auto 10px; width: 0px; height: 0px; border-left-width: 10px; border-left-style: solid; border-left-color: transparent; border-right-width: 10px; border-right-style: solid; border-right-color: transparent; display: block; border-top-width: 8px; border-top-style: solid; border-top-color: rgb(128, 94, 64);"></span>
                                    </section>
                                </section>
                            </article>
                            <p><span style="font-size: 14px;"><br/></span>
                            </p>
                            <p><span style="font-size: 14px;">1.系统教授董秘必备的专业知识和企业上市方面的实操技能，帮助企业培养出色的董秘；</span>
                                <br/>
                            </p>
                        </section>
                        <p><span style="font-size: 14px;">2.规范公司治理和股权结构、采用科学的方法实施股权激励；</span>
                        </p>
                        <p><span style="font-size: 14px;">3.全方面梳理企业海内外上市及新三板挂牌过程中的重点难点；</span>
                        </p>
                        <p><span style="font-size: 14px;">4.掌握企业上市后市值管理的方式方法，持续提升企业价值；</span>
                        </p>
                        <p><span style="font-size: 14px;">5.厘清企业资本战略，有效制定上市策略。</span>
                        </p>
                        <section data-author="Wxeditor">
                            <article id="m746" class="yead_editor" data-author="Wxeditor" style="font-size:14px;margin:5px auto;">
                                <section style="margin:1em auto;text-align:center">
                                    <section class="yead_bdc" style="border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(128, 94, 64); line-height: 25px; display: inline-block; padding: 0px 16px;">
                                        <p><span style="color:#333;font-size:16px;font-weight:bold">课程体系</span>
                                        </p>
                                    </section>
                                    <section><span class="yead_bdtc" style="margin: -1px auto 10px; width: 0px; height: 0px; border-left-width: 10px; border-left-style: solid; border-left-color: transparent; border-right-width: 10px; border-right-style: solid; border-right-color: transparent; display: block; border-top-width: 8px; border-top-style: solid; border-top-color: rgb(128, 94, 64);"></span>
                                    </section>
                                </section>
                            </article>
                            <p>
                                <br/>
                            </p>
                        </section>
                        <p style="text-align: center;">
                            <img src="../static/picture/1510640919411297.jpg" title="1510640919411297.jpg" alt="3.jpg" />
                        </p>
                        <section data-author="Wxeditor">
                            <article id="m746" class="yead_editor" data-author="Wxeditor" style="font-size:14px;margin:5px auto;">
                                <section style="margin:1em auto;text-align:center">
                                    <section class="yead_bdc" style="border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(128, 94, 64); line-height: 25px; display: inline-block; padding: 0px 16px;">
                                        <p><span style="color:#333;font-size:16px;font-weight:bold">课程内容</span>
                                        </p>
                                    </section>
                                    <section><span class="yead_bdtc" style="margin: -1px auto 10px; width: 0px; height: 0px; border-left-width: 10px; border-left-style: solid; border-left-color: transparent; border-right-width: 10px; border-right-style: solid; border-right-color: transparent; display: block; border-top-width: 8px; border-top-style: solid; border-top-color: rgb(128, 94, 64);"></span>
                                    </section>
                                </section>
                            </article>
                            <p>
                                <br/>
                            </p>
                        </section>
                        <p><span style="font-size: 14px;"></span>
                        </p>
                        <section data-author="Wxeditor">
                            <p><span style="color: rgb(192, 0, 0);">▌</span><span style="font-size: 14px;">模块一：董秘专业知识</span>
                            </p>
                        </section>
                        <p>
                            <br/>
                        </p>
                        <p><span style="font-size: 14px;">董秘的职责与义务</span>
                        </p>
                        <p><span style="font-size: 14px;">1. 董秘的角色、职能与自我发展</span>
                        </p>
                        <p><span style="font-size: 14px;">2. 董事会秘书的责、权、利</span>
                        </p>
                        <p><span style="font-size: 14px;">3. 企业价值传播和资本运作理念</span>
                        </p>
                        <p><span style="font-size: 14px;">4. 整体筹划与中介机构的对接协调</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <p><span style="font-size: 14px;">董秘必备的财税知识</span>
                        </p>
                        <p><span style="font-size: 14px;">1. 上市前企业主要财务工作的梳理与改制</span>
                        </p>
                        <p><span style="font-size: 14px;">2. 国家政策及相关准则对拟上市企业的影响</span>
                        </p>
                        <p><span style="font-size: 14px;">3. 企业财务合规中常见的问题及对策</span>
                        </p>
                        <p><span style="font-size: 14px;">4. 挂牌企业年报信息披露中的主要财务问题</span>
                        </p>
                        <p><span style="font-size: 14px;">5. 新三板和IPO挂牌中税务问题的解决</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <p><span style="font-size: 14px;">董秘必备的法律知识</span>
                        </p>
                        <p><span style="font-size: 14px;">1. 董秘的法律地位</span>
                        </p>
                        <p><span style="font-size: 14px;">2. 上市公司运作的法律框架</span>
                        </p>
                        <p><span style="font-size: 14px;">3. 董事会秘书的法律义务</span>
                        </p>
                        <p><span style="font-size: 14px;">4. 董事会秘书的法律责任</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <p><span style="font-size: 14px;">金牌董秘分享</span>
                        </p>
                        <p><span style="font-size: 14px;">金牌董秘分享从业经验</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <p><span style="font-size: 14px;"></span>
                        </p>
                        <section data-author="Wxeditor">
                            <p><span style="color: rgb(192, 0, 0);">▌</span><span style="font-size: 14px;">模块二：公司治理与股权激励</span>
                            </p>
                        </section>
                        <p>
                            <br/>
                        </p>
                        <p><span style="font-size: 14px;">股权激励与公司治理</span>
                        </p>
                        <p><span style="font-size: 14px;">1. 公司治理的观念与思维方式</span>
                        </p>
                        <p><span style="font-size: 14px;">2. 股权结构</span>
                        </p>
                        <p><span style="font-size: 14px;">3. 董事会的构成</span>
                        </p>
                        <p><span style="font-size: 14px;">4. 经理人选拔和激励</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <p><span style="font-size: 14px;">企业多种股权激励方式与方法</span>
                        </p>
                        <p><span style="font-size: 14px;">1. 企业股权激励的理论依据和现实可行性</span>
                        </p>
                        <p><span style="font-size: 14px;">2. 国内外企业实施股权激励的普遍做法和经验总结</span>
                        </p>
                        <p><span style="font-size: 14px;">3. 多种股权激励方式的设计及其比较选择</span>
                        </p>
                        <p><span style="font-size: 14px;">4. 企业股权激励的全新动态和发展趋势</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <p><span style="font-size: 14px;"></span>
                        </p>
                        <section data-author="Wxeditor">
                            <p><span style="color: rgb(192, 0, 0);">▌</span><span style="font-size: 14px;">模块三：企业上市实务</span>
                            </p>
                        </section>
                        <p>
                            <br/>
                        </p>
                        <p><span style="font-size: 14px;">企业上市操作实务</span>
                        </p>
                        <p><span style="font-size: 14px;">1. IPO市场未来发展趋势</span>
                        </p>
                        <p><span style="font-size: 14px;">2. 企业上市的利弊分析</span>
                        </p>
                        <p><span style="font-size: 14px;">3. 上市规划中的风险控制</span>
                        </p>
                        <p><span style="font-size: 14px;">4. 企业上市的海内外选择</span>
                        </p>
                        <p><span style="font-size: 14px;">5. IPO主要相关的财务、税务、法律等问题</span>
                        </p>
                        <p><span style="font-size: 14px;">6. 投资人和监管机构对拟上市公司的偏好情况</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <p><span style="font-size: 14px;">赢在新三板</span>
                        </p>
                        <p><span style="font-size: 14px;">1. 新三板挂牌标准、流程、成本操作实务</span>
                        </p>
                        <p><span style="font-size: 14px;">2. 新三板交易制度：协议、做市商、竞价交易</span>
                        </p>
                        <p><span style="font-size: 14px;">3. 新三板挂牌后资本运作</span>
                        </p>
                        <p><span style="font-size: 14px;">4. 新三板常见法律问题及解决方案</span>
                        </p>
                        <p><span style="font-size: 14px;">5. 新三板挂牌常见财税问题及解决方案</span>
                        </p>
                        <p><span style="font-size: 14px;">6. 新三板挂牌后的监管与信息披露</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <p><span style="font-size: 14px;">企业融资管理：如何获得投资人的青睐</span>
                        </p>
                        <p><span style="font-size: 14px;">1. 中国投资者结构分析</span>
                        </p>
                        <p><span style="font-size: 14px;">2. 什么是好公司</span>
                        </p>
                        <p><span style="font-size: 14px;">3. 新三板市场的价值</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <p><span style="font-size: 14px;">并购重组提升企业价值<span class="Apple-tab-span" style="font-size: 14px; white-space: pre;"></span></span>
                        </p>
                        <p><span style="font-size: 14px;">1. 企业并购重组的概论</span>
                        </p>
                        <p><span style="font-size: 14px;">2. 并购重组的估值和反收购策略</span>
                        </p>
                        <p><span style="font-size: 14px;">3. 企业并购实务操作及方案设计</span>
                        </p>
                        <p><span style="font-size: 14px;">4. 并购重组中的法律和财税问题</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <p><span style="font-size: 14px;"></span>
                        </p>
                        <section data-author="Wxeditor">
                            <p><span style="color: rgb(192, 0, 0);">▌</span><span style="font-size: 14px;">模块四：企业上市后管理</span>
                            </p>
                        </section>
                        <p>
                            <br/>
                        </p>
                        <p><span style="font-size: 14px;">投资者和媒体关系管理</span>
                        </p>
                        <p><span style="font-size: 14px;">1. 公众公司媒体关系的特点</span>
                        </p>
                        <p><span style="font-size: 14px;">2. 投资者关系管理内容与特点</span>
                        </p>
                        <p><span style="font-size: 14px;">3. 危机公关与危机防范工作体系</span>
                        </p>
                        <p><span style="font-size: 14px;">4. 如何进行投资价值传播</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <p><span style="font-size: 14px;">企业市值管理<span class="Apple-tab-span" style="font-size: 14px; white-space: pre;"></span></span>
                        </p>
                        <p><span style="font-size: 14px;">1. 市值管理的意义</span>
                        </p>
                        <p><span style="font-size: 14px;">2. 市值与股东的盈利模式</span>
                        </p>
                        <p><span style="font-size: 14px;">3. 市值的影响因素与其机理</span>
                        </p>
                        <p><span style="font-size: 14px;">4. 发行询价、资本市场波动与周期</span>
                        </p>
                        <p><span style="font-size: 14px;">5. 市值管理的常态机制和工作体系</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <p><span style="font-size: 14px;"></span>
                        </p>
                        <section data-author="Wxeditor">
                            <p><span style="color: rgb(192, 0, 0);">▌</span><span style="font-size: 14px;">模块五：项目路演</span>
                            </p>
                        </section>
                        <p>
                            <br/>
                        </p>
                        <p><span style="font-size: 14px;">项目路演<span class="Apple-tab-span" style="font-size: 14px; white-space: pre;"></span></span>
                        </p>
                        <p><span style="font-size: 14px;">校方将为学员安排项目路演，为学员提供近距离感受商业市场运作的机会</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <section data-author="Wxeditor">
                            <article id="m746" class="yead_editor" data-author="Wxeditor" style="font-size:14px;margin:5px auto;">
                                <section style="margin:1em auto;text-align:center">
                                    <section class="yead_bdc" style="border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(128, 94, 64); line-height: 25px; display: inline-block; padding: 0px 16px;">
                                        <p><span style="color:#333;font-size:16px;font-weight:bold">拟邀师资</span>
                                        </p>
                                    </section>
                                    <section><span class="yead_bdtc" style="margin: -1px auto 10px; width: 0px; height: 0px; border-left-width: 10px; border-left-style: solid; border-left-color: transparent; border-right-width: 10px; border-right-style: solid; border-right-color: transparent; display: block; border-top-width: 8px; border-top-style: solid; border-top-color: rgb(128, 94, 64);"></span>
                                    </section>
                                </section>
                            </article>
                            <p><strong><span style="font-size: 14px;"><br/></span></strong>
                            </p>
                            <p><strong><span style="font-size: 14px;">张云峰</span></strong><span style="font-size: 14px;">：上海股权托管中心党委书记、总经理</span>
                                <br/>
                            </p>
                        </section>
                        <p><strong><span style="font-size: 14px;">张银杰</span></strong><span style="font-size: 14px;">：中国知名经济学家，中国人民大学博士、上海财经大学教授、博士生导师</span>
                        </p>
                        <p><strong><span style="font-size: 14px;">马龙官</span></strong><span style="font-size: 14px;">：申银万国投资有限公司总经理，兼申银万国证券股份有限公司博士后工作站站长</span>
                        </p>
                        <p><strong><span style="font-size: 14px;">李德刚</span></strong><span style="font-size: 14px;">：景林资产管理有限公司董事总经理</span>
                        </p>
                        <p><strong><span style="font-size: 14px;">徐业伟</span></strong><span style="font-size: 14px;">：申万宏源证券有限公司场外市场总部副总经理，保荐代表人，场外市场质量评价委员会主任委员，内核委员</span>
                        </p>
                        <p><strong><span style="font-size: 14px;">袁 立</span></strong><span style="font-size: 14px;">：资深投资银行家、管理专家。北京弘创天润投资管理有限公司董事</span>
                        </p>
                        <p><strong><span style="font-size: 14px;">凌 云</span></strong><span style="font-size: 14px;">：资深董秘，多家上市企业董事</span>
                        </p>
                        <p><strong><span style="font-size: 14px;">饶 钢</span></strong><span style="font-size: 14px;">：金牌董秘</span>
                        </p>
                        <p><strong><span style="font-size: 14px;">陆满平</span></strong><span style="font-size: 14px;">：平安证券有限公司投资银行总部执行总经理 </span>
                        </p>
                        <p><strong><span style="font-size: 14px;">王 一</span></strong><span style="font-size: 14px;">：欧源资本董事长</span>
                        </p>
                        <p><strong><span style="font-size: 14px;">王厚忠</span></strong><span style="font-size: 14px;">：上海乐邦律师事务所 主任律师、首席合伙人</span>
                        </p>
                        <p><strong><span style="font-size: 14px;">汪蔚青</span></strong><span style="font-size: 14px;">：国税总局及中国国际税收研究会理事、学术委员</span>
                        </p>
                        <p><strong><span style="font-size: 14px;">常 亮</span></strong><span style="font-size: 14px;">：《21世纪经济报道》新三板市场报道的专业财经记者</span>
                        </p>
                        <section data-author="Wxeditor">
                            <article id="m746" class="yead_editor" data-author="Wxeditor" style="font-size:14px;margin:5px auto;">
                                <section style="margin:1em auto;text-align:center">
                                    <section class="yead_bdc" style="border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(128, 94, 64); line-height: 25px; display: inline-block; padding: 0px 16px;">
                                        <p><span style="color:#333;font-size:16px;font-weight:bold">学员构成</span>
                                        </p>
                                    </section>
                                    <section><span class="yead_bdtc" style="margin: -1px auto 10px; width: 0px; height: 0px; border-left-width: 10px; border-left-style: solid; border-left-color: transparent; border-right-width: 10px; border-right-style: solid; border-right-color: transparent; display: block; border-top-width: 8px; border-top-style: solid; border-top-color: rgb(128, 94, 64);"></span>
                                    </section>
                                </section>
                            </article>
                            <p>
                                <br/>
                            </p>
                        </section>
                        <p style="text-align: center;">
                            <img src="../static/picture/1510641100382982.jpg" title="1510641100382982.jpg" alt="1510641100382982.jpg" style="width: 400px; height: 178px;" width="400" vspace="0" height="178" border="0" />
                            <img src="../static/picture/1510641120118595.jpg" title="1510641120118595.jpg" alt="1510641120118595.jpg" style="width: 400px; height: 178px;" width="400" vspace="0" height="178" border="0" />
                        </p>
                        <p style="text-align: center;"><span style="font-size: 14px;">董、监、高占比分析及</span><span style="font-size: 14px;">学员企业上市阶段分析</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <p><span style="font-size: 14px;"></span>
                        </p>
                        <section data-author="Wxeditor">
                            <article id="m746" class="yead_editor" data-author="Wxeditor" style="font-size:14px;margin:5px auto;">
                                <section style="margin:1em auto;text-align:center">
                                    <section class="yead_bdc" style="border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(128, 94, 64); line-height: 25px; display: inline-block; padding: 0px 16px;">
                                        <p><span style="color:#333;font-size:16px;font-weight:bold">平台支持</span>
                                        </p>
                                    </section>
                                    <section><span class="yead_bdtc" style="margin: -1px auto 10px; width: 0px; height: 0px; border-left-width: 10px; border-left-style: solid; border-left-color: transparent; border-right-width: 10px; border-right-style: solid; border-right-color: transparent; display: block; border-top-width: 8px; border-top-style: solid; border-top-color: rgb(128, 94, 64);"></span>
                                    </section>
                                </section>
                            </article>
                            <p>
                                <br/>
                            </p>
                        </section>
                        <p><strong><span style="font-size: 14px;"></span></strong>
                        </p>
                        <section data-author="Wxeditor">
                            <p><span style="color: rgb(192, 0, 0);">▌</span><strong><span style="font-size: 14px;">创合汇董秘俱乐部</span></strong>
                            </p>
                        </section>
                        <p><span style="font-size: 14px;">基于创合汇平台，创合汇董秘俱乐部旨在汇集商界精英，为中国上市公司董事会秘书提供一个资源整合和专业交流的平台，同时推进上市公司董事会工作职业化、专业化，以及中国上市公司规范化运作，从而充分发掘企业的内在价值。</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <p><strong><span style="font-size: 14px;"></span></strong>
                        </p>
                        <section data-author="Wxeditor">
                            <p><span style="color: rgb(192, 0, 0);">▌</span><strong><span style="font-size: 14px;">创合汇基金</span></strong>
                            </p>
                        </section>
                        <p><span style="font-size: 14px;">创合汇基金是由教育机构、投资机构以及上海交通大学等国内外知名院校的校友共同发起设立，专注于投资优质的高成长型企业的私募股权投资基金。创合汇基金凭借创合汇资本平台的优质资源对于所投项目除了提供资金支持外，还将提供专家咨询、人才资源、品牌宣传以及整合产业上下游资源等系统性支持。</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <p><strong><span style="font-size: 14px;"></span></strong>
                        </p>
                        <section data-author="Wxeditor">
                            <p><span style="color: rgb(192, 0, 0);">▌</span><strong><span style="font-size: 14px;">校友众创空间——赤兔创业咖啡</span></strong>
                            </p>
                        </section>
                        <p><span style="font-size: 14px;">赤兔创业咖啡（BOSEE-HORSE Coffee）由创合汇平台发起，知名投资人、媒体人及上海交大等国内外知名院校商学院校友联合众筹，集合“空间·社群·生态服务”为一体的创业咖啡平台。</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <p><strong><span style="font-size: 14px;"></span></strong>
                        </p>
                        <section data-author="Wxeditor">
                            <p><span style="color: rgb(192, 0, 0);">▌</span><strong><span style="font-size: 14px;">战略合作联盟</span></strong>
                            </p>
                        </section>
                        <p><span style="font-size: 14px;">第一财经、亚布力中国企业家论坛、福卡智库、上海股权交易中心、中国金融信息中心、上海金融谷、上海现代服务业联合会、漕河泾高新技术园、普陀国家示范创业园区、杨浦科技创业中心、京沪商标事务所、各地方商会、全国工商联EMBA教育联盟、浦东归国人员联合会、平安证券、红杉资本、火山石投资、达晨创投、软银中国资本、毅达资本、创业接力基金、申银万国投资、谱润投资、领势投资、英诺天使基金、老鹰基金、中欧基金、紫竹创投、汉世纪资本、大成律师事务所、大华会计事务所……</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <p><strong><span style="font-size: 14px;"></span></strong>
                        </p>
                        <section data-author="Wxeditor">
                            <p><span style="color: rgb(192, 0, 0);">▌</span><strong><span style="font-size: 14px;">创合汇创新创业生态服务平台</span></strong>
                            </p>
                        </section>
                        <p><span style="font-size: 14px;">创合汇平台是基于“斯坦福（教育）+硅谷创新（生态系统）”的模式，依托上海交通大学等国内外知名院校、投资机构、券商、投行、创业孵化器以及政府相关机构等优质资源所打造的集创合汇学院、创合汇咨询、创合汇资本、创合汇众创空间、创合汇社群等机构为一体的创新创业生态服务平台。该平台旨在为商学院校友及其企业提供优质的教育培训、管理咨询、创业投资、投顾投行、创业孵化、人才猎头、产学研及上下游资源对接等方面的创新创业服务，致力于推动企业创新转型与可持续发展，为中国创新创业和经济转型贡献力量！</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <section data-author="Wxeditor">
                            <article id="m746" class="yead_editor" data-author="Wxeditor" style="font-size:14px;margin:5px auto;">
                                <section style="margin:1em auto;text-align:center">
                                    <section class="yead_bdc" style="border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(128, 94, 64); line-height: 25px; display: inline-block; padding: 0px 16px;">
                                        <p><span style="color:#333;font-size:16px;font-weight:bold">往期回顾</span>
                                        </p>
                                    </section>
                                    <section><span class="yead_bdtc" style="margin: -1px auto 10px; width: 0px; height: 0px; border-left-width: 10px; border-left-style: solid; border-left-color: transparent; border-right-width: 10px; border-right-style: solid; border-right-color: transparent; display: block; border-top-width: 8px; border-top-style: solid; border-top-color: rgb(128, 94, 64);"></span>
                                    </section>
                                </section>
                            </article>
                            <p>
                                <br/>
                            </p>
                        </section>
                        <p style="text-align: center;">
                            <img src="../static/picture/1510641689370675.jpg" title="1510641689370675.jpg" alt="1510641689370675.jpg" style="width: 600px; height: 843px;" width="600" vspace="0" height="843" border="0" />
                        </p>
                        <p>
                            <br/>
                        </p>
                        <section data-author="Wxeditor">
                            <article id="m746" class="yead_editor" data-author="Wxeditor" style="font-size:14px;margin:5px auto;">
                                <section style="margin:1em auto;text-align:center">
                                    <section class="yead_bdc" style="border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(128, 94, 64); line-height: 25px; display: inline-block; padding: 0px 16px;">
                                        <p><span style="color:#333;font-size:16px;font-weight:bold">课程安排</span>
                                        </p>
                                    </section>
                                    <section><span class="yead_bdtc" style="margin: -1px auto 10px; width: 0px; height: 0px; border-left-width: 10px; border-left-style: solid; border-left-color: transparent; border-right-width: 10px; border-right-style: solid; border-right-color: transparent; display: block; border-top-width: 8px; border-top-style: solid; border-top-color: rgb(128, 94, 64);"></span>
                                    </section>
                                </section>
                            </article>
                            <p><span style="font-size: 14px;"><br/></span>
                            </p>
                            <p><span style="font-size: 14px;">学制：8个月，每月集中授课2天（周六、周日）</span>
                                <br/>
                            </p>
                        </section>
                        <p><span style="font-size: 14px;">上课地点：上海交通大学徐汇校区及其他教学实践基地</span>
                        </p>
                        <p><span style="font-size: 14px;">研修成果：学员完成所有课程的学习并考核合格后，可获得由上海交通大学颁发的《上海交通大学董事会秘书与企业上市实务高级研修证书》</span>
                        </p>
                        <p><span style="font-size: 14px;">第8期开班时间：2019年11月23、24日上海交大开学</span>
                        </p>
                        <p><span style="font-size: 14px;"><br/></span>
                        </p>
                        <section data-author="Wxeditor">
                            <article id="m746" class="yead_editor" data-author="Wxeditor" style="font-size:14px;margin:5px auto;">
                                <section style="margin:1em auto;text-align:center">
                                    <section class="yead_bdc" style="border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(128, 94, 64); line-height: 25px; display: inline-block; padding: 0px 16px;">
                                        <p><span style="color: rgb(51, 51, 51); font-size: 16px; font-weight: bold;">报名材料</span>
                                        </p>
                                    </section>
                                </section>
                            </article>
                        </section>
                        <section data-author="Wxeditor">
                            <article id="m746" class="yead_editor" data-author="Wxeditor" style="font-size:14px;margin:5px auto;">
                                <section style="margin:1em auto;text-align:center">
                                    <section><span class="yead_bdtc" style="margin: -1px auto 10px; width: 0px; height: 0px; border-left-width: 10px; border-left-style: solid; border-left-color: transparent; border-right-width: 10px; border-right-style: solid; border-right-color: transparent; display: block; border-top-width: 8px; border-top-style: solid; border-top-color: rgb(128, 94, 64);"></span>
                                    </section>
                                </section>
                            </article>
                            <p>
                                <br/>
                            </p>
                        </section>
                        <p style="text-align: center;"><span style="font-size: 14px;">1.身份证或护照扫描件一份；</span>
                            <br/>
                        </p>
                        <p style="text-align: center;"><span style="font-size: 14px;">2.两寸免冠证件照及生活照各一张（电子版）</span>
                        </p>
                        <p style="text-align: center;"><span style="font-size: 14px;">3.在职名片一张；</span>
                        </p>
                        <p style="text-align: center;"><span style="font-size: 14px;">4.最高学历/学位证书扫描件一份；</span>
                        </p>
                        <p style="text-align: center;"><span style="font-size: 14px;">5.个人简历（含公司简介）一份。</span>
                        </p>
                        <p>
                            <br/>
                        </p>
                        <section data-author="Wxeditor">
                            <article id="m746" class="yead_editor" data-author="Wxeditor" style="font-size:14px;margin:5px auto;">
                                <section style="margin:1em auto;text-align:center">
                                    <section class="yead_bdc" style="border-bottom-width: 1px; border-bottom-style: solid; border-color: rgb(128, 94, 64); line-height: 25px; display: inline-block; padding: 0px 16px;">
                                        <p><span style="color:#333;font-size:16px;font-weight:bold">报名咨询</span>
                                        </p>
                                    </section>
                                    <section><span class="yead_bdtc" style="margin: -1px auto 10px; width: 0px; height: 0px; border-left-width: 10px; border-left-style: solid; border-left-color: transparent; border-right-width: 10px; border-right-style: solid; border-right-color: transparent; display: block; border-top-width: 8px; border-top-style: solid; border-top-color: rgb(128, 94, 64);"></span>
                                    </section>
                                </section>
                            </article>
                            <p>
                                <br/>
                            </p>
                        </section>
                        <p style="text-align: center;"><span style="font-size: 14px;">电话：<span style="font-size: 18px;"><strong><span style="font-size: 18px; color: rgb(255, 0, 0);">021-52307916 / 62826668</span>
                                    </strong>
                                    </span><span style="font-size: 18px;"><strong><span style="font-size: 18px; color: rgb(255, 0, 0);"></span>
                                    </strong>
                                    </span>
                                    </span>
                            <br/>
                        </p>
                        <p style="text-align: center;"><span style="font-size: 14px;">传真：021-5230 8253</span>
                        </p>
                        <p style="text-align: center;"><span style="font-size: 14px;">邮箱：ipo@sjtuedu-sh.cn</span>
                        </p>
                    </div>
                </div>
            </div>
            <!--right End-->
        </div>
    </div>
    <div class="right_extend"></div>
</div>
<div class="color_blank s_1"></div>
<footer>
    <div class="cw">
        <div class="top_body clearfix">
            <ul class="fl clearfix">
                <li>
                    <h3>学院介绍</h3>

                    <p><a href="/index/about/index.html" target="_blank">使命与愿景</a>
                    </p>
                    <p><a href="#" target="_blank">核心价值观</a>
                    </p>
                    <p><a href="#" target="_blank">学院特色</a>
                    </p>
                    <p><a href="#" target="_blank">学习模式</a>
                    </p>
                </li>
                <li>
                    <h3>核心课程</h3>

                    <p><a href="/index/course/index/cid/402.html" target="_blank">工商管理类</a>
                    </p>
                    <p><a href="/index/course/index/cid/404.html" target="_blank">创新创业类</a>
                    </p>
                    <p><a href="/index/course/index/cid/385.html" target="_blank">金融实务类</a>
                    </p>
                    <p><a href="/index/course/index/cid/375.html" target="_blank">人文与领导力类</a>
                    </p>
                    <p><a href="/index/course/index/cid/380.html" target="_blank">国际访学类</a>
                    </p>
                </li>
                <li>
                    <h3>师资力量</h3>

                    <p><a href="/index/staff/index/cateid/1.html" target="_blank">中教师资</a>
                    </p>
                    <p><a href="/index/staff/index/cateid/2.html" target="_blank">名教师资</a>
                    </p>
                    <p><a href="/index/staff/index/cateid/3.html" target="_blank">名家讲坛师资</a>
                    </p>
                </li>
                <li>
                    <h3 class="no_b"><a href="/index/activity/index.html" target="_blank">平台活动</a></h3>

                </li>
                <li>
                    <h3 class="no_b"><a href="/index/news/index.html" target="_blank">新闻动态</a></h3>

                </li>
            </ul>
            <div class="contactus_body fr">
                <h3>联系我们</h3>

                <p><span>创合汇商学院：</span>
                </p>
                <p>地址：上海市淮海西路55号申通信息广场17楼</p>
                <p>电话：400-6886-238</p>
                <p>传真：021-52308253</p>
                <!-- <h6><img src="../static/picture/qr_code.jpg" /></h6> -->
            </div>
        </div>
        <div class="copyright_bar">
            <div class="fl"> <a href="/index/contact/index.html" target="_blank">联系我们</a>
                <em>|</em>
                <a href="#" target="_blank">网站地图</a>
                <em>|</em>
                <a href="#" target="_blank">法律声明</a>

            </div>
            <p class="fr">版权 © 创合汇商学院 网站备案号： <a style='color: #e6e6e6;' href="http://www.miitbeian.gov.cn" target="_blank">沪ICP备18026080号-1</a>

                <a class="blank" id="host" target="_blank" href="">
                    <img src="../static/picture/dian.png" alt="">
                </a>
            </p>
        </div>
        <script>
            var link = ['http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&serial=9031000020190125155927000003646420-SAIC_SHOW_310000-20190703165346702253&signData=MEYCIQCrnaIIflg67U0hfPCfiVlkLaW0yTyYt/GiY7XUNVxtMgIhAJCTWwD1Hp4jrl4On+ciavsC4DwSXgA3wT0v+r7iMpoE', 'http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&serial=9031000020190327163918000004498431-SAIC_SHOW_310000-4028e4cb697682950169cf8d393c3725618&signData=MEQCIDSCUjNe0hZGCeWPdf8pKfbQD3X8Yf71iwcGL7xvbf14AiAwL8YfS2vNIr2VGKle2IqaoTgKiXS7tDeNCOMPq30m6Q==']
            var host = window.location.host;
            var dom = document.getElementById('host')
            if (host.indexOf('college.chuanghehui.com') >= 0) {
                dom.href = link[0]
            } else {
                dom.href = link[1]
            }
        </script>
    </div>
</footer>
</body>

</html>