<!DOCTYPE HTML>
<html>

<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{$goods.goods_title}</title>
    <meta name='keywords' content="胡杨大学商学院——全球开放式平台型商学院" />
    <meta name='description' content="2019年3月23日，胡杨大学「独角兽」创业成长计划三期的学员们开启了他们学习、成长、蜕变的新征程。此次学习之旅让创业者携手同行，在创业征途中成为时代的主角！" />

    {include file="public/head" /}
</head>

<body>
<header>
    {include file="public/coll_header" /}
</header>
<div id="app" class="pc">

    <div class="activity-detail g-width-100">
        <section>
            <div class="head" ref="activity-detail-head" v-cloak>
                <div class="wrapper g-width alignCenter" >
                    <img class="cover" style="height: 320px;" :src="zhuanlanInfo.img_url">
                    <div class="info flexColumn justifyCenter flex_1">
                        <p class="title fs22 line-clamp2">{{zhuanlanInfo.title}}</p>
                        <!-- <p class="time fs16 mb15">
                            <i class="icon"></i>
                            <span v-if="activityInfo.isOver == 0">未开始</span>
                            <span v-if="activityInfo.isOver == 1">进行中</span>
                            <span v-if="activityInfo.isOver == 2">已结束</span>
                             ·
                            <span>{{activityInfo.startTime}} - {{activityInfo.endTime}}</span>
                        </p>
                        <p class="time fs16 mb15" style="padding: 0; border:none;">
                            <i class="icon"></i>
                            <span v-if="activityInfo.isBOver == 0">未开始</span>
                            <span v-if="activityInfo.isBOver == 1">进行中</span>
                            <span v-if="activityInfo.isBOver == 2">已结束</span>
                             ·
                            <span>{{activityInfo.joinstime}} - {{activityInfo.joinetime}}</span>
                        </p> -->
                        <p class="num fs16 mb15" style=" padding-top: 16px; border-top: 1px dashed #ACACAC;">
                            <i class="icon"></i>
                            作者：{{zhuanlanInfo.author}}
                        </p>
                        <p class="num fs16 mb15">
                            <i class="icon"></i>
                            有 {{zhuanlanInfo.view_count}} 人浏览
                        </p>
                        <div style="position: relative;">
                            <div class="btn float-left">
                                <span class="item" @click="qrCodeShow = !qrCodeShow">
                                {{goods_type==3?'看视频': '看直播'}}</span>
                                <!-- <span class="item" :class="{disabled: !activityInfo.isOver==1}" v-if="activityInfo.isOver==1" 
                                    @click="offlineClick()">
                                    看直播</span>
                                <span class="item" :class="{disabled: !activityInfo.isOver==2}" v-if="activityInfo.isOver==2" 
                                    @click="onlineClick()">
                                    看回放</span> -->
                            </div>
                            <transition name="qrcode">
                                <div class="weChatRQcode" id="qrcode" v-show="qrCodeShow">
                                    <p>请使用微信扫码观看</p>
                                </div>
                            </transition>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body g-width-100">
                <div class="wrapper g-width float-clear">
                    <div class="detail-content float-left">
                        <p class="title fs22">详情</p>
                        <div class="info flexColumnCenter" v-html="zhuanlanInfo.content">
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <g-message ref="g-message"></g-message>
    <footer v-show="loading" v-cloak>
        {include file="public/coll_footer" /}
    </footer>
</div>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                goods_id: '{$goods.goods_id}',
                goods_type: '{$goods.goods_type}',
                zhuanlanInfo: '',
                qrCodeShow: false,
                loading: false,
                link:'https://wx058c82772f505e9c.h5.xiaoe-tech.com/v1/course/'
            }
        },
        methods: {
            getQrcode: function () {
                console.log(this.goods_id)
                let qrCodeLink = '';
                if (this.goods_type == 4) qrCodeLink = this.link + 'alive/' + this.goods_id + '?type=2';
                else qrCodeLink = this.link + 'video/' + this.goods_id + '?type=2';
                var qrcode = new QRCode('qrcode', {
                    width : 128,
                    height : 128
                });
                qrcode.makeCode(qrCodeLink);
            },
            getDetail() {
                http_get('getCourseDetail',{goods_id: this.goods_id, goods_type: this.goods_type}).then(res=>{
                    this.zhuanlanInfo = res.data.resource_info;
                });
            },
            toActivityDetail: function (item) {
                var url = 'act_detail?activityId=' + item.id;
                common.toPage(url);
            },

            getRecommendActivity() {
                http_post('getRecommend').then(res=>{
                    this.recommendActivity = res.data;
                });
            },
     
        },
        mounted: function () {
            // window.addEventListener('scroll', this.handleScroll);
            this.getDetail();
            this.getQrcode();
            this.loading=true;
        }
    });
</script>
</body>

</html>