    <!DOCTYPE HTML>
<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>培训课程</title>
    <meta name='keywords' content="——全球开放式平台型商学院" />
    <meta name='description' content="——全球开放式平台型商学院" />
    {include file="public/head" /}
</head>
<body>
<header>
{include file="public/coll_header" /}
</header>
<script type="text/javascript">
    function searchAll() {
        var str = $("#keys").val();
        if (str == "")
            alert("请输入要搜索的关键词");
        else
            location.href = "/index/search/index.html?q=" + str;
    }

    $(function() {
        $("ul.nav_list li").hover(function() {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeIn();
        }, function() {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeOut();
        });
    });
</script>
<div class="pageBanner">
  <div class="roll flexslider">
    <ul class="slides">
        {volist name="gallery" id="vo"}
        <li><img src="{$vo.path}" alt="{$vo.headline}"></li>
        {/volist}
    </ul>
	</div>
	<!--<div class="txt">-->
		<!--<div class="cw">-->
		 <!--<h3></h3>-->
		<!--</div>-->
         <!---->
        <!--</div>-->
    <!--<div class="line"></div>-->
    <!--<div class="btn">-->
      <!--<div class="cw"> <a href="/index/contact/message.html" class="act" target="_blank">在线报名</a> </div>-->
    <!--</div>-->
  
</div>
<div class="page">
  <div class="cw">
    <div class="pageBody clearfix">
      <!--left start-->
      <div class="leftBy fl">
        <div class="tit">
          <h3>培训课程</h3>
          <h4>Training courses</h4>
        </div>

        		<ul class="list2">
                    {volist name='concrete' id='vo'}
                            <li> <a href="#" class="title cur" id="{$vo.id}" >{$vo.courseName}</a>
                </li>
                    {/volist}
                    </ul>
       
        
        <div class="list03">
          <div class="content">
            <div class="course01">
              <h3><span>报名咨询</span></h3>
              <ul>
                <li>
                  <div class="txt"> 在职MBA<br>
                    <span>021-62826006</span> </div>
				</li>
                <li>
                  <div class="txt"> 在职DBA<br>
                    <span>021-62826818</span> </div>
                </li>
              </ul>
			  <a href="http://www.massmakers.cn/category-9338.html">在线报名</a>
            </div>
          </div>
          <div class="bottom"></div>
        </div>
                
      </div>
      <!--left End-->
      <!--right start-->
      <div class="rightBy fr">
        <div class="tool clearfix">
          <div class="fl">
              <h3> <span class="courseName">{$content.courseName}</span></h3>
          </div>
          <div class="fr"> <a href="/" >首页</a><span>></span><a href="#">{$content.typeName}</a><span class="cur">></span><a href="javascript:;"><span class="courseName cur">{$content.courseName} </span></a> </div>
        </div>
        <div class="course">
			<div class="contBody">
                {$content.courseIntroduce | raw}
        </div>
      </div>
      <!--right End-->
    </div>
  </div>
  <div class="right_extend"></div>
</div>
<div class="color_blank s_1"></div>
<footer>
    {include file="public/coll_footer" /}
</footer>
</body>
<script type="application/javascript">
    $(".title").click(function () {
        var id=$(this).attr('id');
        var html= '';
        $.ajax({
            url:'/index/index/introduce',
            data:{id:id},
            type:'GET',
            dataType:'json',
            success:function (res){
               res=$.parseJSON(res);
                console.log(res);
               if(res.code==1){
                   $(".courseName").html(res.data.courseName);
                    $(".contBody").html(res.data.courseIntroduce);
                }else{
                    alert('获取数据失败');
                }
            }
        });
    })
</script>
</html>
