
<!DOCTYPE HTML>
<html>

<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>专业栏目</title>
    {include file="public/head" /}
</head>
<body>
    <header>
        {include file="public/coll_header" /}
    </header>
    <div class="pageBanner">
        <div class="roll flexslider">
            <ul class="slides">
                {volist name="gallery" id="vo"}
                <li><img src="{$vo.path}"></li>
                {/volist}
            </ul>
        </div>
    
    </div>
    <div id="app" class="pc"> vvzxvcxz
        <footer v-show="loading"  v-cloak>
            {include file="public/coll_footer" /}
        </footer>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: function() {
                return {
                    loading: true
                }
            },
            mounted() {
                http_post('getCourse',{goods_name: 'sasgfdsgf'}).then(res=>{

                });
            },
            methods: {

            }
        });
    </script>
</body>
</html>
