<div class="cw">
    <div class="clearfix">
        <a href="/" class="logo fl">创合汇资本</a>
        <div class="fr">
            <div class="tools_bar">
					<span class="search_out" onkeydown="if (event.keyCode==13) {searchAll();}">
						<input type="text" id="keys" placeholder="Search" />
						<a href="javascript:;" onclick="searchAll()" class="btn"></a>
					</span>
                <span class="link_out" style="display:none;">
						<em>创合汇资本</em><i></i>
						<ul>
							<li><a href="#" target="_blank">其他站点链接</a></li>
							<li><a href="#" target="_blank">其他站点链接</a></li>
							<li><a href="#" target="_blank">其他站点链接</a></li>
							<li><a href="#" target="_blank">其他站点链接</a></li>
						</ul>
					</span>
                <span class="wechat_out">
						<i></i>
						<img src="__COLL__/picture/qr_code.jpg" class="qr_code" />
					</span>
            </div>
            <ul class="nav_list">
                <li class="cur"><a href="{:url('Chhcapital/index')}">首页</a></li>
                <li class=""><a href="{:url('Chhcapital/about')}">关于我们</a></li>
                <li class=""><a href="{:url('chhcapital/funds')}">创合汇基金</a></li>
                <li class=""><a href="{:url('chhcapital/services')}">创合汇投顾</a></li>
                <li class=""><a href="{:url('chhcapital/cases')}">已投项目</a></li>
                <li class=""><a href="{:url('chhcapital/road')}">项目路演会</a></li>
                <li class=""><a href="{:url('chhcapital/news')}">新闻中心</a></li>
                <li class=""><a href="{:url('chhcapital/contact')}">联系我们</a></li>
            </ul>
        </div>
    </div>
</div>