<div class="cw">
    <ul class="list clearfix">
        <li>
            <dl class="clearfix">
                <dd>
                    <h3>创合汇基金</h3>
                    <p><a href="{:url('chhcapital/teams')}">管理团队</a></p>
                    <p><a href="{:url('chhcapital/cases')}">成功案例</a></p>
                </dd>
                <dd>
                    <h3>创业服务中心</h3>
                    <p><a href="{:url('chhcapital/services')}">投融资服务</a></p>
                    <p><a href="#">投行服务</a></p>
                    <p><a href="#">其他创业服务</a></p>
                </dd>
                <dd>
                    <h3>关于我们</h3>
                    <p><a href="{:url('chhcapital/news')}">新闻动态</a></p>
                    <p><a href="{:url('chhcapital/road')}">项目路演会</a></p>
                </dd>
            </dl>
        </li>
        <li>
            <h3>联系我们</h3>
            <p><span>创合汇资本：</span></p>
            <p>地址：上海市淮海西路55号申通信息广场17楼</p>
            <p>电话：021-52307916</p>
            <p>传真：021-52308253</p>
            <p>商业计划书发送至：<a style='color: #9faebe;' href="mailto:bp@chuanghehui.cn">bp@chuanghehui.cn</a></p>
            <img src="__COLL__/picture/qr_code.jpg" class="qr_code" />
        </li>
    </ul>
    <div class="copyright">
        <div class="clearfix">
            <p class="fr">
                <span>版权  © 创合汇资本  网站备案号：沪ICP备16045019号-2</span>
                <a class="blank" target="_blank" href="http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&serial=9031000020170727204631000001958645-SAIC_SHOW_310000-20190702190346633070&signData=MEQCIE0Ldmch+6H4l9XVBtYcZxcwhYS3TWu8NbspmGjuzXTIAiB0xbAkbH5wZQGID1E9U3+0yTEWgA7rsgHQDEWnMNgXNw=="><img src="__COLL__/picture/dian.png" alt=""></a>
            </p>
            <a href="http://chhcapital.cn/index/contact/index.html">联系我们</a>
            <!--<a href="#">网站地图</a>
            <a href="#">法律声明</a>-->
        </div>
    </div>
</div>