<!--<script type="text/javascript">
    $(function () {
        $('#searchAll').click(function () {
            var keys=$("#keys").val();
            $.ajax({
                url:"{:url('index/search')}",
                type:"get",
                data:{keys:keys},
                dataType:"json",
                success:function (data) {
                    if(data.code==1){
                        location.href=data.url;
                    }else{
                        alert(data.msg);
                    }

                }
            });
            return false;
        });
    });
</script>-->
<div class="cw">
    <a href="{:url('index/index')}" class="logo fl"></a>
    <div class="tools_bar fr">
        <div class="tools_top">
            <div class="search_bar" onkeydown="if (event.keyCode==13) {searchAll();}" style="position: relative">
 <!--               <div style="position: absolute; margin-left: -160px; font-size: 22px; color: #311f13;">电话：400-6886-238</div>
               <input type="text" id="keys" placeholder="Search" />
                <a href="javascript:void(0);" id="searchAll"></a>-->
            </div>
            <!-- <a href="javascript:;" class="wechat"><span><img src="__COLL__/picture/qr_code_top.jpg" /></span></a> </div> -->
            <ul class="nav_list">
                <li><a href="{:url('index/index')}" class="">首页</a></li>
                <li><a href="{:url('index/about')}" class="">胡杨概况</a>
                    <div class="sub_Nav">
                        <div class="line"></div>
                        <p><a href="{:url('index/introduction')}">学院介绍</a></p>
                        <p><a href="{:url('index/organization')}">组织架构</a></p>
                    </div>
                </li>
                <li><a href="{:url('index/course')}" class="">核心课程</a>
                    <div class="sub_Nav">
                        <div class="line"></div>
                        <p><a href="{:url('index/m402')}" target="_blank">工商管理类</a></p>
                    </div>
                </li>
                <li><a href="{:url('index/szll',['seriesNO'=>1])}" class="">师资力量</a>
                    <div class="sub_Nav">
                        <div class="line"></div>
                        {volist name="shizi" id="vo"}
                        <p><a href="{:url('index/szll',['seriesNO'=>$vo.seriesID])}" target="_blank">{$vo.series}</a></p>
                        {/volist}
                    </div>
                </li>
                <li><a href="http://www.massmakers.cn/category-9338.html" target="_blank" class="">培训报名</a></li><!--{:url('index/activity')}-->
                <li><a href="{:url('index/news')}" class="">新闻动态</a></li>
                <li><a href="{:url('index/contact')}" class="">联系我们</a></li>
            </ul>
        </div>
    </div>