<!--<script type="text/javascript">
    $(function () {
        $('#searchAll').click(function () {
            var keys=$("#keys").val();
            $.ajax({
                url:"{:url('index/search')}",
                type:"get",
                data:{keys:keys},
                dataType:"json",
                success:function (data) {
                    if(data.code==1){
                        location.href=data.url;
                    }else{
                        alert(data.msg);
                    }
                }
            });
            return false;
        });
    });
</script>-->
<div class="cw">
    <a href="{:url('index/index')}" class="logo fl"></a>
    <div class="tools_bar fr">
        <div class="tools_top" style="position: relative;">
            <div class="search_bar" onkeydown="if (event.keyCode==13) {searchAll();}" style="position: relative">
 <!--               <div style="position: absolute; margin-left: -160px; font-size: 22px; color: #311f13;">电话：400-6886-238</div>
               <input type="text" id="keys" placeholder="Search" />
                <a href="javascript:void(0);" id="searchAll"></a>-->
            </div>
            <!-- <a href="javascript:;" class="wechat"><span><img src="__COLL__/picture/qr_code_top.jpg" /></span></a> </div> -->
            <ul class="nav_list">
                <li><a href="{:url('index/index')}" class="">首页</a></li>
                <li><a href="{:url('index/about')}" class="">胡杨概况</a>
                    <div class="sub_Nav">
                        <div class="line"></div>
                        <p><a href="{:url('index/introduction')}">学院介绍</a></p>
                        {volist name='AB' id='vo'}
                        <p><a href="{:url('index/aboutMore',['id'=>$vo.id])}">{$vo.name}</a></p>
                        {/volist}
                    </div>
                </li>
                
                
                <li><a href="{:url('index/szll',['seriesNO'=>0])}" class="">师资力量</a>
                    <div class="sub_Nav sub_szll">
                        <div class="line"></div>
                        {volist name="shizi" id="vo"}
                        <p><a href="{:url('index/szll',['seriesNO'=>$vo.seriesID])}" >{$vo.series}</a></p>
                        {/volist}
                    </div>
                </li>
                <li><a href="{:url('index/activity')}" class="">培训报名</a>
                    <!-- 重新设置 ： 1. 显示2条热门活动 链接到活动详情页面 2. 更多跳转链接index/activity -->
                    <ul class="dropdown activity-center-dorp">
                        <li>
                            <a href="activitydetail?id=122" target="_blank" class="g-width-100">
                                <p class="title">创合汇公开课公益直播：疾病、科幻与哲学反思</p>
                                <div class="info float-clear">
                                    <span class="left float-left">03-31</span>
                                    <span class="right float-right">报名中</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="activitydetail?id=121" target="_blank" class="g-width-100">
                                <p class="title">创合汇公开课公益直播：企业如何抓住疫情后的数字化转型机遇</p>
                                <div class="info float-clear">
                                    <span class="left float-left">03-28</span>
                                    <span class="right float-right">报名中</span>
                                </div>
                            </a>
                        </li>
                        <a href="activity" target="_blank" class="more">更多活动</a>
                    </ul>
                </li>
                <!--http://www.massmakers.cn/category-9338.html-->
                <li><a href="{:url('index/news')}" class="">新闻动态</a></li>
                <li><a href="{:url('index/contact')}" class="" style="display: none;">联系我们</a></li>
                <li><a href="{:url('index/course')}" class=""  style="display: none;">培训课程</a>
                    
                </li>
            </ul>
        </div>
    </div>

<script type="text/javascript">
    $(document).ready(function() {
        var array = [];
        var colorArray = ['e08181','3474ff','f3b461']
        $(".courseType").mouseover(function(){
            var id = $(this).data('id');
            var count = $(this).data('count');
            var flag = true;
            var that = this;
            array.forEach(element => {
                if (element == id) flag = false;
            });
            if(flag) {
                array.push(id);
                $.ajax({
                    url: '/index/index/getSons',
                    type:'get',
                    data: {id: id},
                    dataType:'json',
                    success:function (res) {
                        // 格式化 json
                        if (!isJSON(res)) res = $.parseJSON( res );
                        if (res.code == 1)  {
                            if (count) count++; else count=1;
                            res.data.forEach(item => {
                                $(that).after('<p class="courseType" data-id="' +
                                item.id +'" data-count="' + count +'"><a href="javascript: void(0);" onClick="getCourse(\'course/\','+
                                item.id + ')" style="color:#'+ colorArray[count] +';">'+item.typeName+'</a></p>');
                            });
                        } else {
                            
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
        });
    });
    // 校验数据是否是json 数据
    function isJSON(str) {
        var isjson = typeof(str) == "object" && Object.prototype.toString.call(str).toLowerCase() == "[object object]" && !str.length;
        return isjson;
    }
    function getCourse(url, id) {
        window.location.replace('/index/index/course/id/' + id + '.html');
    }
    $(function () {
        $("ul.nav_list li").hover(function () {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeIn();
            $("ul.nav_list li .dropdown").stop(false, true);
            $(this).find(".dropdown").fadeIn();
        }, function () {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeOut();
            $("ul.nav_list li .dropdown").stop(false, true);
            $(this).find(".dropdown").fadeOut();
        });
    });
</script>