<div class="cw">
  <a href="{:url('index/index')}" class="logo fl"></a>
  <div class="tools_bar fr">
    <div class="tools_top" style="position: relative;">
      <div class="search_bar" onkeydown="if (event.keyCode==13) {searchAll();}" style="position: relative">
      </div>
      <ul class="nav_list">
        <li><a href="{:url('index/index')}" class="">首页</a></li>
        <li><a href="{:url('index/about')}" class="">胡杨概况</a>
          <div class="sub_Nav">
            <div class="line"></div>
            <p><a href="{:url('index/introduction')}">学院介绍</a></p>
            {volist name='AB' id='vo'}
            <p><a href="{:url('index/aboutMore',['id'=>$vo.id])}">{$vo.name}</a></p>
            {/volist}
          </div>
        </li>


        <li><a href="{:url('index/szll',['seriesNO'=>0])}" class="">师资力量</a>
          <div class="sub_Nav sub_szll">
            <div class="line"></div>
            {volist name="shizi" id="vo"}
            <p><a href="{:url('index/szll',['seriesNO'=>$vo.seriesID])}">{$vo.series}</a></p>
            {/volist}
          </div>
        </li>
        <li><a href="{:url('index/activity')}" class="">培训报名</a>
        </li>
        <li><a href="{:url('index/course')}" class="">培训课程</a>
          <!-- 重新设置 ： 1. 显示2条热门活动 链接到活动详情页面 2. 更多跳转链接index/activity -->

        </li>
        <li><a href="{:url('index/news')}" class="">新闻动态</a></li>
        <li><a href="{:url('index/contact')}" class="" style="display: none;">联系我们</a></li>
        <li><a href="{:url('index/course')}" class="" style="display: none;">培训课程</a>

        </li>

      </ul>
    </div>
  </div>

  <script type="text/javascript">
    function getCourse(url, id) {
      window.location.replace('/index/index/course/id/' + id + '.html');
    }
    $(function () {
      $("ul.nav_list li").hover(function () {
        $("ul.nav_list li .sub_Nav").stop(false, true);
        $(this).find(".sub_Nav").fadeIn();
        $("ul.nav_list li .dropdown").stop(false, true);
        $(this).find(".dropdown").fadeIn();
      }, function () {
        $("ul.nav_list li .sub_Nav").stop(false, true);
        $(this).find(".sub_Nav").fadeOut();
        $("ul.nav_list li .dropdown").stop(false, true);
        $(this).find(".dropdown").fadeOut();
      });
    });
  </script>