<div class="cw">
    <a href="/" class="logo fl"></a>
    <div class="tools_bar fr">
        <div class="tools_top">
            <div class="search_bar" onkeydown="if (event.keyCode==13) {searchAll();}">
                <input type="text" id="keys" placeholder="Search" />
                <a href="javascript:;" onclick="searchAll()"></a>
            </div>
            <div class="website_change"><span>创合汇网群</span><i></i>

                <ul>
                    <li><a href="{:url('Index/index')}">创合汇总站</a>
                    </li>
                    <li><a href="{:url('chhcapital/index')}">创合汇资本</a>
                    </li>
                    <li><a href="http://www.chhcollege.org/">创合汇学院</a>
                    </li>
                    <li><a href="http://www.chhcollege.org/index/mooc/index.html">创合汇APP</a>
                    </li>
                </ul>
            </div> <a href="javascript:;" class="wechat"><span><img src="__CON__/picture/qr_code_top.jpg" /></span></a>
        </div>
        <ul class="nav_list">
            <li><a href="{:url('chhconsulting/index')}" class="">首页</a>
            </li>
            <li><a href="{:url('chhconsulting/about')}" class="cur">关于我们</a>

                <!--<li><a href="/index/about/index.html" class="cur" >关于我们</a>
<div class="sub_Nav">
    <div class="line"></div>
    <p><a href="/index/about/index.html" > 使命与愿景 </a></p>
    <p><a href="/index/about/core.html" > 核心价值观 </a></p>

 </div>
</li>-->
            <li><a href="{:url('chhconsulting/doctor')}" class="">核心服务</a>

                <div class="sub_Nav">
                    <div class="line"></div>
                    <p><a href="{:url('chhconsulting/doctor')}"> 测评诊断 </a>
                    </p>
                    <p><a href="{:url('chhconsulting/make')}"> 企业定制 </a>
                    </p>
                    <p><a href="{:url('chhconsulting/manage')}"> 管理咨询 </a>
                    </p>
                </div>
            </li>
            <li><a href="{:url('chhconsulting/advantage')}" class="">我们的优势</a>

            <li><a href="{:url('chhconsulting/activity')}" class="">成功案例</a>

                <div class="sub_Nav">
                    <div class="line"></div>
                    <p><a href="{:url('chhconsulting/activity')}"> 经典案例 </a>
                    </p>
                    <p><a href="{:url('chhconsulting/customer')}"> 主要客户 </a>
                    </p>
                </div>
            </li>
            <li><a href="/index/staff/index.html" class="">师资力量</a>

                <div class="sub_Nav">
                    <div class="line"></div>
                    <p><a href="/index/staff/index/cateid/1.html"> 中教师资 </a>
                    </p>
                    <p><a href="/index/staff/index/cateid/2.html"> 外教师资 </a>
                    </p>
                    <p><a href="/index/staff/index/cateid/3.html"> 名家讲坛师资 </a>
                    </p>
                </div>
            </li>
            <li><a href="{:url('chhconsulting/news')}" class="">新闻动态</a>
            </li>
            <li><a href="{:url('chhconsulting/contact')}" class="">联系我们</a>
            </li>
        </ul>
    </div>
</div>
