<div class="cw">
    <div class="top_body clearfix">
        <ul class="fl clearfix">
            <li>
                <h3><a href="/index/about/index.html">关于我们</a></h3>

                <p><a href="/index/advantage/index.html">我们的优势</a>
                </p>
            </li>
            <li>
                <h3>核心服务</h3>

                <p><a href="/index/service/index/id/367.html"> 测评诊断 </a>
                </p>
                <p><a href="/index/service/index/id/406.html"> 企业定制 </a>
                </p>
                <p><a href="/index/service/index/id/408.html"> 管理咨询 </a>
                </p>
            </li>
            <li>
                <h3>师资力量</h3>

                <p><a href="/index/staff/index/cateid/1.html">中教师资</a>
                </p>
                <p><a href="/index/staff/index/cateid/2.html">外教师资</a>
                </p>
                <p><a href="/index/staff/index/cateid/3.html">名家讲坛师资</a>
                </p>
            </li>
            <li>
                <h3>成功案例</h3>

                <p><a href="/index/activity/index.html"> 经典案例 </a>
                </p>
                <p><a href="/index/activity/customer.html"> 主要客户 </a>
                </p>
            </li>
            <li>
                <h3 class="no_b"><a href="/index/news/index.html">新闻动态</a></h3>

            </li>
        </ul>
        <div class="contactus_body fr">
            <h3>联系我们</h3>

            <p><span>创合汇咨询：</span>
            </p>
            <p>地址：上海市淮海西路55号申通信息广场17楼</p>
            <p>电话：021-52307916</p>
            <p>传真：021-52308253</p>
            <h6><img src="__CON__/picture/qr_code.jpg" /></h6>

        </div>
    </div>
    <div class="copyright_bar">
        <div class="fl"> <a href="/index/contact/index.html">联系我们</a>

        </div>
        <p class="fr">版权 © 创合汇咨询 网站备案号：沪ICP备17053555号-2
            <a class="blank" target="_blank" href="http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&serial=9031000020190327163918000004498431-SAIC_SHOW_310000-4028e4cb697682950169cf8d393c3726466&signData=MEUCIGVtz9cP4gApBBlzQEA/APIUIMo+198STrNfJrHRKxIcAiEAy9qac1S1iYmR6Xwca6HAkv99JOQY+0Hhcnnkgn9tmeo=">
                <img src="__CON__/picture/dian.png" alt="">
            </a>
        </p>
    </div>
</div>