<div class="float-qrcode">
    <p>关闭</p>
    <div class="option">
        <span>小程序</span>
        <span>公众号</span>
    </div>
    <img />
    <img />
</div>

<style>
    .float-qrcode {
        position: fixed; left: 36px; top: 72px; width: 150px; height: 180px; border-radius: 4px; background-color: rgba(255, 192, 0, 0.5);
    }
    .float-qrcode p {
        margin: -18px 0 0 126px;
    }
    .option {
        padding: 10px; display: flex; justify-content: space-between;
    }
</style>