<div class="float-qrcode">
    <p class="close">关闭</p>
    <div class="option">
        <span class="option_item">培训课程</span>
        <span class="option_item">公众号</span>
    </div>
    <div class="option_active">&nbsp;</div>
    <div class="qrcode_content">
        <div class="qrcode_slider">
            <img class="qrcode" src="__COLL__/images/huyang.png"/>
            <img class="qrcode" src="__COLL__/images/huachuang.jpg"/>
        </div>
        <br style="clear:both">				
    </div>
</div>
