<div class="cw">
    <div class="top_body clearfix">
        <ul class="fl clearfix">
            <li>
                <h3><a href="{:url('about/index')}" target="_blank">关于创合汇</a></h3>

                <p><a href="{:url('about/survey')}" target="_blank">创合汇概况</a>
                </p>
                <p><a href="{:url('about/speech')}" target="_blank">创始人致辞</a>
                </p>
                <p><a href="{:url('about/culture')}" target="_blank">企业文化</a>
                </p>
                <p><a href="{:url('about/video')}" target="_blank">视频集锦</a>
                </p>
                <p><a href="{:url('about/join')}" target="_blank">加入创合汇</a>
                </p>
            </li>
            <li>
                <h3><a href="#" target="_blank">生态业务</a></h3>

                <p><a href="http://www.chhcollege.org/" target="_blank">创合汇商学院</a>
                </p>
                <p><a href="http://www.chhconsulting.cn/" target="_blank">创合汇咨询</a>
                </p>
                <p><a href="http://www.chhcollege.org/index/mooc/index.html" target="_blank">创合汇APP</a>
                </p>
                <p><a href="http://chhcapital.cn/" target="_blank">创合汇资本</a>
                </p>
                <p><a href="#" target="_blank">创合汇社群</a>
                </p>
                <p><a href="#" target="_blank">赤兔创业咖啡</a>
                </p>
            </li>
            <li>
                <h3><a href="{:url('activity/index')}" target="_blank">平台活动</a></h3>

                <p><a href="{:url('activity/series')}" target="_blank">创新创业系列活动</a>
                </p>
                <p><a href="{:url('activity/subjects')}" target="_blank">项目路演会</a>
                </p>
                <p><a href="{:url('activity/campus')}" target="_blank">学院活动</a>
                </p>
                <p><a href="{:url('activity/redrabbit')}" target="_blank">赤兔活动</a>
                </p>
            </li>
            <li>
                <h3><a href="/index/news/index.html" target="_blank">新闻动态</a></h3>

                <p><a href="/index/news/index/cid/466.html" target="_blank">创合汇新闻</a>
                </p>
                <p><a href="/index/news/index/cid/467.html" target="_blank">行业资讯</a>
                </p>
                <p><a href="/index/news/index/cid/468.html" target="_blank">媒体报道</a>
                </p>
            </li>
            <li>
                <h3><a href="/index/staff/index.html" target="_blank">战略资源</a></h3>

                <p><a href="/index/staff/index.html" target="_blank">战略合作</a>
                </p>
                <p><a href="/index/staff/teacher.html" target="_blank">专家智库</a>
                </p>
            </li>
        </ul>
        <div class="contactus_body fr">
            <h3>联系我们</h3>

            <p>创合汇集团总部：</p>
            <p>地址：上海市淮海西路55号申通信息广场17楼</p>
            <p>电话：021-52307916</p>
            <p>传真：021-52308253</p>
            <h6><img src="__CHH__/picture/qr_code.jpg" /></h6>

        </div>
    </div>
    <div class="copyright_bar">
        <div class="fl"> <a href="../contact/index.html" target="_blank">联系我们</a>
            <em>|</em>
            <a href="#" target="_blank">网站地图</a>
            <em>|</em>
            <a href="#" target="_blank">法律声明</a>

        </div>
        <p class="fr">版权 © 创合汇 网站备案号：沪ICP备18026080号-1
            <a id="host" class="blank" target="_blank" href="">
                <img src="__CHH__/picture/dian.png" alt="">
            </a>
        </p>
    </div>
    <script>
        var link = ['http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&serial=9031000020190125155927000003646420-SAIC_SHOW_310000-20190703165346678141&signData=MEQCID6D+Kk3JMEPpl4NGATnOj/swxm0DQwyTm24OUb/YXprAiBXJavHx8ZRYmFD/yTrJhxdEKznRL2S3/w6ZfcJkJvVjQ==', 'http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&serial=9031000020170727204631000001958645-SAIC_SHOW_310000-20190703185346598361&signData=MEUCIBEfysZzHK/mLAoFg8iVvAlBmY9+Ri1EJ5umj31Z/60tAiEA135hLFHJo4UGVsQvwVB7BLke/iToLN8rgCWVBjzEQoY=']
        var host = window.location.host;
        var dom = document.getElementById('host')
        if (host.indexOf('chuanghehui.com') >= 0) {
            dom.href = link[0]
        } else {
            dom.href = link[1]
        }
    </script>
</div>