<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<meta name='keywords' content="胡杨大学"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name='description'
      content="华创胡杨大学，是一所不设门槛的创新创业大学，是一所终身公益免费培养企业家的学校，是一所所有导师无私奉献的学校。 <br/>学校致力于系统性的培养企业家及其管理团队，打造最有价值的学习与发展平台，为中国创新创业事业和实业发展贡献力量。"/>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1"/>
<link href="__COLL__/css/page.css" rel="stylesheet"/>
<!-- 此处链接 vue 和 swiper -->
<link rel="stylesheet" href="__COLL__/css/swiper.min.css">
<link rel="stylesheet" href="__COLL__/css/reset.css">
<link rel="stylesheet" href="__COLL__/css/global.css">
<link rel="stylesheet" href="__COLL__/css/header.css">
<link rel="stylesheet" href="__COLL__/css/footer.css">
<link rel="stylesheet" href="__COLL__/css/message.css">
<link rel="stylesheet" href="__COLL__/css/vip-dialog.css">
<link rel="stylesheet" href="__COLL__/css/activity.css">  
<link rel="stylesheet" href="__COLL__/css/activitydetail.css">   

<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?7996666e6d269b8161c664dc73b41699";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<script src="__COLL__/js/entrance.js" data-args="groupId=f120961075064bbebb64783685097ee4" class="zhiCustomBtn"
        id="zhichiScript"></script>
<!-- Apple iOS and Android stuff -->
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="__COLL__/images/icon.png"/>
<link rel="apple-touch-icon-precomposed" href="__COLL__/images/icon.png"/>
<link rel="apple-touch-startup-image" media="screen and (orientation: portrait)"
      href="__COLL__/images/startup.png"/>
<link rel="apple-touch-startup-image" media="screen and (orientation: landscape)"
      href="__COLL__/images/startupL.png"/>
<link href="__COLL__/css/flexslider.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript">
    function fBrowserRedirect() {
        var sUserAgent = navigator.userAgent.toLowerCase();
        var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
        var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
        var bIsMidp = sUserAgent.match(/midp/i) == "midp";
        var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
        var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
        var bIsAndroid = sUserAgent.match(/android/i) == "android";
        var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
        var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";

        if (bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
            window.location.href = "http://www.chhcollege.org/mobile/";
        }
    }

    fBrowserRedirect();
</script>
<link href="__COLL__/css/reset.css" type="text/css" rel="stylesheet"/>
<link href="__COLL__/css/layout.css" type="text/css" rel="stylesheet"/>
<link href="__COLL__/css/common.css" type="text/css" rel="stylesheet"/>
<link href="__COLL__/css/index.css" type="text/css" rel="stylesheet"/>
<link href="__COLL__/css/base.css" rel="stylesheet">

<!--[if IE]>
<script src="__COLL__/js/html5.js"></script><![endif]-->
<!--[if lt IE 10]>
<script type="text/javascript" src="__COLL__/js/pie.js"></script><![endif]-->
<script type="text/javascript" src="__COLL__/js/jquery.min.js"></script>
<script type="text/javascript" src="__COLL__/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="__COLL__/js/banner.js"></script>
<script type="text/javascript" src="__COLL__/js/jquery-powerswitch.js"></script>
<script type="text/javascript" src="__COLL__/js/common.js"></script>
<script type="text/javascript" src="__COLL__/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
    $(function () {

        $('.flexslider').flexslider({

            animation: "fade",

            slideshow: true,

            slideshowSpeed: 3000,

            animationSpeed: 2000,

            touch: false,

            controlNav: true,

            directionNav: false,

            pauseOnHover: false

        });



        $(".index_btm_body .tab_body a").click(function () {

            var index = $(".index_btm_body .tab_body a").index($(this));

            $(".index_btm_body .tab_body a").removeClass("cur").eq(index).addClass("cur");

            $(".index_btm_body .tab_con .con").hide().eq(index).fadeIn();

        }).eq(0).click();





    });
</script>
<script type="text/javascript">
    //base
    var _baseUrl = '';
    var baseJSUrl = '__COLL__/js/';
    var baseCSSUrl = '__COLL__/css/';
</script>
<script type="text/javascript">

    $(function () {

        $.fn.banner(".index_kv_body", 5000);



        $("#scroll_1 a.btn").powerSwitch({

            container: $("#scroll_1 .scroll_in"),

            number: 4

        });



        $("#scroll_2 a.btn").powerSwitch({

            container: $("#scroll_2 .scroll_in"),

            number: 4

        });



        $("#scroll_3 a.btn").powerSwitch({

            container: $("#scroll_3 .scroll_in"),

            number: 4

        });



        $(".index_btm_body .tab_body a").click(function () {

            var index = $(".index_btm_body .tab_body a").index($(this));

            $(".index_btm_body .tab_body a").removeClass("cur").eq(index).addClass("cur");

            $(".index_btm_body .tab_con .con").hide().eq(index).fadeIn();





        }).eq(0).click();





    });

</script>