<div class="cw">
    <a href="/" class="logo fl"></a>
    <div class="right_body fr">
        <ul class="nav_list fl">
            <li><a href="/" class="cur" target="_blank">首页</a>
            </li>
            <li><a href="{:url('About/index')}" class="" target="_blank">关于创合汇</a>

                <div class="sub_Nav">
                    <div class="line"></div>
                    <p> <a href="/index/about/index/cid/369.html">创合汇概况</a>
                    </p>
                    <p> <a href="{:url('about/speech')}">创始人致辞</a>
                    </p>
                    <p> <a href="{:url('about/culture')}">企业文化</a>
                    </p>
                    <p> <a href="{:url('about/video')}">视频集锦</a>
                    </p>
                    <p> <a href="{:url('about/join')}">加入创合汇</a>
                    </p>
                </div>
            </li>
            <li><a href="#" target="_blank">生态业务</a>

                <div class="sub_Nav">
                    <div class="line"></div>
                    <p> <a href="{:url('chhcollege/index')}" target="_blank">创合汇商学院</a>
                    </p>
                    <p> <a href="{:url('Chhconsulting/index')}" target="_blank">创合汇咨询</a>
                    </p>
                    <p> <a href="http://www.Chhconsulting.org/index/mooc/index.html" target="_blank">创合汇APP</a>
                    </p>
                    <p> <a href="{:url('chhcapital/index')}" target="_blank">创合汇资本</a>
                    </p>
                    <p> <a href="#">创合汇社群</a>
                    </p>
                    <p> <a href="#">创合汇众创空间</a>
                    </p>
                </div>
            </li>
            <li><a href="{:url('activity/index')}" class="" target="_blank">平台活动</a>

                <div class="sub_Nav">
                    <div class="line"></div>
                    <p> <a href="{:url('activity/series')}">创新创业系列活动</a>
                    </p>
                    <p> <a href="{:url('activity/subjects')}">项目路演会</a>
                    </p>
                    <p> <a href="{:url('activity/campus')}">学院活动</a>
                    </p>
                    <p> <a href="{:url('activity/redrabbit')}">赤兔活动</a>
                    </p>
                </div>
            </li>
            <li><a href="/index/news/index.html" class="" target="_blank">新闻动态</a>

                <div class="sub_Nav">
                    <div class="line"></div>
                    <p> <a href="/index/news/index/cid/466.html">创合汇新闻</a>
                    </p>
                    <p> <a href="/index/news/index/cid/467.html">媒体报道</a>
                    </p>
                    <p> <a href="/index/news/index/cid/468.html">行业资讯</a>
                    </p>
                </div>
            </li>
            <li><a href="{:url('Staff/staff')}" class="" target="_blank">战略资源</a>

                <div class="sub_Nav">
                    <div class="line"></div>
                    <p> <a href="/index/staff/index.html">战略合作</a>
                    </p>
                    <p> <a href="/index/staff/teacher.html">专家智库</a>
                    </p>
                </div>
            </li>
            <li><a href="/index/contact/index.html" class="" target="_blank">联系我们</a>
            </li>
        </ul>
        <div class="tools_bar fr">
            <div class="search_bar fl" onkeydown="if (event.keyCode==13) {searchAll();}">
                <input type="text" id="keys" placeholder="Search" />
                <a href="javascript:;" onclick="searchAll()"></a>
            </div>
            <div class="website_change fl"><span>创合汇网群</span><i></i>

                <ul>
                    <li><a href="http://www.chuanghehui.cn/" target="_blank">创合汇总站</a>
                    </li>
                    <li><a href="http://chhcapital.cn/" target="_blank">创合汇资本</a>
                    </li>
                    <li><a href="http://www.Chhconsulting.org/" target="_blank">创合汇商学院</a>
                    </li>
                    <li> <a href="http://www.chhconsulting.cn/" target="_blank">创合汇咨询</a>
                    </li>
                    <li><a href="http://www.Chhconsulting.org/index/mooc/index.html" target="_blank">创合汇APP</a>
                    </li>
                </ul>
            </div> <a href="javascript:;" class="wechat"><span><img src="__CHH__/picture/qr_code_top.jpg" /></span></a>

        </div>
    </div>
</div>