<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<meta name='keywords' content="胡杨大学"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name='description'
      content="华创胡杨大学，是一所不设门槛的创新创业大学，是一所终身公益免费培养企业家的学校，是一所所有导师无私奉献的学校。 <br/>学校致力于系统性的培养企业家及其管理团队，打造最有价值的学习与发展平台，为中国创新创业事业和实业发展贡献力量。"/>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1"/>
<link href="__COLL__/css/page.css" rel="stylesheet"/>
<!-- 此处链接 vue 和 swiper -->
<link rel="stylesheet" href="__COLL__/css/swiper.min.css">
<link rel="stylesheet" href="__COLL__/css/reset.css">
<link rel="stylesheet" href="__COLL__/css/global.css">
<link rel="stylesheet" href="__COLL__/css/header.css">
<link rel="stylesheet" href="__COLL__/css/footer.css">
<link rel="stylesheet" href="__COLL__/css/message.css">
<link rel="stylesheet" href="__COLL__/css/vip-dialog.css">
<link rel="stylesheet" href="__COLL__/css/activity.css">  
<link rel="stylesheet" href="__COLL__/css/activitydetail.css">   

<!-- Apple iOS and Android stuff -->
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="__COLL__/images/icon.png"/>
<link rel="apple-touch-icon-precomposed" href="__COLL__/images/icon.png"/>
<link rel="apple-touch-startup-image" media="screen and (orientation: portrait)"
      href="__COLL__/images/startup.png"/>
<link rel="apple-touch-startup-image" media="screen and (orientation: landscape)"
      href="__COLL__/images/startupL.png"/>
<link href="__COLL__/css/flexslider.css" type="text/css" rel="stylesheet"/>

<link href="__COLL__/css/reset.css" type="text/css" rel="stylesheet"/>
<link href="__COLL__/css/layout.css" type="text/css" rel="stylesheet"/>
<link href="__COLL__/css/common.css" type="text/css" rel="stylesheet"/>
<link href="__COLL__/css/index.css" type="text/css" rel="stylesheet"/>
<link href="__COLL__/css/base.css" rel="stylesheet">


