<home-header>
  <i class="hx_hy_logo"></i>
  <ul class="hx_nav">
    <li class="hx_nav_item"><a href="{:url('index/index')}">首页</a></li>
    <li class="hx_nav_item"><a href="{:url('index/about')}">胡杨概况</a></li>
    <li class="hx_nav_item"><a href="{:url('index/szll',['seriesNO'=>0])}">师资力量</a></li>
    <li class="hx_nav_item"><a href="{:url('index/activity')}">培训报名</a></li>
    <li class="hx_nav_item"><a href="{:url('index/course')}">培训课程</a></li>
    <li class="hx_nav_item"><a href="{:url('index/news')}">新闻动态</a></li>
  </ul>
</home-header>