<!DOCTYPE HTML>
<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>新闻动态</title>
    <meta name='keywords' content="——全球开放式平台型商学院"/>
    <meta name='description' content="——全球开放式平台型商学院"/>

    {include file="public/head" /}
</head>
<body>
<header>
    {include file="public/coll_header" /}
</header>

<div class="pageBanner">
    <div class="roll flexslider">
        <ul class="slides">
            <!--<li><img src="__COLL__/picture/20190923144414.jpg"></li>-->
            {volist name="gallery" id="vo"}
            <li><img src="{$vo.path}" alt="{$vo.headline}"></li>
            {/volist}
        </ul>
    </div>
</div>
<div class="page">
    <div class="cw">
        <div class="pageBody clearfix">
            <!--left start-->
            <div class="leftBy fl">
                <div class="tit">
                    <h3>新闻动态</h3>
                    <h4>News</h4>
                </div>
                {include file="public/coll_leftBy" /}
            </div>
            <!--left End-->
            <!--right start-->
            <div class="rightBy fr">
                <div class="tool clearfix">
                    <div class="fl">
                        <h3> 新闻<span>动态</span></h3>
                    </div>
                    <div class="fr"><a href="/" target="_blank">首页</a><span class="cur">></span><a href="javascript:;"
                                                                                                   class="cur">新闻动态</a>
                    </div>
                </div>
                <div class="news">
                    <ul>
                        {volist name="news" id="vo"}
                        <li>
                            <a href="{:url('index/news_detail',['newsid'=>$vo['newsid']])}">
                                <div class="item">
                                    <div class="fl">
                                        <img src="{$vo.newspicture}">
                                    </div>
                                    <div class="fr">
                                        <h3>{$vo.newstitle}</h3>
                                        <p>作者：{$vo.writer}</p>
                                        <p>点赞：{$vo.newsup}</p>
                                    </div>
                                    <span style=" position: absolute; bottom: 2px;left:283px; color: #6f6f6f;"><em>{$vo.createTime}</em></span>
                                    <span style="position: absolute; bottom: 2px; right: 30px;">查看详情 >></span>
                                </div>
                            </a>
                        </li>
                        {/volist}
                    </ul>
                    <div class="Pagers">
                        <ul class="pagination">
                            {$news|raw}
                        </ul>
                    </div>


                </div>
            </div>
            <!--right End-->
        </div>
    </div>
    <div class="right_extend"></div>
</div>
<div class="color_blank s_1"></div>
<footer>
    {include file="public/coll_footer" /}
</footer>
</body>
</html>
