<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Document</title>
    <!-- 引用 css 引用列表 -->
    {include file="common/meta" /}
</head>
<body>
    <div id="app">
        <content class="news-detail">
            <h3 style="text-align: center; font-size: 0.48rem; line-height: 0.68rem; font-weight: bold; margin-top:0.3rem">{$newsid.newstitle | raw}</h3>
            <h4 style="text-align: right; font-size: 0.28rem;margin: 0.3rem 0 0.2rem;color: #bbbbbb;">{$newsid.createTime | raw}</h4>
            <div>{$newsid.articleContent|raw}</div>
        </content>
        
        <!-- 引用 尾部组件 -->
        {include file="common/footer" /}
    </div>
</body>
<!-- 引用 js 脚本引用列表 -->
{include file="common/script" /}
<!-- 在此下方编写脚本 -->
<!-- 在此上方编写脚本 -->
</html>