<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>新闻动态</title>
    <!-- 引用 css 引用列表 -->
    {include file="common/meta" /}
</head>
<body>
    <div id="app">
        <!-- 引用 头部组件 -->
        {include file="common/header" /}
        <content class="news nav-top">
            <!-- 背景轮播 -->
            <van-swipe :autoplay="1000">
                <van-swipe-item v-for="(item, index) in gallery" :key="index">
                    <img class="banner" :src="item.path" alt="item.headline" />
                </van-swipe-item>
            </van-swipe>
            <!-- 新闻 -->
            <van-sidebar>
                <van-sidebar-item title="新闻列表" ></van-sidebar-item>
            </van-sidebar>
            <ul class="pl-r20">
                <li class="flex-plumb-center card" v-for="item in newsList" 
                @click="goPage(item.newsid)">
                    <img class="news-image" :src="item.newspicture"/>
                    <div class="info">
                        <p class="title text-line-clamp2">{{item.newstitle}}</p>
                        <time :datetime="item.createTime">{{item.createTime}}</time>
                    </div>
                </li>
            </ul>
        </content>
        
        <!-- 引用 尾部组件 -->
        {include file="common/footer" /}
    </div>
</body>
<!-- 引用 js 脚本引用列表 -->
{include file="common/script" /}
<!-- 在此下方编写脚本 -->
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                headerActive: false, // header 列表显示-true 隐藏-false
                headerId: 5, //新闻动态id==5
                page:{
                    total: 0, // 总条数
                    per_page: 10, // 每页条数
                    current_page: 1, // 第几页
                },
                gallery: [],
                newsList: []
            }
        },
        mounted: function() {
            http.get('/api/index/news').then(res=>{
                this.gallery = res.data.data.gallery;
                this.newsList = res.data.data.news.data;
                this.pages.total = res.data.data.news.total;
            });
        },
        methods: {
            goPage(param) {
                window.location.href= '/mobile/index/news_detail?newsid='+param;
            }
        }
    });

    // 调用函数组件，弹出一个 Toast
    // vant.Toast('提示');
</script>
<!-- 在此上方编写脚本 -->
</html>