<aside class="Hui-admin-aside-wrapper">
    <div class="Hui-admin-logo-wrapper">
        <a class="logo navbar-logo" href="/aboutHui.shtml">
            <i class="va-m iconpic global-logo"></i>
            <span class="va-m">胡杨大学</span>
        </a>
    </div>
    <div class="Hui-admin-menu-dropdown bk_2">
        <!--<dl id="menu-home" class="Hui-menu">
            <dd class="Hui-menu-item-frist">
                <ul>
                    <li><a href="{:url('admin/home/index')}" title="首页"><i class="Hui-iconfont">&#xe616;</i>&nbsp; 首页</a></li>
                </ul>
            </dd>
        </dl>-->
        <dl id="menu-article" class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe616;</i> 活动管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="{:url('admin/activity/lists')}" title="活动管理">活动管理</a></li>
                    <li><a href="{:url('admin/activity/add')}"  title="新增活动">新增活动</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-product" class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe620;</i>课程管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="{:url('admin/course/index')}" title="课程管理">课程管理</a></li>
                    <li><a href="{:url('admin/course/courseType')}" title="课程分类">课程分类</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-product" class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe620;</i>新闻管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="{:url('admin/news/lists')}" title="品牌管理">新闻管理</a></li>
                    <li><a href="{:url('admin/news/add')}" title="分类管理">新增新闻</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-product" class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe620;</i>教师管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="{:url('admin/teachers/index')}" title="教师管理">教师管理</a></li>
                    <li><a href="{:url('admin/teachers/add')}" title="新增教师">新增教师</a></li>
                    <li><a href="{:url('admin/teachers/series')}" title="院系管理">院系管理</a></li>
                </ul>
            </dd>
        </dl>
        <script type="text/javascript">

        </script>
<!--        <dl id="menu-comments" class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe622;</i> 评论管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="comment-list.html" title="评论列表">评论列表</a></li>
                    <li><a href="feedback-list.html" title="意见反馈">意见反馈</a></li>
                </ul>
            </dd>
        </dl>-->
        <dl id="menu-admin" class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="{:url('admin/admin/all')}" title="管理员列表">管理员列表</a></li>
                    {if session('admin.is_super')==1}
                    <li><a href="{:url('admin/admin/add')}" title="管理员添加">管理员添加</a></li>
                    {/if}
                </ul>
            </dd>
        </dl>
        <dl id="menu-gallery" class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe62d;</i> 轮播图管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="{:url('admin/gallery/index',['webno'=>0])}" title="首页轮播管理">首页</a></li>
                    <li><a href="{:url('admin/gallery/index',['webno'=>1])}" title="胡杨概况轮播">胡杨概况</a></li>
                    <li><a href="{:url('admin/gallery/index',['webno'=>2])}" title="核心课程轮播">核心课程</a></li>
                    <li><a href="{:url('admin/gallery/index',['webno'=>3])}" title="师资力量轮播">师资力量</a></li>
                    <li><a href="{:url('admin/gallery/index',['webno'=>4])}" title="新闻动态轮播">新闻动态</a></li>
                    <li><a href="{:url('admin/gallery/index',['webno'=>5])}" title="联系我们轮播">联系我们</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-gallery" class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe62d;</i> 广告管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="{:url('admin/ads/index')}" title="广告管理">广告管理</a></li>
                    <li><a href="{:url('admin/ads/location')}" title="广告位置">广告位置</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-errorPage" class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe6e0;</i> 异常页面<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li><a href="error-404.html" title="404">404</a></li>
                    <li><a href="error-500.html" title="404">500</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>
<div class="Hui-admin-aside-mask"></div>