<!--_meta 作为公共模版分离出去-->
{include file="Common/meta" /}
	<!--/meta 作为公共模版分离出去-->

	<title>新增文章 - 资讯管理 - h-ui.admin.pro v1.0</title>
	<meta name="keywords" content="h-ui.admin.pro v1.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
	<meta name="description" content="h-ui.admin.pro v1.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
    <article class="clearfix pd-20" id="add">
        <el-form :model="dataForm" label-width="130px" :rules="rules" ref="dataForm">
            <el-form-item label="教师姓名；" prop="teachername">
                <el-input v-model="dataForm.teachername"></el-input>
            </el-form-item>
            <el-form-item label="院系：" prop="seriesNO">
                <el-select v-model="dataForm.seriesNO" placeholder="请选择院系">
                   {volist name="series" id="vo"}
                    <el-option label="{$vo.series}" :value="{$vo.seriesID}"></el-option>
                    {/volist}
                </el-select>
            </el-form-item>
            <el-form-item label="教师资历: " prop="teacherlevel">
                <el-input v-model="dataForm.teacherlevel"></el-input>
            </el-form-item>
            <el-form-item label="职务: " prop="job">
                <el-input v-model="dataForm.job"></el-input>
            </el-form-item>
            <el-form-item label="教师介绍: " prop="teacherdescription">
                <el-input type="textarea" v-model="dataForm.teacherdescription" maxlength="500"
                :autosize="{ minRows: 5, maxRows: 7}" show-word-limit>
                </el-input>
            </el-form-item>
            <el-form-item label="图片 (472*300 px)：" prop="teacherphoto">
                <el-upload drag :action="uploadAction" :show-file-list="false"
                    :on-success="uploadImageSuccess" :on-error="uploadImageError" 
                    :before-upload="beforeImageUpload" accept="image/*">
                    <i class="el-icon-upload" v-show="!dataForm.teacherphoto"></i>
                    <img v-show="dataForm.teacherphoto" :src="dataForm.teacherphoto"  class="el-upload-dragger"/>
                    <div class="el-upload__text"v-show="!dataForm.teacherphoto">将文件拖到此处，或<em>点击上传</em></div>
                    <div class="el-upload__tip" slot="tip" style="margin-top: -15px;">图片大小(472*300 px)</div>
                </el-upload> 
            </el-form-item>
            <el-form-item label="排序：" prop="sort">
                <el-input-number v-model="dataForm.sort" controls-position="right" :min="0" :max="100"></el-input-number>
            </el-form-item>
            <el-form-item label="是否显示：" prop="isShow">
                <el-switch v-model="dataForm.isShow" :active-text="dataForm.isShow? '显示':'隐藏'"></el-switch>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm('dataForm')">立即提交</el-button>
                <el-button @click="resetForm('dataForm')">重置</el-button>
            </el-form-item>
        </el-form>
    </article>

	<!--_footer 作为公共模版分离出去-->
{include file="Common/footer" /}
	<!--/_footer /作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<!--<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
	<script type="text/javascript" src="__ADMIN__/lib/webuploader/0.1.5/webuploader.min.js"></script>
	<script type="text/javascript" src="__ADMIN__/lib/ueditor/1.4.3/ueditor.config.js"></script>
	<script type="text/javascript" src="__ADMIN__/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
	<script type="text/javascript" src="__ADMIN__/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
	<script type="text/javascript" src="__ADMIN__/business/js/main.js"></script>-->
	<!--uploader插件基本配置-->
    <script type="text/javascript">
        new Vue({
            el: '#add',
            data: function() {
                return {
                    uploadAction: '/admin/Webupload/teacherpicUpload', // 图片上传服务器地址
                    dataForm: {
                        teachername: '',
                        seriesNO: null,
                        teacherlevel: '',
                        job: null,
                        teacherdescription: null,
                        teacherphoto: null,
                        sort: null,
                        isShow: true
                    },
                    rules: {
                        teachername: [
                            { required: true, message: '请填写教师名称', trigger: 'blur' }
                        ],
                        seriesNO: [
                            { required: true, message: '请选择院系', trigger: 'change' }
                        ],
                        teacherdescription: [
                            { required: true, message: '请填写教师介绍', trigger: 'blur' }
                        ]
                    },
                    uploadLoading: false
                }
            },
            mounted() {
                console.log(this.dataForm)
            },
            methods: {
                uploadImageSuccess(res, file) {
                    layer.close(this.uploadLoading);
                    layer.msg('上传成功', {icon: 1});
                    this.dataForm.teacherphoto = '/upload/teacherpic/'+ res;
                },
                uploadImageError(err, file) {
                    layer.close(this.uploadLoading);
                    layer.msg('上传失败，状态 is_show:'+err.is_show);
                },
                beforeImageUpload(file) {
                    // const isJPG = file.type === 'image/jpeg';
                    // const isLt2M = file.size / 1024 / 1024 < 2;

                    // if (!isJPG) {
                    // this.$message.error('上传图片只能是 JPG 格式!');
                    // }
                    // if (!isLt2M) {
                    // this.$message.error('上传图片大小不能超过 2MB!');
                    // }
                    // return isJPG && isLt2M;
                    this.uploadLoading = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                },

                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            // 提交数据的请求
                            this.dataForm.isShow = this.dataForm.isShow ? 1:0;
                            var index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                            setTimeout(()=> {
                                http_post('/admin/teachers/add', this.dataForm).then((res) => {
                                    layer.close(index);
                                    this.$refs[formName].resetFields();
                                    layer.msg("提交成功", {icon:1});
                                });
                            }, 500);                            
                        } else {
                            layer.msg("请填写必填项");
                            return false;
                        }
                    });
                    
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                }
            }
        })
    </script>
	<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
