<!--_meta 作为公共模版分离出去-->
{include file="Common/meta" /}
	<!--/meta 作为公共模版分离出去-->
	<title>新增广告位置 </title>
	<meta name="keywords" content="h-ui.admin.pro v1.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="h-ui.admin.pro v1.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>

<body>
	<article class="clearfix pd-20" id="edit">
        <el-form :model="dataForm" label-width="130px" :rules="rules" ref="dataForm">
            <el-form-item label="位置类型：" prop="positionType">
                <el-select v-model="dataForm.positionType" placeholder="请选择位置类型">
                    <el-option label="PC版" :value="1"></el-option>
                    <el-option label="手机版" :value="2"></el-option>
                    <el-option label="微信版" :value="3"></el-option>
                    <el-option label="微信小程序" :value="4"></el-option>
                </el-select>
              </el-form-item>
            <el-form-item label="位置名称：" prop="positionName">
                <el-input v-model="dataForm.positionName"></el-input>
            </el-form-item>
            <el-form-item label="位置代码：" prop="positionCode">
                <el-input v-model="dataForm.positionCode"></el-input>
            </el-form-item>
            <el-form-item label="建议宽度：" prop="positionWidth">
                <el-input v-model="dataForm.positionWidth"></el-input>
            </el-form-item>
            <el-form-item label="建议高度：" prop="positionHeight">
                <el-input v-model="dataForm.positionHeight"></el-input>
            </el-form-item>
            <el-form-item label="排序号：">
                <el-input-number v-model="dataForm.apSort" controls-position="right" :min="0" :max="100"></el-input-number>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm('dataForm')">立即提交</el-button>
                <el-button @click="resetForm('dataForm')">重置</el-button>
            </el-form-item>
        </el-form>
    </article>

    <!-- footer 作为公共模板分离出去 -->
    {include file="Common/footer" /}
    <!--请在下方写此页面业务相关的脚本-->
	<!-- <script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/messages_zh.js"></script> -->
    <script type="text/javascript">
        new Vue({
            el: '#edit',
            data: function() {
                return {
                    dataForm: {
                        positionName: '',
                        positionWidth:'',
                        positionHeight: '',
                        positionType: null,
                        positionCode: '',
                        apSort: ''
                    },
                    rules: {
                        positionName: [
                            { required: true, message: '请输入位置名称', trigger: 'blur' }
                        ],
                        positionWidth: [
                            { required: true, message: '请输入位置宽度', trigger: 'blur' }
                        ],
                        positionHeight: [
                            { required: true, message: '请输入位置高度', trigger: 'blur' }
                        ],
                        positionType: [
                            { required: true, message: '请选择位置类型', trigger: 'change' }
                        ],
                        positionCode: [
                            { required: true, message: '请输入位置代码', trigger: 'blur' }
                        ]
                    }
                }
            },
            mounted() {
                console.log(this.dataForm.webno)
            },
            methods: {
                
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            // 提交数据的请求
                            var index = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                            setTimeout(()=> {
                                http_post('/admin/ads/saveLocation', this.dataForm).then((res) => {
                                    layer.close(index);
                                    this.$refs[formName].resetFields();
                                    layer.msg("提交成功", {icon:1});
                                });
                            }, 500);                            
                        } else {
                            layer.msg("必填信息未填写");
                            return false;
                        }
                    });
                    
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                }
            }
        })
    </script>
</body>
