<!DOCTYPE HTML>
<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>我们的优势</title>
<meta name='keywords' content="创合汇咨询——企业定制课程与管理咨询项目" />
<meta name='description' content="创合汇咨询——企业定制课程与管理咨询项目" />


<!-- Apple iOS and Android stuff -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="__CON__/images/icon.png"/>
<link rel="apple-touch-icon-precomposed" href="__CON__/images/icon.png" />
<link rel="apple-touch-startup-image" media="screen and (orientation: portrait)" href="__CON__/images/startup.png" />
<link rel="apple-touch-startup-image" media="screen and (orientation: landscape)" href="__CON__/images/startupL.png" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1" />
<script type="text/javascript">
function fBrowserRedirect()
{    
    var sUserAgent = navigator.userAgent.toLowerCase();    
    var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";      
    var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";    
    var bIsMidp = sUserAgent.match(/midp/i) == "midp";    
    var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";    
    var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";    
    var bIsAndroid = sUserAgent.match(/android/i) == "android";    
    var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";    
    var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";    
   
    if(bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM){    
            window.location.href = "/mobile/";   
    }     
}   

fBrowserRedirect();  
</script> 
<link href="__CON__/css/flexslider.css" type="text/css" rel="stylesheet" />
<link href="__CON__/css/reset.css" type="text/css" rel="stylesheet" />
<link href="__CON__/css/layout.css" type="text/css" rel="stylesheet" />
<link href="__CON__/css/common.css" type="text/css" rel="stylesheet" />
<link href="__CON__/css/page.css" type="text/css" rel="stylesheet" />
<!--[if IE]><script src="__CON__/js/html5.js"></script><![endif]-->
<!--[if lt IE 10]><script type="text/javascript" src="__CON__/js/pie.js"></script><![endif]-->
<script type="text/javascript" src="__CON__/js/jquery.min.js"></script>
<script type="text/javascript" src="__CON__/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="__CON__/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="__CON__/js/jquery-powerswitch.js"></script>
<script type="text/javascript">
$(function(){

	 $('.flexslider').flexslider({
                animation: "fade",
                slideshow: true,
                slideshowSpeed: 3000,
                animationSpeed: 2000,
                touch: false,
                controlNav: true,
                directionNav: false,
                pauseOnHover: false
            });
	$(".index_btm_body .tab_body a").click(function(){
		var index = $(".index_btm_body .tab_body a").index($(this));
		$(".index_btm_body .tab_body a").removeClass("cur").eq(index).addClass("cur");
		$(".index_btm_body .tab_con .con").hide().eq(index).fadeIn();
	}).eq(0).click();
	
	
});
</script>
</head>
<body>
<header>
    {include file="public/con_header" /}
</header>
<script type="text/javascript">
   function searchAll(){
	   var str = $("#keys").val();
	   if(str=="")
		   alert("请输入要搜索的关键词");
	   else
		   location.href="/index/search/index.html?q="+str;
   }
   
  $(function() { 
	   $("ul.nav_list li").hover(function(){
			$("ul.nav_list li .sub_Nav").stop(false,true);
			$(this).find(".sub_Nav").fadeIn();	
		},function(){
			$("ul.nav_list li .sub_Nav").stop(false,true);
			$(this).find(".sub_Nav").fadeOut();
		});	
  });
   
</script>

<div class="pageBanner">
  <div class="roll flexslider">
    <ul class="slides">
    	<li><img src="__CON__/picture/20180326154331.jpg"></li>    </ul>
	</div>
	<!--<div class="txt">-->
		<!--<div class="cw">-->
		 <!--<h3></h3>-->
		<!--</div>-->
         <!---->
        <!--</div>-->
    <!--<div class="line"></div>-->
    <!--<div class="btn">-->
      <!--<div class="cw"> <a href="/index/contact/message.html" class="act" target="_blank">在线咨询</a> </div>-->
    <!--</div>-->
  
</div>
<div class="page">
  <div class="cw">
    <div class="pageBody clearfix">
      <!--left start-->
      <div class="leftBy fl">
        <div class="tit">
          <h3>我们的优势</h3>
          <h4>Our advantage</h4>
        </div>
        <div class="list03">
          <div class="content">
          	
           <div class="lay05">
	<h3>联系我们</h3>
    <div class="txt">
    	<p>021-52307916</p>
    </div>
    <div class="btn">
    <a href="{:url('chhconsulting/contact')}">在线咨询</a>
    </div> 
    <h3>官方微信</h3> 
    <div class="box">
    	<div class="fl"><img src="__CON__/picture/weixin.jpg"> </div>
        <div class="fr"><p>创合汇</p></div>
    </div>
</div>
          </div>
          <div class="bottom"></div>
        </div>
      </div>
      <!--left End-->
      <!--right start-->
      <div class="rightBy fr">
        <div class="tool clearfix">
          <div class="fl">
            <h3> 我们的优势 </h3>
          </div>
          <div class="fr"> <a href="/" target="_blank">首页</a><span class="cur">></span><a href="javascript:;" class="cur">我们的优势</a> </div>
        </div>
        <div class="contBody">
        	<p style="text-align: center;"><img src="__CON__/picture/1522743684877374.png" title="1522743684877374.png" alt="微信图片_20180403154801.png"/></p>        </div>
      </div>
      <!--right End-->
    </div>
  </div>
  <div class="right_extend"></div>
</div>
<footer>
    {include file="public/con_footer" /}
</footer>
</body>
</html>
