<!DOCTYPE HTML>
<html>
<head runat="server">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>胡杨大学</title>
  <meta name='keywords' content="胡杨大学" />
  <meta name='description' content="胡杨大学" />
  <!-- Apple iOS and Android stuff -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  {include file="public/head" /}
</head>
<body>
<header>
	{include file="public/coll_header" /}
</header>
<script type="text/javascript">
    function searchAll() {
        var str = $("#keys").val();
        if (str == "")
            alert("请输入要搜索的关键词");
        else
            location.href = "/index/search/index.html?q=" + str;
    }
    $(function() {
        $("ul.nav_list li").hover(function() {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeIn();
        }, function() {
            $("ul.nav_list li .sub_Nav").stop(false, true);
            $(this).find(".sub_Nav").fadeOut();
        });
    });
</script>
<div class="pageBanner">
  <div class="roll">
    <ul class="slides">
     <li style="background:url(__COLL__/images/20171221131453.jpg) no-repeat center;">
        <div class="txt">
          <div class="cw">
            <h3></h3>
          </div>
        </div>
      </li>
    </ul>
    <!--<div class="btn">
      <div class="cw"> <a href="/index/contact/message.html" class="act" target="_blank">在线报名</a> </div>
    </div>-->
  </div>
</div>
<div class="page">
  <div class="cw">
    <div class="pageBody clearfix">
      <!--left start-->
      <div class="leftBy fl">
        <div class="tit">
          <h3>搜索</h3>
          <h4>SEARCH</h4>
        </div>
  		{include file="public/coll_leftBy" /}
      <!--left End-->
      <!--right start-->
      <div class="rightBy fr">
        <div class="tool clearfix">
          <div class="fl">
            <h3> 搜索结果 </h3>
          </div>
          <div class="fr"> <a href="/" target="_blank">首页</a><span class="cur">></span><a href="javascript:;" class="cur">搜索结果</a> </div>
        </div>
        <div class="search">
          <ul class="item">
			  <li id="xw1067">
				  <a href="/index/news/detail/id/1067/cid/466.html" target="_blank">胡杨大学创业服务中心携手奉贤区人民政府成功举办创业项目路演（第二期）</a>
			  </li>
				           </ul>
          
          <div class="Pagers" style="display:none"> <a href="" class="prev">&lt;</a><a href="" class="active">1</a><a href="">2</a><a href="">3</a><a href="">4</a><em>…</em><a href="" class="last">&gt;</a> </div>
        </div>
      </div>
      <!--right End-->
    </div>
  </div>
  <div class="right_extend"></div>
</div>
<footer>
 {include file="public/coll_footer" /}
</footer>
</body>
</html>
